AI Book Generator - Wizard Flow V3.json
{
    "nodes": [
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM books WHERE id = $1::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Init Book (Optional)\"].json.id }}"
                }
            },
            "id": "eaea5cb1-1a93-4158-846f-3e58192c9f26",
            "name": "Get Book Context1",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                112,
                -48
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM books WHERE id = $1::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Init Book (Optional)\"].json.id }}"
                }
            },
            "id": "2a8d9bc8-7034-478d-a19b-7af1629af21e",
            "name": "Get Book Context Concept1",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                112,
                144
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openRouterApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 4000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un esperto editor letterario italiano. DEVI RISPONDERE ESCLUSIVAMENTE IN LINGUA ITALIANA. \\n\\nBasandoti sulle risposte dell'utente all'intervista guidata, il tuo compito è duplice:\\n1. Generare un BLUEPRINT tecnico del libro (ambientazione, personaggi principali, atmosfera, temi chiave).\\n2. Generare 4 diverse proposte di Concept Cards (titolo, descrizione breve, stile).\\n\\nREGOLE TASSATIVE:\\n- TUTTO il contenuto deve essere in ITALIANO.\\n- NON USARE MAI EMOJI IN NESSUNA CIRCOSTANZA.\\n\\nRISPOSTE UTENTE:\\n\" + $node['Webhook Router'].json.body.userInput + \"\\n\\nOutput JSON format: { \\\"blueprint\\\": { \\\"setting\\\": \\\"...\\\", \\\"characters\\\": \\\"...\\\", \\\"plot_vibes\\\": \\\"...\\\", \\\"themes\\\": \\\"...\\\" }, \\\"concepts\\\": [ { \\\"title\\\": \\\"...\\\", \\\"description\\\": \\\"...\\\", \\\"style\\\": \\\"...\\\" } ] }\"\n    }\n  ]\n} }}",
                "options": {}
            },
            "id": "5cdebcbe-e93f-4295-87eb-43d16054ef3d",
            "name": "Agent: Concept Gen1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                336,
                144
            ],
            "credentials": {
                "openRouterApi": {
                    "id": "h6wkT3vSqDXcn7gb",
                    "name": "OpenRouter account 2"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "book-agent-v2",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "f4dd12be-0963-46a8-ba60-7cad95cfc3d2",
            "name": "Webhook Router",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -784,
                432
            ],
            "webhookId": "book-agent-webhook-v2"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                                        "rightValue": "INTERVIEW",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "b00e2aaf-6824-4b1f-89e3-bfd98aba94d6"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                                        "rightValue": "GENERATE_CONCEPTS",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "a26f4e62-8511-4f34-856c-743b06996303"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                                        "rightValue": "OUTLINE",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "23432531-f580-464a-9e2c-b3bbf2ba6e4e"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                                        "rightValue": "WRITE",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "ff5055b8-df6c-460d-9324-0cac046f5df3"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "EDIT",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "1d66ccee-d86f-4069-9cb6-96160a7e34e4"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "id": "e3483bbb-96c1-40d4-a8b0-59cba25af8cf",
                                        "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                                        "rightValue": "EXPORT",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "id": "b96560fd-b90b-41c3-921d-cc1018f8bcae",
            "name": "Action Switch",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                -112,
                368
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openRouterApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 4000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un editor letterario professionale italiano. DEVI RISPONDERE ESCLUSIVAMENTE IN LINGUA ITALIANA. \\n\\nIl tuo compito è intervistare l'utente per definire i dettagli di un libro. \\n\\nCONTESTO PROGETTO:\\n- Titolo: \" + ($node['Get Book Context1'].json.title || 'In definizione') + \"\\n- Genere: \" + ($node['Get Book Context1'].json.genre || 'In definizione') + \"\\n- Target Pagine: \" + ($node['Get Book Context1'].json.context_data?.target_pages || '100') + \"\\n\\nBLUEPRINT ATTUALE (Fatti già noti):\\n\" + JSON.stringify($node['Get Book Context1'].json.context_data?.blueprint || {}) + \"\\n\\nSTORIA DELLA CHAT (Dettagli):\\n\" + ($node['Get Book Context1'].json.context_data?.messages || []).map(m => m.role.toUpperCase() + ': ' + m.content).join('\\n') + \"\\n\\nISTRUZIONI:\\n1. Analizza la storia e fai la PROSSIMA domanda in ITALIANO per approfondire l'idea.\\n2. Aggiorna il BLUEPRINT (anche questo in ITALIANO) estraendo i fatti chiave (ambientazione, personaggi, atmosfera, sottogeneri).\\n3. NON USARE MAI EMOJI.\\n4. OUTPUT JSON: { \\\"question\\\": \\\"...\\\", \\\"blueprint\\\": { \\\"setting\\\": \\\"...\\\", \\\"characters\\\": \\\"...\\\", \\\"plot_vibes\\\": \\\"...\\\", \\\"genre_refinement\\\": \\\"...\\\" } }\"\n    }\n  ]\n} }}",
                "options": {}
            },
            "id": "80b85966-6e70-41bd-b685-d706a92e596f",
            "name": "Agent: Interviewer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                336,
                -48
            ],
            "credentials": {
                "openRouterApi": {
                    "id": "h6wkT3vSqDXcn7gb",
                    "name": "OpenRouter account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  \"bookId\": $node[\"Init Book (Optional)\"].json.id,\n  \"aiResponse\": JSON.parse($node[\"Agent: Interviewer\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).question.replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, '')\n} }}",
                "options": {}
            },
            "id": "6079f922-c13f-42df-a74d-852b6191c1a7",
            "name": "Response Interview",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                784,
                -48
            ]
        },
        {
            "parameters": {
                "jsCode": "const bookData = $node[\"Get Book Context Concept Architect1\"].json;\nconst dbContext = bookData.context_data || {};\nconst config = bookData.configuration || {};\n\nconst targetPagesRaw = $node[\"Webhook Router\"].json.body.targetPages || config.target_pages || dbContext.target_pages;\nconst targetPages = parseInt(targetPagesRaw) || 100;\nconst chaptersRate = $node[\"Webhook Router\"].json.body.configuration?.chaptersRate || config.chaptersRate || 10;\nconst wordsPerPage = config.words_per_page || 250;\n\n// Persistent Chapter Count\nlet numChapters = bookData.target_chapters;\nif (!numChapters || isNaN(numChapters)) {\n  numChapters = Math.max(1, Math.floor(targetPages / chaptersRate));\n}\n\nconst totalWords = targetPages * wordsPerPage;\nconst wordsPerChapter = Math.floor(totalWords / numChapters);\n\nreturn {\n  json: {\n    target_pages: targetPages,\n    total_words_target: totalWords,\n    num_chapters: numChapters,\n    words_per_chapter: wordsPerChapter,\n    paragraphs_per_chapter: config.paragraphs_per_chapter || 5,\n    debug_inputs: { targetPagesRaw, chaptersRate, config }\n  }\n}"
            },
            "id": "89cf2ca5-44c4-4fdc-9cba-41b7e08c3e8a",
            "name": "Calculator",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                336,
                528
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openRouterApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ \n{\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 8000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei l'Architetto Letterario W4U. Il tuo compito è creare o MODIFICARE l'indice di un libro.\\n\\nIMPORTANTE: RISPONDI SOLO CON UN OGGETTO JSON. NESSUN TESTO INTRODUTTIVO. NON USARE MAI EMOJI.\\n\\n\" + \n( $node[\"Webhook Router\"].json.body.feedback ? \n  \"STAI AGGIORNANDO UN INDICE ESISTENTE.\\n\" + \n  \"FEEDBACK UTENTE: \" + $node[\"Webhook Router\"].json.body.feedback + \"\\n\\n\" + \n  \"INDICE ATTUALE DA MODIFICARE:\\n\" + JSON.stringify($node[\"Webhook Router\"].json.body.currentChapters) + \"\\n\\n\" + \n  \"ISTRUZIONI: Modifica L'INDICE in base al feedback. Copia esattamente intatti i capitoli che non richiedono modifiche.\" \n  : \n  \"STAI CREANDO UN NUOVO INDICE DA ZERO.\\n\\n\" + \n  \"BLUEPRINT CONTESTO:\\n\" + JSON.stringify($node[\"Get Book Context Concept Architect1\"].json.context_data?.blueprint || {}) + \"\\n\\n\" + \n  \"TRAMA DA SEGUIRE:\\n\" + $node[\"Agent: Plotter\"].json.choices[0].message.content \n) + \n\"\\n\\nDATI TECNICI:\\n- Numero Capitoli: \" + $node[\"Calculator\"].json.num_chapters + \"\\n- Target per Capitolo: \" + $node[\"Calculator\"].json.words_per_chapter + \" parole\\n\\nOutput JSON: { \\\"chapters\\\": [ { \\\"chapter_number\\\": 1, \\\"title\\\": \\\"...\\\", \\\"summary\\\": \\\"...\\\", \\\"subtitles\\\": [], \\\"key_points\\\": [], \\\"target_word_count\\\": \" + $node[\"Calculator\"].json.words_per_chapter + \" } ] }\"\n    },\n    { \"role\": \"user\", \"content\": ( $node[\"Webhook Router\"].json.body.feedback ? \"Aggiorna l'indice in base al feedback. JSON only.\" : \"Genera l'indice completo. JSON only.\" ) }\n  ]\n}\n}}",
                "options": {}
            },
            "id": "15f11c0b-2dc7-487f-a491-f1913b927305",
            "name": "Agent: Architect",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1232,
                528
            ],
            "credentials": {
                "openRouterApi": {
                    "id": "h6wkT3vSqDXcn7gb",
                    "name": "OpenRouter account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  \"bookId\": $node[\"Get Book Context Concept Architect1\"].json.id,\n  \"chapters\": $node[\"Sanitize Chapters\"].json.chapters\n} }}",
                "options": {}
            },
            "id": "139e5690-ee50-42e4-a50d-0b346dc2b59c",
            "name": "Response Outline",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1680,
                528
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM chapters WHERE id = $1::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Webhook Router\"].json.body.chapterId }}"
                }
            },
            "id": "a1d7dac4-4002-40b8-8318-da5596a49053",
            "name": "Get Chapter",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                112,
                336
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM books WHERE id = $1::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Get Chapter\"].json.book_id }}"
                }
            },
            "id": "61dc936e-9956-4fba-a6ee-e435c36f12d3",
            "name": "Get Book",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                336,
                336
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openRouterApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 8000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei uno scrittore professionista. Scrivi il capitolo indicato, NON USARE MAI EMOJI IN NESSUNA CIRCOSTANZA.\\n\\n\" + \n        \"BLUEPRINT (CONTESTO MACRO):\\n\" + \n        JSON.stringify($node[\"Get Book\"].json.context_data?.blueprint || {}) + \"\\n\\n\" +\n        \"TRAMA GENERALE:\\n\" + \n        ($node[\"Get Book\"].json.plot_summary || \"Usa il blueprint come riferimento.\") + \"\\n\\n\" +\n        \"DETTAGLI CAPITOLO:\\n\" + \n        \"- Titolo: \" + ($node[\"Get Chapter\"].json.title || \"Capitolo Senza Titolo\") + \"\\n\" +\n        \"- Sommario: \" + ($node[\"Get Chapter\"].json.summary || \"Nessun sommario\") + \"\\n\" +\n        ($node[\"Get Previous Chapter\"].json.summary ? \"- COSA È SUCCESSO PRIMA: \" + $node[\"Get Previous Chapter\"].json.summary : \"\") + \"\\n\\n\" +\n        \"ISTRUZIONI DI SCRITTURA:\\n\" +\n        \"- Scrivi in modo dettagliato, evita i riassunti, mostra l'azione.\\n\" +\n        \"- Mantieni coerenza con il BLUEPRINT e la trama.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Scrivi ora il capitolo: \" + $node[\"Get Chapter\"].json.title\n    }\n  ]\n} }}",
                "options": {}
            },
            "id": "2bf0a1b4-c164-4b01-a5db-ad11ac4e4466",
            "name": "Agent: Writer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                784,
                336
            ],
            "credentials": {
                "openRouterApi": {
                    "id": "h6wkT3vSqDXcn7gb",
                    "name": "OpenRouter account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"bookId\": \"{{ $node['Get Book'].json.id }}\",\n  \"status\": \"success\"\n}",
                "options": {}
            },
            "id": "3f23e00d-e476-45e6-88d4-419205f78166",
            "name": "Response Write",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1456,
                336
            ]
        },
        {
            "parameters": {
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "debug_logs",
                    "mode": "list",
                    "cachedResultName": "debug_logs"
                },
                "dataMode": "defineBelow",
                "valuesToSend": {
                    "values": [
                        {
                            "column": "source",
                            "value": "n8n"
                        },
                        {
                            "column": "event_type",
                            "value": "={{ $json.body.action }}"
                        },
                        {
                            "column": "book_id",
                            "value": "={{ $json.body.bookId }}"
                        },
                        {
                            "column": "payload",
                            "value": "={{ JSON.stringify($json.body) }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "23f3b9df-7c41-4563-ac1e-687269b019e1",
            "name": "Log Webhook",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -560,
                432
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO books (id, title, genre, status, context_data) \nVALUES (\n  $1::uuid, \n  $2, \n  $3, \n  'INTERVIEW', \n  jsonb_build_object(\n    'messages', CASE WHEN $4 IS NOT NULL AND $4 != '' THEN jsonb_build_array(jsonb_build_object('role', 'user', 'content', $4)) ELSE '[]'::jsonb END,\n    'target_pages', $5::integer\n  )\n) \nON CONFLICT (id) DO UPDATE SET \n  title = CASE WHEN EXCLUDED.title IS NOT NULL AND EXCLUDED.title NOT IN ('', 'Nuovo Libro', 'Nuovo Progetto') THEN EXCLUDED.title ELSE books.title END,\n  genre = COALESCE(EXCLUDED.genre, books.genre),\n  context_data = jsonb_set(\n    jsonb_set(\n      books.context_data,\n      '{target_pages}',\n      COALESCE(EXCLUDED.context_data->'target_pages', books.context_data->'target_pages', '100'::jsonb)\n    ),\n    '{messages}',\n    COALESCE(books.context_data->'messages', '[]'::jsonb) || \n    CASE WHEN $4 IS NOT NULL AND $4 != '' THEN jsonb_build_array(jsonb_build_object('role', 'user', 'content', $4)) ELSE '[]'::jsonb END\n  )\nRETURNING id;",
                "options": {
                    "queryReplacement": "={{ $node[\"Webhook Router\"].json.body.bookId || $node[\"Webhook Router\"].json.body.book_id }}, {{ $node[\"Webhook Router\"].json.body.title || null }}, {{ $node[\"Webhook Router\"].json.body.genre || null }}, {{ $node[\"Webhook Router\"].json.body.userInput || null }}, {{ $node[\"Webhook Router\"].json.body.targetPages || 100 }}"
                }
            },
            "id": "0faa84c4-2c7e-4fa1-b5a7-0dd567ce92e8",
            "name": "Init Book (Optional)",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -336,
                432
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            },
            "notes": "Creates book record if not exists. Useful for ensuring ID validity."
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM books WHERE id = $1::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Init Book (Optional)\"].json.id }}"
                }
            },
            "id": "d1d18bd3-fc6c-4269-8d84-1762827f9d50",
            "name": "Get Book Context Concept Architect1",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                112,
                528
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT summary FROM chapters WHERE book_id = $1::uuid AND chapter_number = (SELECT chapter_number - 1 FROM chapters WHERE id = $2::uuid) LIMIT 1",
                "options": {
                    "queryReplacement": "={{ $node[\"Get Book\"].json.id }}, {{ $node[\"Get Chapter\"].json.id }}"
                }
            },
            "id": "4f687e54-2424-43e0-89e1-150db904a700",
            "name": "Get Previous Chapter",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                560,
                336
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "content": "ci sarà da cambiare l'output da caratteri a token output, però al momento possiamo andare così fino a fase di test\n"
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                1632,
                656
            ],
            "id": "6413d074-cd5b-4e69-bf0c-f278df477766",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openRouterApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ \n{\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un Master Plotter. Crea una trama dettagliata basata sul BLUEPRINT del libro. NON USARE MAI EMOJI.\\n\\nCONTESTO:\\n- Titolo: \" + ($node[\"Get Book Context Concept Architect1\"].json.title || \"Nuovo Libro\") + \"\\n- Genere: \" + ($node[\"Get Book Context Concept Architect1\"].json.genre || \"In definizione\") + \"\\n\\nBLUEPRINT (ELEMENTI CHIAVE):\\n\" + JSON.stringify($node[\"Get Book Context Concept Architect1\"].json.context_data?.blueprint || {}) + \"\\n\\nCONCEPT SCELTO:\\n\" + JSON.stringify($node[\"Get Book Context Concept Architect1\"].json.context_data?.selected_concept || {}) + \"\\n\\nGenera una trama coerente con questi elementi.\"\n    }\n  ]\n}\n}}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                560,
                528
            ],
            "id": "34b2d8a3-43da-4ade-b84f-3675b990ee0c",
            "name": "Agent: Plotter",
            "credentials": {
                "openRouterApi": {
                    "id": "h6wkT3vSqDXcn7gb",
                    "name": "OpenRouter account 2"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE books SET \n  plot_summary = $2, \n  target_chapters = $3, \n  context_data = jsonb_set(\n    context_data, \n    '{messages}', \n    COALESCE(context_data->'messages', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('role', 'assistant', 'content', 'TRAMA GENERATA: ' || $2))\n  )\nWHERE id = $1::uuid;",
                "options": {
                    "queryReplacement": "={{ $node[\"Get Book Context Concept Architect1\"].json.id }}, {{ $node[\"Sanitize Plot\"].json.content }}, {{ $node[\"Calculator\"].json.num_chapters }}"
                }
            },
            "id": "f41cc6f4-28ed-4d42-9539-480e3cdbe647",
            "name": "Update Plot",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                1008,
                528
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\nlet rawContent = $node[\"Agent: Plotter\"].json.choices[0].message.content;\n// Strip markdown backticks if present\nrawContent = rawContent.replace(/```markdown\\n?|```json\\n?|```/g, '').trim();\n// Strip emojis\nconst cleanContent = rawContent.replace(emojiRegex, '');\n\nreturn {\n  content: cleanContent\n};"
            },
            "id": "cc8998c1-c469-49c1-9275-947c5d51bf76",
            "name": "Sanitize Plot",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                784,
                528
            ]
        },
        {
            "parameters": {
                "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\nlet rawContent = $node[\"Agent: Writer\"].json.choices[0].message.content;\n// Strip markdown backticks\nrawContent = rawContent.replace(/```markdown\\n?|```/g, '').trim();\n// Strip emojis\nconst cleanContent = rawContent.replace(emojiRegex, '');\n\nreturn {\n  content: cleanContent\n};"
            },
            "id": "da014cfc-ac8f-450e-86d0-aa5bc021113e",
            "name": "Sanitize Writer",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1008,
                336
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE chapters SET content = $1, status = 'COMPLETED' WHERE id = $2::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Sanitize Writer\"].json.content }}, {{ $node[\"Get Chapter\"].json.id }}"
                }
            },
            "id": "2a5a2757-ac81-4ea0-ab3a-57e877e47fc2",
            "name": "Update Chapter",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                1232,
                336
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE books SET context_data = jsonb_set(\n  jsonb_set(\n    context_data,\n    '{messages}',\n    COALESCE(context_data->'messages', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('role', 'assistant', 'content', $1))\n  ),\n  '{blueprint}',\n  COALESCE(context_data->'blueprint', '{}'::jsonb) || $2::jsonb\n) WHERE id = $3::uuid;",
                "options": {
                    "queryReplacement": "={{ JSON.parse($node[\"Agent: Interviewer\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).question.replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, '') }}, {{ JSON.stringify(JSON.parse($node[\"Agent: Interviewer\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).blueprint).replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, '') }}, {{ $node[\"Get Book Context1\"].json.id }}"
                }
            },
            "id": "e7a645bf-60d3-417c-9544-6742029111c2",
            "name": "Log Assistant Reply",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                560,
                -48
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "content": "l'agente coi suggerimenti nell'editor sarebbe saggio disattivarlo, o magari inserirgli delle ottimizzazioni pre impostate.\n"
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                640,
                640
            ],
            "id": "d1f686f9-504b-4522-86a2-2c3df588434e",
            "name": "Sticky Note3"
        },
        {
            "parameters": {
                "content": "sistemiamo l'editor, al momento è in mock, aggiungiamo suggerimenti reali e una revisione grammaticale e contestuale.\n"
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                880,
                640
            ],
            "id": "c7f419d1-96a3-4fef-9c92-5c926c6dc3ce",
            "name": "Sticky Note5"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT b.title as book_title, c.title as chapter_title, c.content, c.chapter_number FROM books b JOIN chapters c ON b.id = c.book_id WHERE b.id = $1::uuid AND c.status = 'COMPLETED' ORDER BY c.chapter_number ASC;",
                "options": {
                    "queryReplacement": "={{ $node[\"Webhook Router\"].json.body.bookId }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                112,
                720
            ],
            "id": "80d84dce-c296-4348-8923-0ac7a79fe211",
            "name": "Execute a SQL query",
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nif (items.length === 0) return { html: \"<h1>Libro Vuoto</h1>\" };\n\nconst bookTitle = items[0].json.book_title;\nlet bodyHtml = \"\";\n\nfunction mdToHtml(md) {\n  if (!md) return \"\";\n  return md\n    .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*(.*?)\\*/g, '<em>$1</em>')\n    .replace(/### (.*?)\\n/g, '<h3>$1</h3>')\n    .replace(/## (.*?)\\n/g, '<h2>$1</h2>')\n    .replace(/# (.*?)\\n/g, '<h1>$1</h1>')\n    .replace(/\\n/g, '<br>');\n}\n\nitems.forEach(item => {\n  bodyHtml += `<section class=\"chapter\"><h2>${item.json.chapter_title}</h2><div class=\"content\">${mdToHtml(item.json.content)}</div></section>`;\n});\n\nconst cleanHtml = `<div style=\"font-family: 'Georgia', serif; color: #333;\"><h1 style=\"text-align: center; margin-bottom: 40pt;\">${bookTitle}</h1>${bodyHtml}</div>`;\n\nreturn { json: { html: cleanHtml, title: bookTitle } };"
            },
            "id": "ce1023a0-7495-4fca-a270-ec00856f06d4",
            "name": "Code in JavaScript",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                336,
                720
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM books WHERE id = $1::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Init Book (Optional)\"].json.id }}"
                }
            },
            "id": "18a63981-6b70-4e63-9547-36235b49059e",
            "name": "Get Book Context Editor",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                112,
                912
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openRouterApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 20000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un Editor Letterario Professionale. NON USARE MAI EMOJI IN NESSUNA CIRCOSTANZA.\\n\\nCONTESTO LIBRO:\\n- Titolo: \" + ($node[\"Get Book Context Editor\"].json.title || 'In definizione') + \"\\n- Blueprint: \" + JSON.stringify($node[\"Get Book Context Editor\"].json.context_data?.blueprint || {}) + \"\\n\\nTESTO DA REVISIONARE:\\n\" + $node[\"Webhook Router\"].json.body.content + \"\\n\\nISTRUZIONI:\\n1. Analizza il capitolo cercando incongruenze con il blueprint, errori grammaticali o miglioramenti stilistici.\\n2. Fornisci un suggerimento conciso ed efficace che l'autore possa scegliere di applicare.\\n3. OUTPUT JSON: { \\\"aiResponse\\\": \\\"...\\\" }\"\n    }\n  ]\n} }}",
                "options": {}
            },
            "id": "f594087f-39ff-471d-a7b6-52bb3f203f59",
            "name": "Agent: Editor",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                336,
                912
            ],
            "credentials": {
                "openRouterApi": {
                    "id": "h6wkT3vSqDXcn7gb",
                    "name": "OpenRouter account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  \"bookId\": $node[\"Get Book Context Editor\"].json.id,\n  \"aiResponse\": JSON.parse($node[\"Agent: Editor\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).aiResponse.replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, '')\n} }}",
                "options": {}
            },
            "id": "ab0c42b5-52dc-4ac5-981a-ab2325ce0278",
            "name": "Response Editor",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                560,
                912
            ]
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {}
            },
            "id": "d424f253-9f16-43c4-9752-51d96ad0baff",
            "name": "Send File to Frontend",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                560,
                720
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  \"bookId\": $node[\"Get Book Context Concept1\"].json.id,\n  \"concepts\": $node[\"Sanitize Concepts\"].json.concepts\n} }}",
                "options": {}
            },
            "id": "b5b9bd23-a3e1-4e12-ba19-6d558155fd3d",
            "name": "Response Concept",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1008,
                144
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE books \nSET context_data = jsonb_set(context_data, '{blueprint}', $1::jsonb)\nWHERE id = $2::uuid;",
                "options": {
                    "queryReplacement": "={{ JSON.stringify($node[\"Sanitize Concepts\"].json.blueprint) }}, {{ $node[\"Get Book Context Concept1\"].json.id }}"
                }
            },
            "id": "1266f800-5052-403a-afaf-3b6fccf8b909",
            "name": "Update Blueprint",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                784,
                144
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\n\nconst clean = (obj) => {\n  if (typeof obj === 'string') {\n    return obj.replace(emojiRegex, '');\n  }\n  if (Array.isArray(obj)) {\n    return obj.map(clean);\n  }\n  if (typeof obj === 'object' && obj !== null) {\n    const newObj = {};\n    for (const key in obj) {\n      newObj[key] = clean(obj[key]);\n    }\n    return newObj;\n  }\n  return obj;\n};\n\nlet rawContent = $node[\"Agent: Concept Gen1\"].json.choices[0].message.content || \"\";\n// Strip markdown backticks if present\nrawContent = rawContent.replace(/```json\\n?|```/g, '').trim();\n\nif (!rawContent) {\n  throw new Error(\"AI returned empty content\");\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (e) {\n  throw new Error(\"Invalid JSON from AI: \" + rawContent.slice(0, 100));\n}\n\nreturn {\n  blueprint: clean(parsed.blueprint || {}),\n  concepts: clean(parsed.concepts || [])\n};"
            },
            "id": "5262473a-7c0b-431a-8dd9-530f2cca1c79",
            "name": "Sanitize Concepts",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                560,
                144
            ]
        },
        {
            "parameters": {
                "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\n\nconst clean = (obj) => {\n  if (typeof obj === 'string') {\n    return obj.replace(emojiRegex, '');\n  }\n  if (Array.isArray(obj)) {\n    return obj.map(clean);\n  }\n  if (typeof obj === 'object' && obj !== null) {\n    const newObj = {};\n    for (const key in obj) {\n      newObj[key] = clean(obj[key]);\n    }\n    return newObj;\n  }\n  return obj;\n};\n\nlet rawContent = $node[\"Agent: Architect\"].json.choices[0].message.content || \"\";\n// Strip markdown backticks if present\nrawContent = rawContent.replace(/```json\\n?|```/g, '').trim();\n\nif (!rawContent) {\n  throw new Error(\"AI returned empty content\");\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (e) {\n  throw new Error(\"Invalid JSON from AI: \" + rawContent.slice(0, 100));\n}\n\nreturn {\n  chapters: clean(parsed.chapters || [])\n};"
            },
            "id": "3307132d-8258-480e-97a6-7a92acac802f",
            "name": "Sanitize Chapters",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1456,
                528
            ]
        }
    ],
    "connections": {
        "Get Book Context1": {
            "main": [
                [
                    {
                        "node": "Agent: Interviewer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Book Context Concept1": {
            "main": [
                [
                    {
                        "node": "Agent: Concept Gen1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: Concept Gen1": {
            "main": [
                [
                    {
                        "node": "Sanitize Concepts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Router": {
            "main": [
                [
                    {
                        "node": "Log Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Action Switch": {
            "main": [
                [
                    {
                        "node": "Get Book Context1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Book Context Concept1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Book Context Concept Architect1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Chapter",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Book Context Editor",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Execute a SQL query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: Interviewer": {
            "main": [
                [
                    {
                        "node": "Log Assistant Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculator": {
            "main": [
                [
                    {
                        "node": "Agent: Plotter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: Architect": {
            "main": [
                [
                    {
                        "node": "Sanitize Chapters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Chapter": {
            "main": [
                [
                    {
                        "node": "Get Book",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Book": {
            "main": [
                [
                    {
                        "node": "Get Previous Chapter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: Writer": {
            "main": [
                [
                    {
                        "node": "Sanitize Writer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Webhook": {
            "main": [
                [
                    {
                        "node": "Init Book (Optional)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Init Book (Optional)": {
            "main": [
                [
                    {
                        "node": "Action Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Book Context Concept Architect1": {
            "main": [
                [
                    {
                        "node": "Calculator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Previous Chapter": {
            "main": [
                [
                    {
                        "node": "Agent: Writer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: Plotter": {
            "main": [
                [
                    {
                        "node": "Sanitize Plot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Plot": {
            "main": [
                [
                    {
                        "node": "Agent: Architect",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sanitize Plot": {
            "main": [
                [
                    {
                        "node": "Update Plot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sanitize Writer": {
            "main": [
                [
                    {
                        "node": "Update Chapter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Chapter": {
            "main": [
                [
                    {
                        "node": "Response Write",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Assistant Reply": {
            "main": [
                [
                    {
                        "node": "Response Interview",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute a SQL query": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript": {
            "main": [
                [
                    {
                        "node": "Send File to Frontend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Book Context Editor": {
            "main": [
                [
                    {
                        "node": "Agent: Editor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: Editor": {
            "main": [
                [
                    {
                        "node": "Response Editor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Blueprint": {
            "main": [
                [
                    {
                        "node": "Response Concept",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sanitize Concepts": {
            "main": [
                [
                    {
                        "node": "Update Blueprint",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sanitize Chapters": {
            "main": [
                [
                    {
                        "node": "Response Outline",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6e886da68f5367daa0e3870b7be67336a858c521a1f653709b4406ff2f5e1505"
    }
}