AI Book Generator - Wizard Flow V3.json
{
    "nodes": [
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM books WHERE id = $1::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Init Book (Optional)\"].json.id }}"
                }
            },
            "id": "cf40a8b6-3dae-40aa-b968-ab270f445de1",
            "name": "Get Book Context1",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -608,
                -320
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM books WHERE id = $1::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Init Book (Optional)\"].json.id }}"
                }
            },
            "id": "87dc9c4c-cb7a-45aa-8ad8-baf212c0b7b9",
            "name": "Get Book Context Concept1",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -928,
                -112
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openRouterApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 4000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un esperto editor letterario italiano. DEVI RISPONDERE ESCLUSIVAMENTE IN LINGUA ITALIANA. \\n\\nBasandoti sulle risposte dell'utente all'intervista guidata, il tuo compito è duplice:\\n1. Generare un BLUEPRINT tecnico del libro (ambientazione, personaggi principali, atmosfera, temi chiave).\\n2. Generare 4 diverse proposte di Concept Cards (titolo, descrizione breve, stile).\\n\\nREGOLE TASSATIVE:\\n- TUTTO il contenuto deve essere in ITALIANO.\\n- NON USARE MAI EMOJI IN NESSUNA CIRCOSTANZA.\\n\\nRISPOSTE UTENTE:\\n\" + $node['Webhook Router'].json.body.userInput + \"\\n\\nOutput JSON format: { \\\"blueprint\\\": { \\\"setting\\\": \\\"...\\\", \\\"characters\\\": \\\"...\\\", \\\"plot_vibes\\\": \\\"...\\\", \\\"themes\\\": \\\"...\\\" }, \\\"concepts\\\": [ { \\\"title\\\": \\\"...\\\", \\\"description\\\": \\\"...\\\", \\\"style\\\": \\\"...\\\" } ] }\"\n    }\n  ]\n} }}",
                "options": {}
            },
            "id": "d04ca2cf-a95c-4971-82e5-15c81a11cd0b",
            "name": "Agent: Concept Gen1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                -704,
                -112
            ],
            "credentials": {
                "openRouterApi": {
                    "id": "h6wkT3vSqDXcn7gb",
                    "name": "OpenRouter account 2"
                }
            }
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "book-agent-v2",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "af421e07-a144-4500-bd4e-2688af19fa66",
            "name": "Webhook Router",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -2512,
                160
            ],
            "webhookId": "book-agent-webhook-v2"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                                        "rightValue": "INTERVIEW",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "b00e2aaf-6824-4b1f-89e3-bfd98aba94d6"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                                        "rightValue": "GENERATE_CONCEPTS",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "a26f4e62-8511-4f34-856c-743b06996303"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                                        "rightValue": "OUTLINE",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "23432531-f580-464a-9e2c-b3bbf2ba6e4e"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                                        "rightValue": "WRITE",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "ff5055b8-df6c-460d-9324-0cac046f5df3"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.action }}",
                                        "rightValue": "EDIT",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "1d66ccee-d86f-4069-9cb6-96160a7e34e4"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 1
                                },
                                "conditions": [
                                    {
                                        "id": "e3483bbb-96c1-40d4-a8b0-59cba25af8cf",
                                        "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                                        "rightValue": "EXPORT",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "id": "9248ed24-a88f-4b61-8171-8d50b2eec1f1",
            "name": "Action Switch",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                -1872,
                96
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openRouterApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 4000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un editor letterario professionale italiano. DEVI RISPONDERE ESCLUSIVAMENTE IN LINGUA ITALIANA. \\n\\nIl tuo compito è intervistare l'utente per definire i dettagli di un libro. \\n\\nCONTESTO PROGETTO:\\n- Titolo: \" + ($node['Get Book Context1'].json.title || 'In definizione') + \"\\n- Genere: \" + ($node['Get Book Context1'].json.genre || 'In definizione') + \"\\n- Target Pagine: \" + ($node['Get Book Context1'].json.context_data?.target_pages || '100') + \"\\n\\nBLUEPRINT ATTUALE (Fatti già noti):\\n\" + JSON.stringify($node['Get Book Context1'].json.context_data?.blueprint || {}) + \"\\n\\nSTORIA DELLA CHAT (Dettagli):\\n\" + ($node['Get Book Context1'].json.context_data?.messages || []).map(m => m.role.toUpperCase() + ': ' + m.content).join('\\n') + \"\\n\\nISTRUZIONI:\\n1. Analizza la storia e fai la PROSSIMA domanda in ITALIANO per approfondire l'idea.\\n2. Aggiorna il BLUEPRINT (anche questo in ITALIANO) estraendo i fatti chiave (ambientazione, personaggi, atmosfera, sottogeneri).\\n3. NON USARE MAI EMOJI.\\n4. OUTPUT JSON: { \\\"question\\\": \\\"...\\\", \\\"blueprint\\\": { \\\"setting\\\": \\\"...\\\", \\\"characters\\\": \\\"...\\\", \\\"plot_vibes\\\": \\\"...\\\", \\\"genre_refinement\\\": \\\"...\\\" } }\"\n    }\n  ]\n} }}",
                "options": {}
            },
            "id": "edc404b3-96c9-4212-9e93-6f7996aaf832",
            "name": "Agent: Interviewer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                -384,
                -320
            ],
            "credentials": {
                "openRouterApi": {
                    "id": "h6wkT3vSqDXcn7gb",
                    "name": "OpenRouter account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  \"bookId\": $node[\"Init Book (Optional)\"].json.id,\n  \"aiResponse\": JSON.parse($node[\"Agent: Interviewer\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).question.replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, '')\n} }}",
                "options": {}
            },
            "id": "4c4631b6-b19e-48a0-9679-74000b26336b",
            "name": "Response Interview",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                64,
                -320
            ]
        },
        {
            "parameters": {
                "jsCode": "const bookData = $node[\"Get Book Context Concept Architect1\"].json;\nconst dbContext = bookData.context_data || {};\nconst config = bookData.configuration || {};\n\nconst targetPagesRaw = $node[\"Webhook Router\"].json.body.targetPages || config.target_pages || dbContext.target_pages;\nconst targetPages = parseInt(targetPagesRaw) || 100;\nconst chaptersRate = $node[\"Webhook Router\"].json.body.configuration?.chaptersRate || config.chaptersRate || 10;\nconst wordsPerPage = config.words_per_page || 250;\n\n// Persistent Chapter Count\nlet numChapters = bookData.target_chapters;\nif (!numChapters || isNaN(numChapters)) {\n  numChapters = Math.max(1, Math.floor(targetPages / chaptersRate));\n}\n\nconst totalWords = targetPages * wordsPerPage;\nconst wordsPerChapter = Math.floor(totalWords / numChapters);\n\nreturn {\n  json: {\n    target_pages: targetPages,\n    total_words_target: totalWords,\n    num_chapters: numChapters,\n    words_per_chapter: wordsPerChapter,\n    paragraphs_per_chapter: config.paragraphs_per_chapter || 5,\n    debug_inputs: { targetPagesRaw, chaptersRate, config }\n  }\n}"
            },
            "id": "6740d799-f327-4699-a59e-fa70e1e95aa9",
            "name": "Calculator",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -944,
                272
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openRouterApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ \n{\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 8000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei l'Architetto Letterario W4U. Il tuo compito è creare o MODIFICARE l'indice di un libro.\\n\\nIMPORTANTE: RISPONDI SOLO CON UN OGGETTO JSON. NESSUN TESTO INTRODUTTIVO. NON USARE MAI EMOJI.\\n\\n\" + \n( $node[\"Webhook Router\"].json.body.feedback ? \n  \"STAI AGGIORNANDO UN INDICE ESISTENTE.\\n\" + \n  \"FEEDBACK UTENTE: \" + $node[\"Webhook Router\"].json.body.feedback + \"\\n\\n\" + \n  \"INDICE ATTUALE DA MODIFICARE:\\n\" + JSON.stringify($node[\"Webhook Router\"].json.body.currentChapters) + \"\\n\\n\" + \n  \"ISTRUZIONI: Modifica L'INDICE in base al feedback. Copia esattamente intatti i capitoli che non richiedono modifiche.\" \n  : \n  \"STAI CREANDO UN NUOVO INDICE DA ZERO.\\n\\n\" + \n  \"BLUEPRINT CONTESTO:\\n\" + JSON.stringify($node[\"Get Book Context Concept Architect1\"].json.context_data?.blueprint || {}) + \"\\n\\n\" + \n  \"TRAMA DA SEGUIRE:\\n\" + $node[\"Agent: Plotter\"].json.choices[0].message.content \n) + \n\"\\n\\nDATI TECNICI:\\n- Numero Capitoli: \" + $node[\"Calculator\"].json.num_chapters + \"\\n- Target per Capitolo: \" + $node[\"Calculator\"].json.words_per_chapter + \" parole\\n\\nOutput JSON: { \\\"chapters\\\": [ { \\\"chapter_number\\\": 1, \\\"title\\\": \\\"...\\\", \\\"summary\\\": \\\"...\\\", \\\"subtitles\\\": [], \\\"key_points\\\": [], \\\"target_word_count\\\": \" + $node[\"Calculator\"].json.words_per_chapter + \" } ] }\"\n    },\n    { \"role\": \"user\", \"content\": ( $node[\"Webhook Router\"].json.body.feedback ? \"Aggiorna l'indice in base al feedback. JSON only.\" : \"Genera l'indice completo. JSON only.\" ) }\n  ]\n}\n}}",
                "options": {}
            },
            "id": "0cfa8c2d-cd65-4a65-87ef-2ec156d065ac",
            "name": "Agent: Architect",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                -48,
                272
            ],
            "credentials": {
                "openRouterApi": {
                    "id": "h6wkT3vSqDXcn7gb",
                    "name": "OpenRouter account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  \"bookId\": $node[\"Get Book Context Concept Architect1\"].json.id,\n  \"chapters\": $node[\"Sanitize Chapters\"].json.chapters\n} }}",
                "options": {}
            },
            "id": "83b5158e-1002-4a95-b814-e4f074c46cda",
            "name": "Response Outline",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                400,
                288
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM chapters WHERE id = $1::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Webhook Router\"].json.body.chapterId }}"
                }
            },
            "id": "ad44e8da-78c2-4bb3-b442-cf8e1e58dd4b",
            "name": "Get Chapter",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -608,
                80
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM books WHERE id = $1::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Get Chapter\"].json.book_id }}"
                }
            },
            "id": "2d18f3b7-92b9-4efa-9ae6-7e3c7fdad259",
            "name": "Get Book",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -336,
                80
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openRouterApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 8000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei uno scrittore professionista. Scrivi il capitolo indicato, NON USARE MAI EMOJI IN NESSUNA CIRCOSTANZA.\\n\\n\" + \n        \"BLUEPRINT (CONTESTO MACRO):\\n\" + \n        JSON.stringify($node[\"Get Book\"].json.context_data?.blueprint || {}) + \"\\n\\n\" +\n        \"TRAMA GENERALE:\\n\" + \n        ($node[\"Get Book\"].json.plot_summary || \"Usa il blueprint come riferimento.\") + \"\\n\\n\" +\n        \"DETTAGLI CAPITOLO:\\n\" + \n        \"- Titolo: \" + ($node[\"Get Chapter\"].json.title || \"Capitolo Senza Titolo\") + \"\\n\" +\n        \"- Sommario: \" + ($node[\"Get Chapter\"].json.summary || \"Nessun sommario\") + \"\\n\" +\n        ($node[\"Get Previous Chapter\"].json.summary ? \"- COSA È SUCCESSO PRIMA: \" + $node[\"Get Previous Chapter\"].json.summary : \"\") + \"\\n\\n\" +\n        \"ISTRUZIONI DI SCRITTURA:\\n\" +\n        \"- Scrivi in modo dettagliato, evita i riassunti, mostra l'azione.\\n\" +\n        \"- Mantieni coerenza con il BLUEPRINT e la trama.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Scrivi ora il capitolo: \" + $node[\"Get Chapter\"].json.title\n    }\n  ]\n} }}",
                "options": {}
            },
            "id": "b17e29e3-0ca6-407d-8f3d-758c70bf1fb2",
            "name": "Agent: Writer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                112,
                80
            ],
            "credentials": {
                "openRouterApi": {
                    "id": "h6wkT3vSqDXcn7gb",
                    "name": "OpenRouter account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"bookId\": \"{{ $node['Get Book'].json.id }}\",\n  \"status\": \"success\"\n}",
                "options": {}
            },
            "id": "c7d59bf9-3d50-4f21-8d07-e9d44651e718",
            "name": "Response Write",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                784,
                80
            ]
        },
        {
            "parameters": {
                "schema": {
                    "__rl": true,
                    "mode": "list",
                    "value": "public"
                },
                "table": {
                    "__rl": true,
                    "value": "debug_logs",
                    "mode": "list",
                    "cachedResultName": "debug_logs"
                },
                "dataMode": "defineBelow",
                "valuesToSend": {
                    "values": [
                        {
                            "column": "source",
                            "value": "n8n"
                        },
                        {
                            "column": "event_type",
                            "value": "={{ $json.body.action }}"
                        },
                        {
                            "column": "book_id",
                            "value": "={{ $json.body.bookId }}"
                        },
                        {
                            "column": "payload",
                            "value": "={{ JSON.stringify($json.body) }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "43532b30-597f-4c4c-a4d8-5d40fca11438",
            "name": "Log Webhook",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -2288,
                160
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO books (id, title, genre, status, context_data) \nVALUES (\n  $1::uuid, \n  $2, \n  $3, \n  'INTERVIEW', \n  jsonb_build_object(\n    'messages', CASE WHEN $4 IS NOT NULL AND $4 != '' THEN jsonb_build_array(jsonb_build_object('role', 'user', 'content', $4)) ELSE '[]'::jsonb END,\n    'target_pages', $5::integer\n  )\n) \nON CONFLICT (id) DO UPDATE SET \n  title = CASE WHEN EXCLUDED.title IS NOT NULL AND EXCLUDED.title NOT IN ('', 'Nuovo Libro', 'Nuovo Progetto') THEN EXCLUDED.title ELSE books.title END,\n  genre = COALESCE(EXCLUDED.genre, books.genre),\n  context_data = jsonb_set(\n    jsonb_set(\n      books.context_data,\n      '{target_pages}',\n      COALESCE(EXCLUDED.context_data->'target_pages', books.context_data->'target_pages', '100'::jsonb)\n    ),\n    '{messages}',\n    COALESCE(books.context_data->'messages', '[]'::jsonb) || \n    CASE WHEN $4 IS NOT NULL AND $4 != '' THEN jsonb_build_array(jsonb_build_object('role', 'user', 'content', $4)) ELSE '[]'::jsonb END\n  )\nRETURNING id;",
                "options": {
                    "queryReplacement": "={{ $node[\"Webhook Router\"].json.body.bookId || $node[\"Webhook Router\"].json.body.book_id }}, {{ $node[\"Webhook Router\"].json.body.title || null }}, {{ $node[\"Webhook Router\"].json.body.genre || null }}, {{ $node[\"Webhook Router\"].json.body.userInput || null }}, {{ $node[\"Webhook Router\"].json.body.targetPages || 100 }}"
                }
            },
            "id": "2d70d0ac-aba0-47f8-a173-bc6a7a91debd",
            "name": "Init Book (Optional)",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -2064,
                160
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            },
            "notes": "Creates book record if not exists. Useful for ensuring ID validity."
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM books WHERE id = $1::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Init Book (Optional)\"].json.id }}"
                }
            },
            "id": "a9e83d89-5b7d-4e6a-a1bf-ecd7b3f09b68",
            "name": "Get Book Context Concept Architect1",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -1152,
                272
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT summary FROM chapters WHERE book_id = $1::uuid AND chapter_number = (SELECT chapter_number - 1 FROM chapters WHERE id = $2::uuid) LIMIT 1",
                "options": {
                    "queryReplacement": "={{ $node[\"Get Book\"].json.id }}, {{ $node[\"Get Chapter\"].json.id }}"
                }
            },
            "id": "3ecffd2b-083e-4adb-b9d7-d40a23b0d597",
            "name": "Get Previous Chapter",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -112,
                80
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "content": "ci sarà da cambiare l'output da caratteri a token output, però al momento possiamo andare così fino a fase di test\n"
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                704,
                400
            ],
            "id": "953de934-4a1c-4f60-a565-81432532422c",
            "name": "Sticky Note1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openRouterApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ \n{\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un Master Plotter. Crea una trama dettagliata basata sul BLUEPRINT del libro. NON USARE MAI EMOJI.\\n\\nCONTESTO:\\n- Titolo: \" + ($node[\"Get Book Context Concept Architect1\"].json.title || \"Nuovo Libro\") + \"\\n- Genere: \" + ($node[\"Get Book Context Concept Architect1\"].json.genre || \"In definizione\") + \"\\n\\nBLUEPRINT (ELEMENTI CHIAVE):\\n\" + JSON.stringify($node[\"Get Book Context Concept Architect1\"].json.context_data?.blueprint || {}) + \"\\n\\nCONCEPT SCELTO:\\n\" + JSON.stringify($node[\"Get Book Context Concept Architect1\"].json.context_data?.selected_concept || {}) + \"\\n\\nGenera una trama coerente con questi elementi.\"\n    }\n  ]\n}\n}}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -720,
                272
            ],
            "id": "2028ea61-399c-4adb-9966-e8d407335693",
            "name": "Agent: Plotter",
            "credentials": {
                "openRouterApi": {
                    "id": "h6wkT3vSqDXcn7gb",
                    "name": "OpenRouter account 2"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE books SET \n  plot_summary = $2, \n  target_chapters = $3, \n  context_data = jsonb_set(\n    context_data, \n    '{messages}', \n    COALESCE(context_data->'messages', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('role', 'assistant', 'content', 'TRAMA GENERATA: ' || $2))\n  )\nWHERE id = $1::uuid;",
                "options": {
                    "queryReplacement": "={{ $node[\"Get Book Context Concept Architect1\"].json.id }}, {{ $node[\"Sanitize Plot\"].json.content }}, {{ $node[\"Calculator\"].json.num_chapters }}"
                }
            },
            "id": "e3706189-6b87-481e-8068-832bf7d0ed61",
            "name": "Update Plot",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -272,
                272
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\nlet rawContent = $node[\"Agent: Plotter\"].json.choices[0].message.content;\n// Strip markdown backticks if present\nrawContent = rawContent.replace(/```markdown\\n?|```json\\n?|```/g, '').trim();\n// Strip emojis\nconst cleanContent = rawContent.replace(emojiRegex, '');\n\nreturn {\n  content: cleanContent\n};"
            },
            "id": "d4ebdc3a-6b81-42f2-915b-db59a5d10e26",
            "name": "Sanitize Plot",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -496,
                272
            ]
        },
        {
            "parameters": {
                "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\nlet rawContent = $node[\"Agent: Writer\"].json.choices[0].message.content;\n// Strip markdown backticks\nrawContent = rawContent.replace(/```markdown\\n?|```/g, '').trim();\n// Strip emojis\nconst cleanContent = rawContent.replace(emojiRegex, '');\n\nreturn {\n  content: cleanContent\n};"
            },
            "id": "b7938945-c94e-4087-83b5-7632cb963cfa",
            "name": "Sanitize Writer",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                336,
                80
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE chapters SET content = $1, status = 'COMPLETED' WHERE id = $2::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Sanitize Writer\"].json.content }}, {{ $node[\"Get Chapter\"].json.id }}"
                }
            },
            "id": "008d739e-2ea5-4627-ba75-bf5b322a86ce",
            "name": "Update Chapter",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                560,
                80
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE books SET context_data = jsonb_set(\n  jsonb_set(\n    context_data,\n    '{messages}',\n    COALESCE(context_data->'messages', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('role', 'assistant', 'content', $1))\n  ),\n  '{blueprint}',\n  COALESCE(context_data->'blueprint', '{}'::jsonb) || $2::jsonb\n) WHERE id = $3::uuid;",
                "options": {
                    "queryReplacement": "={{ JSON.parse($node[\"Agent: Interviewer\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).question.replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, '') }}, {{ JSON.stringify(JSON.parse($node[\"Agent: Interviewer\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).blueprint).replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, '') }}, {{ $node[\"Get Book Context1\"].json.id }}"
                }
            },
            "id": "63b78069-95d3-48f5-8fd9-6df53538cf0a",
            "name": "Log Assistant Reply",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -160,
                -320
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "content": "l'agente coi suggerimenti nell'editor sarebbe saggio disattivarlo, o magari inserirgli delle ottimizzazioni pre impostate.\n"
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -304,
                384
            ],
            "id": "100ae1c7-66c4-4796-9e0d-1496df7d24fd",
            "name": "Sticky Note3"
        },
        {
            "parameters": {
                "content": "sistemiamo l'editor, al momento è in mock, aggiungiamo suggerimenti reali e una revisione grammaticale e contestuale.\n"
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                -64,
                384
            ],
            "id": "a169de4e-169b-4e94-8769-c32416844fb1",
            "name": "Sticky Note5"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT b.title as book_title, c.title as chapter_title, c.content, c.chapter_number FROM books b JOIN chapters c ON b.id = c.book_id WHERE b.id = $1::uuid AND c.status = 'COMPLETED' ORDER BY c.chapter_number ASC;",
                "options": {
                    "queryReplacement": "={{ $node[\"Webhook Router\"].json.body.bookId }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -944,
                464
            ],
            "id": "d621c0e1-bed7-4861-99f4-a68f53264d0a",
            "name": "Execute a SQL query",
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nif (items.length === 0) return { html: \"<h1>Libro Vuoto</h1>\" };\n\nconst bookTitle = items[0].json.book_title;\nlet bodyHtml = \"\";\n\nfunction mdToHtml(md) {\n  if (!md) return \"\";\n  return md\n    .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*(.*?)\\*/g, '<em>$1</em>')\n    .replace(/### (.*?)\\n/g, '<h3>$1</h3>')\n    .replace(/## (.*?)\\n/g, '<h2>$1</h2>')\n    .replace(/# (.*?)\\n/g, '<h1>$1</h1>')\n    .replace(/\\n/g, '<br>');\n}\n\nitems.forEach(item => {\n  bodyHtml += `<section class=\"chapter\"><h2>${item.json.chapter_title}</h2><div class=\"content\">${mdToHtml(item.json.content)}</div></section>`;\n});\n\nconst cleanHtml = `<div style=\"font-family: 'Georgia', serif; color: #333;\"><h1 style=\"text-align: center; margin-bottom: 40pt;\">${bookTitle}</h1>${bodyHtml}</div>`;\n\nreturn { json: { html: cleanHtml, title: bookTitle } };"
            },
            "id": "f7b68630-d231-4710-aa72-cbc67f9de5b8",
            "name": "Code in JavaScript",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -720,
                464
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM books WHERE id = $1::uuid",
                "options": {
                    "queryReplacement": "={{ $node[\"Init Book (Optional)\"].json.id }}"
                }
            },
            "id": "f9d9ecda-fe1e-425a-97e0-f6c9851f174b",
            "name": "Get Book Context Editor",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -752,
                800
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openRouterApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 20000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un Editor Letterario Professionale. NON USARE MAI EMOJI IN NESSUNA CIRCOSTANZA.\\n\\nCONTESTO LIBRO:\\n- Titolo: \" + ($node[\"Get Book Context Editor\"].json.title || 'In definizione') + \"\\n- Blueprint: \" + JSON.stringify($node[\"Get Book Context Editor\"].json.context_data?.blueprint || {}) + \"\\n\\nTESTO DA REVISIONARE:\\n\" + $node[\"Webhook Router\"].json.body.content + \"\\n\\nISTRUZIONI:\\n1. Analizza il capitolo cercando incongruenze con il blueprint, errori grammaticali o miglioramenti stilistici.\\n2. Fornisci un suggerimento conciso ed efficace che l'autore possa scegliere di applicare.\\n3. OUTPUT JSON: { \\\"aiResponse\\\": \\\"...\\\" }\"\n    }\n  ]\n} }}",
                "options": {}
            },
            "id": "0506ceaa-4490-41d1-8e40-ff914b0ba96d",
            "name": "Agent: Editor",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                -528,
                800
            ],
            "credentials": {
                "openRouterApi": {
                    "id": "h6wkT3vSqDXcn7gb",
                    "name": "OpenRouter account 2"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  \"bookId\": $node[\"Get Book Context Editor\"].json.id,\n  \"aiResponse\": JSON.parse($node[\"Agent: Editor\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).aiResponse.replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, '')\n} }}",
                "options": {}
            },
            "id": "6d5fb050-70fb-4551-ba1e-8a81f976e766",
            "name": "Response Editor",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -304,
                800
            ]
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {}
            },
            "id": "cd23d77d-31f8-4a9c-b02f-eaddc1531dfd",
            "name": "Send File to Frontend",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -496,
                464
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  \"bookId\": $node[\"Get Book Context Concept1\"].json.id,\n  \"concepts\": $node[\"Sanitize Concepts\"].json.concepts\n} }}",
                "options": {}
            },
            "id": "dfe2c32d-82a1-4828-aca8-22a5cf6c7e71",
            "name": "Response Concept",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                -32,
                -112
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE books \nSET context_data = jsonb_set(context_data, '{blueprint}', $1::jsonb)\nWHERE id = $2::uuid;",
                "options": {
                    "queryReplacement": "={{ JSON.stringify($node[\"Sanitize Concepts\"].json.blueprint) }}, {{ $node[\"Get Book Context Concept1\"].json.id }}"
                }
            },
            "id": "62a70042-935d-4322-a675-3286d191a5c9",
            "name": "Update Blueprint",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [
                -256,
                -112
            ],
            "credentials": {
                "postgres": {
                    "id": "0AsoTCNHEls3AaYu",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\n\nconst clean = (obj) => {\n  if (typeof obj === 'string') {\n    return obj.replace(emojiRegex, '');\n  }\n  if (Array.isArray(obj)) {\n    return obj.map(clean);\n  }\n  if (typeof obj === 'object' && obj !== null) {\n    const newObj = {};\n    for (const key in obj) {\n      newObj[key] = clean(obj[key]);\n    }\n    return newObj;\n  }\n  return obj;\n};\n\nlet rawContent = $node[\"Agent: Concept Gen1\"].json.choices[0].message.content || \"\";\n// Strip markdown backticks if present\nrawContent = rawContent.replace(/```json\\n?|```/g, '').trim();\n\nif (!rawContent) {\n  throw new Error(\"AI returned empty content\");\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (e) {\n  throw new Error(\"Invalid JSON from AI: \" + rawContent.slice(0, 100));\n}\n\nreturn {\n  blueprint: clean(parsed.blueprint || {}),\n  concepts: clean(parsed.concepts || [])\n};"
            },
            "id": "5c824a69-04b9-4e30-90ac-d304d82d75aa",
            "name": "Sanitize Concepts",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -480,
                -112
            ]
        },
        {
            "parameters": {
                "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\n\nconst clean = (obj) => {\n  if (typeof obj === 'string') {\n    return obj.replace(emojiRegex, '');\n  }\n  if (Array.isArray(obj)) {\n    return obj.map(clean);\n  }\n  if (typeof obj === 'object' && obj !== null) {\n    const newObj = {};\n    for (const key in obj) {\n      newObj[key] = clean(obj[key]);\n    }\n    return newObj;\n  }\n  return obj;\n};\n\nlet rawContent = $node[\"Agent: Architect\"].json.choices[0].message.content || \"\";\n// Strip markdown backticks if present\nrawContent = rawContent.replace(/```json\\n?|```/g, '').trim();\n\nif (!rawContent) {\n  throw new Error(\"AI returned empty content\");\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (e) {\n  throw new Error(\"Invalid JSON from AI: \" + rawContent.slice(0, 100));\n}\n\nreturn {\n  chapters: clean(parsed.chapters || [])\n};"
            },
            "id": "772d4021-8d5e-4c7f-81ba-04e88a9deb99",
            "name": "Sanitize Chapters",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                176,
                272
            ]
        },
        {
            "parameters": {
                "content": "toglier tast gnra tto at nnverrà ai sao\n"
            },
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                464,
                -48
            ],
            "id": "d0a24e23-88f7-40ec-aa42-f361ed8ff87f",
            "name": "Sticky Note"
        }
    ],
    "connections": {
        "Get Book Context1": {
            "main": [
                [
                    {
                        "node": "Agent: Interviewer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Book Context Concept1": {
            "main": [
                [
                    {
                        "node": "Agent: Concept Gen1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: Concept Gen1": {
            "main": [
                [
                    {
                        "node": "Sanitize Concepts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Router": {
            "main": [
                [
                    {
                        "node": "Log Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Action Switch": {
            "main": [
                [
                    {
                        "node": "Get Book Context1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Book Context Concept1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Book Context Concept Architect1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Chapter",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Get Book Context Editor",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Execute a SQL query",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: Interviewer": {
            "main": [
                [
                    {
                        "node": "Log Assistant Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculator": {
            "main": [
                [
                    {
                        "node": "Agent: Plotter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: Architect": {
            "main": [
                [
                    {
                        "node": "Sanitize Chapters",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Chapter": {
            "main": [
                [
                    {
                        "node": "Get Book",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Book": {
            "main": [
                [
                    {
                        "node": "Get Previous Chapter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: Writer": {
            "main": [
                [
                    {
                        "node": "Sanitize Writer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Webhook": {
            "main": [
                [
                    {
                        "node": "Init Book (Optional)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Init Book (Optional)": {
            "main": [
                [
                    {
                        "node": "Action Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Book Context Concept Architect1": {
            "main": [
                [
                    {
                        "node": "Calculator",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Previous Chapter": {
            "main": [
                [
                    {
                        "node": "Agent: Writer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: Plotter": {
            "main": [
                [
                    {
                        "node": "Sanitize Plot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Plot": {
            "main": [
                [
                    {
                        "node": "Agent: Architect",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sanitize Plot": {
            "main": [
                [
                    {
                        "node": "Update Plot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sanitize Writer": {
            "main": [
                [
                    {
                        "node": "Update Chapter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Chapter": {
            "main": [
                [
                    {
                        "node": "Response Write",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Assistant Reply": {
            "main": [
                [
                    {
                        "node": "Response Interview",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute a SQL query": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript": {
            "main": [
                [
                    {
                        "node": "Send File to Frontend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Book Context Editor": {
            "main": [
                [
                    {
                        "node": "Agent: Editor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent: Editor": {
            "main": [
                [
                    {
                        "node": "Response Editor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Blueprint": {
            "main": [
                [
                    {
                        "node": "Response Concept",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sanitize Concepts": {
            "main": [
                [
                    {
                        "node": "Update Blueprint",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sanitize Chapters": {
            "main": [
                [
                    {
                        "node": "Response Outline",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6e886da68f5367daa0e3870b7be67336a858c521a1f653709b4406ff2f5e1505"
    }
}