W4U Writing Assistant Workflow.json
{
  "name": "W4U Writing Assistant - Professional Fix",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cc7b0f00-c6a3-4465-a7b9-49d52424c10f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        672
      ],
      "id": "e41bde67-c8af-4470-9f9c-f276440136ad",
      "name": "Webhook",
      "webhookId": "cc7b0f00-c6a3-4465-a7b9-49d52424c10f"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-0528:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        800,
        272
      ],
      "id": "2f015465-ac6c-456d-adf0-a2d64e392007",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "lqU1y1K65uc6DxSO",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.id }}",
        "tableName": "conversation_history",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        928,
        272
      ],
      "id": "1b7e374a-e091-40b9-abc6-e12a9f701798",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\nJSON.stringify({\n  id_libro: $('Webhook').item.json.body.id,\n  output: $json.output || \"Errore: output non ricevuto\",\n  status: \"success\"\n})\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1664,
        832
      ],
      "id": "2b279de4-2603-4c0f-a2e1-0215a8bc16a3",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "dobbiamo inserire più agenti, ognuno delegato ad un compito, \n1. L'Agente \"Intervistatore\" \n\n2. L'Agente \"Architetto\" (Fase Outlining)\n\n3. L'Agente \"Scrittore\" (Fase Bulk Writing)\n\n4. L'Agente \"Editor/Impaginatore\"\nRuolo: Pulizia finale.\n",
        "height": 256,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        208
      ],
      "id": "65f3e27b-5ac0-4c4f-8ac5-fad356092d17",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Upsert_Database\"].json.stato }}",
                    "rightValue": "=intervista",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b0f7fc18-02ff-42d5-8b57-37fe8bf01eec"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d455b453-4002-4a3f-8f82-ab046c2b6d71",
                    "leftValue": "={{ $node[\"Upsert_Database\"].json.stato }}",
                    "rightValue": "outlining",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fa96ec9d-b78e-49c3-97c7-fc5f11a9ec26",
                    "leftValue": "={{ $node[\"Upsert_Database\"].json.stato }}",
                    "rightValue": "scrittura",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0a1bfed3-3b12-4b79-b5ed-a176a32bfbbd",
                    "leftValue": "{{ $json.stato }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        320,
        640
      ],
      "id": "818f54aa-3f63-485a-928c-e4e84a0c6912",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-0528:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        816,
        784
      ],
      "id": "c0ae2908-a35c-46c1-8d2b-344214516f18",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "lqU1y1K65uc6DxSO",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $node[\"Webhook\"].json.body.id.toString() }}",
        "tableName": "conversation_history",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        912,
        800
      ],
      "id": "c44dbb89-f40c-45a9-8837-9c1381f072fb",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-0528:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        816,
        1088
      ],
      "id": "fdd5153d-b7a4-4d76-8712-7cd827321c01",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "lqU1y1K65uc6DxSO",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $node[\"Webhook\"].json.body.id.toString() }}",
        "tableName": "conversation_history",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        912,
        1104
      ],
      "id": "62c16c99-e5d0-459c-9394-435c3584ff2f",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Webhook\"].json.body?.risposta || \"Ho appena creato il progetto per il mio nuovo libro intitolato '\" + ($node[\"Upsert_Database\"].json.titolo || \"Senza Titolo\") + \"'. Presentati brevemente e fammi la prima domanda per iniziare l'intervista.\" }}",
        "options": {
          "systemMessage": "{{ \"Sei il Senior Editor di GhostWriter AI. Il tuo obiettivo è collaborare con l'autore per trasformare l'idea iniziale in una struttura solida per un libro di tipo: \" + ($json.body.tipo_modulo || \"Narrativa\") + \" con un obiettivo di \" + ($json.body.parole_target || 15000) + \" parole.\n\nID PROGETTO: \" + ($json.id || $json.body.id_libro) + \"\n\n### REGOLE DI COMPORTAMENTO:\n1. COLLABORAZIONE: Non scrivere il libro ora. Sei nella fase di INTERVISTA. Devi estrarre informazioni cruciali (trama, stile, pubblico, temi).\n2. MINIMALISMO: Fai una sola domanda alla volta per non saturare l'utente.\n3. CONTESTO: Usa la cronologia per non ripetere domande già fatte.\n4. TONO: Professionale, incoraggiante, analitico e colto.\n\n### FASI DELL'INTERVISTA:\n- Fase 1 (Concetto): Esplora l'idea centrale e il 'perché' del libro.\n- Fase 2 (Struttura): Definisci l'arco narrativo o i capitoli principali.\n- Fase 3 (Stile): Accorda il tono di voce (es: formale, cinico, poetico).\n\n### TRAGUARDO:\nQuando ritieni di avere abbastanza informazioni (solitamente dopo 5-6 messaggi), genera una sezione chiamata 'SINTESI DEL PROGETTO' con i punti chiave e chiedi: 'Sei soddisfatto di questa struttura? Scrivi CONFERMA per passare alla generazione della prima bozza'.\n\nNOTE TECNICHE:\n- Se l'utente scrive 'CONFERMA', rispondi confermando che il blueprint è stato salvato e che sei pronto a procedere.\" }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        800,
        400
      ],
      "id": "2b8caa7d-9ad8-435a-a7af-638236ef6374",
      "name": "intervista"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \"Analizza tutta la conversazione precedente e genera l'indice dei capitoli in formato JSON, come richiesto nelle istruzioni di sistema. Non rispondere all'utente, scrivi solo il codice JSON.\" }}",
        "options": {
          "systemMessage": "Sei un Editor Senior e un esperto Architetto Letterario. Il tuo compito è analizzare la cronologia della conversazione tra l'utente e l'assistente per estrarre tutti i dettagli chiave del libro.\n\nOBIETTIVO: Generare un indice strutturato e dettagliato. REGOLE:\n\nRestituisci un elenco di 10 capitoli.\n\nPer ogni capitolo, fornisci un Titolo accattivante e un Riassunto Operativo di almeno 3-4 frasi che spieghi cosa deve essere scritto in quel capitolo.\n\nMantieni lo stile e il tono concordati durante l'intervista.\n\nNon salutare e non aggiungere commenti, restituisci solo l'indice.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        608
      ],
      "id": "96e0a062-3768-4f58-9261-d415114b50f8",
      "name": "outlining"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body?.risposta || \"Ho appena creato il progetto per il mio nuovo libro intitolato '\" + ($node[\"Webhook\"].json.body.titolo || \"Senza Titolo\") + \"'. Presentati brevemente e fammi la prima domanda per iniziare l'intervista.\" }}",
        "options": {
          "systemMessage": "{{ \"Sei il Senior Editor di GhostWriter AI. Il tuo obiettivo è collaborare con l'autore per trasformare l'idea iniziale in una struttura solida per un libro di tipo: \" + ($json.body.tipo_modulo || \"Narrativa\") + \" con un obiettivo di \" + ($json.body.parole_target || 15000) + \" parole.\n\nID PROGETTO: \" + ($json.id || $json.body.id_libro) + \"\n\n### REGOLE DI COMPORTAMENTO:\n1. COLLABORAZIONE: Non scrivere il libro ora. Sei nella fase di INTERVISTA. Devi estrarre informazioni cruciali (trama, stile, pubblico, temi).\n2. MINIMALISMO: Fai una sola domanda alla volta per non saturare l'utente.\n3. CONTESTO: Usa la cronologia per non ripetere domande già fatte.\n4. TONO: Professionale, incoraggiante, analitico e colto.\n\n### FASI DELL'INTERVISTA:\n- Fase 1 (Concetto): Esplora l'idea centrale e il 'perché' del libro.\n- Fase 2 (Struttura): Definisci l'arco narrativo o i capitoli principali.\n- Fase 3 (Stile): Accorda il tono di voce (es: formale, cinico, poetico).\n\n### TRAGUARDO:\nQuando ritieni di avere abbastanza informazioni (solitamente dopo 5-6 messaggi), genera una sezione chiamata 'SINTESI DEL PROGETTO' con i punti chiave e chiedi: 'Sei soddisfatto di questa struttura? Scrivi CONFERMA per passare alla generazione della prima bozza'.\n\nNOTE TECNICHE:\n- Se l'utente scrive 'CONFERMA', rispondi confermando che il blueprint è stato salvato e che sei pronto a procedere.\" }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        928
      ],
      "id": "345cefda-5968-48c3-892b-a08840d2f897",
      "name": "scrittura"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "// Estrae il JSON pulito dal messaggio dell'IA\nconst rawContent = $json.output;\nconst jsonMatch = rawContent.match(/\\[[\\s\\S]*\\]/); // Cerca le parentesi quadre dell'array\n\nif (jsonMatch) {\n  return JSON.parse(jsonMatch[0]); // Restituisce i capitoli come singoli item di n8n\n} else {\n  throw new Error(\"L'IA non ha generato un formato JSON valido\");\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        608
      ],
      "id": "c8fd4bd5-01a3-498e-9096-c34d0f1fc3ae",
      "name": "puliziaJson"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO capitoli (\n    progetto_id, \n    ordine, \n    titolo, \n    riassunto, \n    stato_scrittura\n) \nVALUES (\n    '{{ $node[\"Webhook\"].json.body.id_libro }}', \n    {{ $json.ordine }}, \n    '{{ $json.titolo.replace(/'/g, \"''\") }}', \n    '{{ $json.riassunto.replace(/'/g, \"''\") }}', \n    'da_scrivere'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1232,
        608
      ],
      "id": "2d59598e-480b-4a7c-9b80-7e3f2e576e3c",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        608
      ],
      "id": "3017f430-e1b9-46c5-84a8-fdd8ab7fb46f",
      "name": "Wait",
      "webhookId": "0d18b61a-6278-492f-b02c-76d01b6b9efb"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE progetti_libri \nSET stato = 'scrittura' \nWHERE id = '{{ $node[\"Webhook\"].json.body.id_libro }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        608
      ],
      "id": "1515e33f-7d54-4b3e-bd0c-a2f0bdd2f54e",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO progetti_libri (id, titolo, parole_target, stato, tipo_modulo)\nVALUES (\n  '{{ $('Webhook').item.json.body.id }}'::uuid, \n  '{{ $('Webhook').item.json.body.titolo }}', \n  {{ $('Webhook').item.json.body.parole_target }}, \n  '{{ $('Decisione Stato').item.json.nuovo_stato }}',\n  '{{ $('Webhook').item.json.body.tipo_modulo }}'\n)\nON CONFLICT (id) \nDO UPDATE SET \n  titolo = EXCLUDED.titolo,\n  -- Qui sta la magia: aggiorniamo lo stato solo con quello calcolato dal nostro contatore\n  stato = EXCLUDED.stato,\n  tipo_modulo = EXCLUDED.tipo_modulo\nRETURNING id, stato, titolo;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        144,
        672
      ],
      "id": "c9759348-14d0-4f55-b84b-2f67827d9b2c",
      "name": "Upsert_Database",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "Creare un nodo Custom Tool che l'agente può richiamare quando si sente pronto.\nper cambiare lo state in quello successivo\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        400
      ],
      "id": "e1263bfe-3ceb-42ac-86c4-b05de45bab2d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as totale \nFROM conversation_history \nWHERE session_id = '{{ $('Webhook').item.json.body.id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        672
      ],
      "id": "cf89ba3e-18b3-41ff-840f-c7a8c61a360b",
      "name": "Controllo Conteggio",
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d35e493-e646-4391-8936-132550c3892e",
              "name": "nuovo_stato",
              "value": "={{ $json.totale >= 4 ? 'outlining' : 'intervista' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        672
      ],
      "id": "afbdd372-b43f-406d-be77-25342347eafc",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Controllo Conteggio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "intervista",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "intervista",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "intervista",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "outlining",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "scrittura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "intervista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "outlining",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "outlining",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "scrittura",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "scrittura",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "intervista": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "outlining": {
      "main": [
        [
          {
            "node": "puliziaJson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrittura": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puliziaJson": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert_Database": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controllo Conteggio": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Upsert_Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "35bbc9ff-8431-49c9-b97f-2d7329d336a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e886da68f5367daa0e3870b7be67336a858c521a1f653709b4406ff2f5e1505"
  },
  "id": "QfAyvt8hvWaDDzar",
  "tags": []
}