workflow_v2.json
{
  "name": "AI Book Generator - Wizard Flow V2",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Init Book (Optional)1\"].json.id }}"
        }
      },
      "id": "8fc8d7da-deee-4f6b-a929-8ae347ba3bef",
      "name": "Get Book Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2512,
        2608
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Init Book (Optional)1\"].json.id }}"
        }
      },
      "id": "9042c031-2841-49d5-b685-9c770e5e1818",
      "name": "Get Book Context Concept",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2512,
        2800
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"mistralai/mistral-7b-instruct:free\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Basandoti sulla chat, genera 4 'Concept Cards'. Context: Titolo \" + ($node['Get Book Context Concept'].json.title || \"Senza Titolo\") + \", Genere \" + ($node['Get Book Context Concept'].json.genre || \"Non definito\") + \". Output JSON format: { \\\"concepts\\\": [ { \\\"title\\\": \\\"...\\\", \\\"description\\\": \\\"...\\\", \\\"style\\\": \\\"...\\\" } ] }\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": ($node['Webhook Router1'].json.body.userInput || \"Genera concetti basati sulla nostra conversazione precedente.\")\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "f5e8f73a-8abe-44ab-8489-ddb3ea46652c",
      "name": "Agent: Concept Gen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2736,
        2800
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, '').replace(/```/g, '').trim()) }}",
        "options": {}
      },
      "id": "7155050f-8808-45e8-8a63-a16b9707b025",
      "name": "Response Concept",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2960,
        2800
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-agent-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7e63924f-dc17-4819-9595-9fe274fc7e1b",
      "name": "Webhook Router1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1616,
        2992
      ],
      "webhookId": "book-agent-webhook-v2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router1\"].json.body.action }}",
                    "rightValue": "INTERVIEW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b00e2aaf-6824-4b1f-89e3-bfd98aba94d6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router1\"].json.body.action }}",
                    "rightValue": "GENERATE_CONCEPTS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router1\"].json.body.action }}",
                    "rightValue": "OUTLINE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23432531-f580-464a-9e2c-b3bbf2ba6e4e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router1\"].json.body.action }}",
                    "rightValue": "WRITE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ff5055b8-df6c-460d-9324-0cac046f5df3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "EDIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1d66ccee-d86f-4069-9cb6-96160a7e34e4"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c86cb5aa-defa-4d4e-af81-2d3152825fee",
      "name": "Action Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2288,
        2944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"mistralai/mistral-7b-instruct:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un editor letterario. Il progetto è \" + $node['Get Book Context'].json.title + \", genere \" + $node['Get Book Context'].json.genre + \", target \" + $node['Get Book Context'].json.context_data.target_pages + \" pagine. Intervista l'utente in 1 sola domanda.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": $node['Webhook Router1'].json.body.userInput\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "72e29c30-51d4-4e68-a3e7-b2bceff255c2",
      "name": "Agent: Interviewer1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2736,
        2608
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"bookId\": \"{{ $node['Init Book (Optional)1'].json.id }}\",\n  \"aiResponse\": {{ JSON.stringify($node['Agent: Interviewer1'].json.choices[0].message.content) }}\n}",
        "options": {}
      },
      "id": "60a160a5-4aba-42ea-933b-8ebb680aba01",
      "name": "Response Interview1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2960,
        2608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{\n  \"model\": \"mistralai/mistral-7b-instruct:free\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei l'Architetto Letterario. Genera un indice (chapters) basato sui seguenti dettagli.\\n\\n\" + \n      \"CONTEXT:\\n\" + \n      \"- Titolo: \" + ($node[\"Get Book Context Concept Architect\"].json.title || \"Senza Titolo\") + \"\\n\" +\n      \"- Genere: \" + ($node[\"Get Book Context Concept Architect\"].json.genre || \"Non definito\") + \"\\n\" +\n      \"- Stile Scelto: \" + JSON.stringify($node[\"Webhook Router1\"].json.body.configuration || {}) + \"\\n\\n\" +\n      \"REQUISITI:\\n\" + \n      \"- Genera esattamente tra 10 e 15 capitoli.\\n\" + \n      \"- Output JSON strict: { \\\"chapters\\\": [ { \\\"title\\\": \\\"...\\\", \\\"summary\\\": \\\"...\\\" } ] }\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Genera l'indice per questo libro.\"\n    }\n  ]\n} \n}}",
        "options": {}
      },
      "id": "1b90ae25-3971-4b45-a3ae-cfa8433fd8a5",
      "name": "Agent: Architect1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2736,
        2992
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, '').replace(/```/g, '').trim()) }}",
        "options": {}
      },
      "id": "56899c25-86d2-4a83-8526-e9c39935b239",
      "name": "Response Outline1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2960,
        2992
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM chapters WHERE id = $1::uuid",
        "options": {}
      },
      "id": "c642e2be-8a2e-49ca-a0fb-ff79525d802f",
      "name": "Get Chapter1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2576,
        3248
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {}
      },
      "id": "316c3068-3686-4211-88f9-a77913c394a4",
      "name": "Get Book1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2736,
        3184
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "df78c06b-d105-4940-98b6-c2b3e2dd48eb",
      "name": "Agent: Writer1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2960,
        3184
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE chapters SET content = $1, status = 'COMPLETED' WHERE id = $2::uuid",
        "options": {}
      },
      "id": "1bebacaa-79cd-4df6-8fbc-e26f1737ce90",
      "name": "Update Chapter1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        3184,
        3184
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"success\"}",
        "options": {}
      },
      "id": "a308fdc9-8ccf-4dfe-b65a-b18da843d1ea",
      "name": "Response Write1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3408,
        3184
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "debug_logs",
          "mode": "list",
          "cachedResultName": "debug_logs"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "source",
              "value": "n8n"
            },
            {
              "column": "event_type",
              "value": "={{ $json.body.action }}"
            },
            {
              "column": "book_id",
              "value": "={{ $json.body.bookId }}"
            },
            {
              "column": "payload",
              "value": "={{ JSON.stringify($json.body) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "81c94ce3-2018-4020-bf53-e55f45e68dc3",
      "name": "Log Webhook1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1840,
        2992
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO books (id, title, status, context_data) \nVALUES (\n  COALESCE($1, gen_random_uuid()), \n  $2, \n  'INTERVIEW', \n  $3::jsonb\n) \nON CONFLICT (id) DO NOTHING \nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $node[\"Webhook Router1\"].json.body.book_id || null }}, {{ $node[\"Webhook Router1\"].json.body.userInput || 'Nuovo Progetto' }}, {{ JSON.stringify($node[\"Webhook Router1\"].json.body) }}"
        }
      },
      "id": "b6e9f513-3f17-4bd7-99bf-c49df94a3e87",
      "name": "Init Book (Optional)1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2064,
        2992
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "notes": "Creates book record if not exists. Useful for ensuring ID validity."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"bookId\": \"{{ $node[\"Init Book (Optional)1\"].json.id }}\",\n  \"aiContent\": \"{{ $node[\"Agent: Interviewer1\"].json.choices[0].message.content }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2512,
        3376
      ],
      "id": "e8f23981-8b07-4a3b-94cc-67a078d1d413",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Init Book (Optional)1\"].json.id }}"
        }
      },
      "id": "04827810-9d30-4882-a523-b169a3db553b",
      "name": "Get Book Context Concept Architect",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2512,
        2992
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "questo nodo rompe un po' il cazzo va sistemato il parametro $1 però funziona \ntendenzialmente"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2440,
        3184
      ],
      "id": "8a68f2d5-4fb3-4a1f-8c1b-f59e9d49f058",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Router1": {
      "main": [
        [
          {
            "node": "Log Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch1": {
      "main": [
        [
          {
            "node": "Get Book Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Concept",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Concept Architect",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Chapter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context": {
      "main": [
        [
          {
            "node": "Agent: Interviewer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Concept": {
      "main": [
        [
          {
            "node": "Agent: Concept Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Interviewer1": {
      "main": [
        [
          {
            "node": "Response Interview1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Concept Gen": {
      "main": [
        [
          {
            "node": "Response Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Architect1": {
      "main": [
        [
          {
            "node": "Response Outline1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chapter1": {
      "main": [
        [
          {
            "node": "Get Book1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book1": {
      "main": [
        [
          {
            "node": "Agent: Writer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Writer1": {
      "main": [
        [
          {
            "node": "Update Chapter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Chapter1": {
      "main": [
        [
          {
            "node": "Response Write1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Webhook1": {
      "main": [
        [
          {
            "node": "Init Book (Optional)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Book (Optional)1": {
      "main": [
        [
          {
            "node": "Action Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Concept Architect": {
      "main": [
        [
          {
            "node": "Agent: Architect1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3dec56aa-d814-4f8a-8a76-619e8c0cce42",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e886da68f5367daa0e3870b7be67336a858c521a1f653709b4406ff2f5e1505"
  },
  "id": "Ju8Vmm4FMX6CL5tR",
  "tags": []
}