workflow_v2.json
{
  "name": "AI Book Generator - Wizard Flow V2",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Init Book (Optional)\"].json.id }}"
        }
      },
      "id": "1e200dd2-34ae-42a4-bc2d-ce54efb65073",
      "name": "Get Book Context1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        6752,
        6656
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Init Book (Optional)\"].json.id }}"
        }
      },
      "id": "ed4dc72b-22c0-4194-8ccc-237e17b0c595",
      "name": "Get Book Context Concept1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        6752,
        6848
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"mistralai/devstral-2512:free\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Basandoti sulla chat, genera 4 'Concept Cards'. Context: Titolo \" + ($node['Get Book Context Concept1'].json.title || \"Senza Titolo\") + \", Genere \" + ($node['Get Book Context Concept1'].json.genre || \"Non definito\") + \". Output JSON format: { \\\"concepts\\\": [ { \\\"title\\\": \\\"...\\\", \\\"description\\\": \\\"...\\\", \\\"style\\\": \\\"...\\\" } ] }\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": ($node['Webhook Router'].json.body.userInput || \"Genera concetti basati sulla nostra conversazione precedente.\")\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "a382035d-d565-4e1a-878c-14af52b09477",
      "name": "Agent: Concept Gen1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6976,
        6848
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, '').replace(/```/g, '').trim()) }}",
        "options": {}
      },
      "id": "f16b48d4-b8d7-44ab-8cbf-cab0981813cb",
      "name": "Response Concept1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        7200,
        6848
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-agent-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c92fb892-dadc-4850-a8c2-7a6bd70e6db0",
      "name": "Webhook Router",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        5856,
        7040
      ],
      "webhookId": "book-agent-webhook-v2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "INTERVIEW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b00e2aaf-6824-4b1f-89e3-bfd98aba94d6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "GENERATE_CONCEPTS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "OUTLINE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23432531-f580-464a-9e2c-b3bbf2ba6e4e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "WRITE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ff5055b8-df6c-460d-9324-0cac046f5df3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "EDIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1d66ccee-d86f-4069-9cb6-96160a7e34e4"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c75b4c55-7aa0-4f63-a8ed-b5cfca5e5791",
      "name": "Action Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        6528,
        6992
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"mistralai/devstral-2512:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un editor letterario. Il progetto è \" + $node['Get Book Context1'].json.title + \", genere \" + $node['Get Book Context1'].json.genre + \", target \" + $node['Get Book Context1'].json.context_data.target_pages + \" pagine. Intervista l'utente in 1 sola domanda.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": $node['Webhook Router'].json.body.userInput\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "ebf3e34e-7449-49bb-ba49-d5f1a268f044",
      "name": "Agent: Interviewer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6976,
        6656
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"bookId\": \"{{ $node['Init Book (Optional)'].json.id }}\",\n  \"aiResponse\": {{ JSON.stringify($node['Agent: Interviewer'].json.choices[0].message.content) }}\n}",
        "options": {}
      },
      "id": "bd6dd563-eea3-4d5b-ad89-53a034578a18",
      "name": "Response Interview",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        7200,
        6656
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{\n  \"model\": \"mistralai/devstral-2512:free\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei l'Architetto Letterario. Genera un indice (chapters) basato sui seguenti dettagli.\\n\\n\" + \n      \"CONTEXT:\\n\" + \n      \"- Titolo: \" + ($node[\"Get Book Context Concept Architect1\"].json.title || \"Libro Senza Titolo\") + \"\\n\" +\n      \"- Genere: \" + ($node[\"Get Book Context Concept Architect1\"].json.genre || \"Genere Generico\") + \"\\n\" +\n      \"- Target Pagine: \" + ($node[\"Get Book Context Concept Architect1\"].json.context_data?.target_pages || 150) + \" pagine\\n\" +\n      \"- Stile Scelto: \" + JSON.stringify($node[\"Webhook Router\"].json.body?.configuration || \"Stile non specificato\") + \"\\n\\n\" +\n      \"REQUISITI:\\n\" + \n      \"- Calcola numero capitoli basato su target pagine: circa \" + Math.round(($node[\"Get Book Context Concept Architect1\"].json.context_data?.target_pages || 150) / 15) + \" capitoli (min 3, max 20).\\n\" +\n      \"- Ogni capitolo dovrebbe avere lunghezza approssimativa di 15-20 pagine.\\n\" +\n      \"- Genera esattamente \" + Math.max(8, Math.min(20, Math.round(($node[\"Get Book Context Concept Architect1\"].json.context_data?.target_pages || 150) / 15))) + \" capitoli.\\n\" +\n      \"- Assicurati che i capitoli formino una narrazione coerente e logica.\\n\" +\n      \"- Output JSON strict: { \\\"chapters\\\": [ { \\\"title\\\": \\\"Titolo Capitolo\\\", \\\"summary\\\": \\\"Breve descrizione del contenuto del capitolo\\\" } ] }\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Genera l'indice dettagliato per questo libro basandoti sul contesto fornito.\"\n    }\n  ]\n} \n}}",
        "options": {}
      },
      "id": "3ae6e2e1-1740-4f0e-b8f7-917355681bb8",
      "name": "Agent: Architect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6976,
        7040
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, '').replace(/```/g, '').trim()) }}",
        "options": {}
      },
      "id": "e94532d4-1c3a-4ef1-8fc6-4d85ead6702f",
      "name": "Response Outline",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        7200,
        7040
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM chapters WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Webhook Router\"].json.body.chapterId }}"
        }
      },
      "id": "7d02fca3-c8eb-4311-99a6-19e352bba6a9",
      "name": "Get Chapter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        6816,
        7296
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Get Chapter\"].json.book_id }}"
        }
      },
      "id": "14da2b06-eebe-4137-b1f2-b6cffbbb9f70",
      "name": "Get Book",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        6976,
        7232
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"mistralai/devstral-2512:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei uno scrittore professionista. Scrivi il contenuto completo per questo capitolo basato sui dettagli forniti.\\n\\n\" + \n        \"CONTEXT DEL LIBRO:\\n\" + \n        \"- Titolo: \" + ($node[\"Get Book\"].json.title || \"Senza Titolo\") + \"\\n\" +\n        \"- Genere: \" + ($node[\"Get Book\"].json.genre || \"Non definito\") + \"\\n\" +\n        \"- Target Pagine: \" + ($node[\"Get Book\"].json.context_data.target_pages || \"Non specificato\") + \"\\n\\n\" +\n        \"DETTAGLI CAPITOLO:\\n\" +\n        \"- Titolo Capitolo: \" + ($node[\"Get Chapter\"].json.title || \"Capitolo Senza Titolo\") + \"\\n\" +\n        \"- Sommario: \" + ($node[\"Get Chapter\"].json.summary || \"Nessun sommario fornito\") + \"\\n\\n\" +\n        \"ISTRUZIONI:\\n\" +\n        \"- Scrivi il contenuto narrativo completo del capitolo.\\n\" +\n        \"- Mantieni uno stile coerente con il genere del libro.\\n\" +\n        \"- Assicurati che il contenuto sia coinvolgente e ben strutturato.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Scrivi il contenuto per questo capitolo basandoti sui dettagli forniti.\"\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "8859d052-25a6-4846-99b5-80e2a961b9cc",
      "name": "Agent: Writer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7200,
        7232
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE chapters SET content = $1, status = 'COMPLETED' WHERE id = $2::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Agent: Writer\"].json.choices[0].message.content }}, {{ $node[\"Get Chapter\"].json.id }}"
        }
      },
      "id": "2903e28b-8ccd-47d7-9aa6-b11b9712c4f1",
      "name": "Update Chapter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        7424,
        7232
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"success\"}",
        "options": {}
      },
      "id": "7e75b6b6-a0da-4a6e-b9cf-666cdf774c67",
      "name": "Response Write",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        7648,
        7232
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "debug_logs",
          "mode": "list",
          "cachedResultName": "debug_logs"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "source",
              "value": "n8n"
            },
            {
              "column": "event_type",
              "value": "={{ $json.body.action }}"
            },
            {
              "column": "book_id",
              "value": "={{ $json.body.bookId }}"
            },
            {
              "column": "payload",
              "value": "={{ JSON.stringify($json.body) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7bcc48e0-85e7-458b-aca7-60928eeaf6dc",
      "name": "Log Webhook",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        6080,
        7040
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO books (id, title, status, context_data) \nVALUES (\n  COALESCE($1, gen_random_uuid()), \n  $2, \n  'INTERVIEW', \n  $3::jsonb\n) \nON CONFLICT (id) DO NOTHING \nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $node[\"Webhook Router\"].json.body.book_id || null }}, {{ $node[\"Webhook Router\"].json.body.userInput || 'Nuovo Progetto' }}, {{ JSON.stringify($node[\"Webhook Router\"].json.body) }}"
        }
      },
      "id": "3b06daf0-8bd2-4ed1-9412-12d4161c2c0c",
      "name": "Init Book (Optional)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        6320,
        7040
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "notes": "Creates book record if not exists. Useful for ensuring ID validity."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"bookId\": \"{{ $node[\"Init Book (Optional)1\"].json.id }}\",\n  \"aiContent\": \"{{ $node[\"Agent: Interviewer1\"].json.choices[0].message.content }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        6752,
        7424
      ],
      "id": "cb782ed6-4d6a-4c6a-98f1-0f1a98154d44",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Init Book (Optional)\"].json.id }}"
        }
      },
      "id": "0805153c-4c8f-42b9-9b41-d806e55ece59",
      "name": "Get Book Context Concept Architect1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        6752,
        7040
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "test: capitolo scritto ma non aggiornato su frontend\n in automatico, serviva f5\n***************\n\ngenera tutto crasha\n******************\nvai all'editor è collegato ad una lista mock, bisogna collegare i capitoli veri.\n\n",
        "height": 304,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7552,
        7072
      ],
      "id": "aeb1a056-906d-41f2-a8fd-d6b95312280a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "qui dobbiamo decidere quante e quali domande fare, una volta deciso un numero mettiamo lo stop. possiamo anche inserire un numero massimo di caratteri nel frontend da poter inserire.\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7136,
        6528
      ],
      "id": "b193e80f-2995-449b-9551-5253a08e2a13",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "l'editor dei capitoli modifica un po' tutta la struttura di tutti i capitoli, evitabile\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7200,
        6976
      ],
      "id": "07deffe9-75a3-4b28-95a0-f9243d7ec6cc",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Book Context1": {
      "main": [
        [
          {
            "node": "Agent: Interviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Concept1": {
      "main": [
        [
          {
            "node": "Agent: Concept Gen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Concept Gen1": {
      "main": [
        [
          {
            "node": "Response Concept1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Router": {
      "main": [
        [
          {
            "node": "Log Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Get Book Context1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Concept1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Concept Architect1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Chapter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Interviewer": {
      "main": [
        [
          {
            "node": "Response Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Architect": {
      "main": [
        [
          {
            "node": "Response Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chapter": {
      "main": [
        [
          {
            "node": "Get Book",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book": {
      "main": [
        [
          {
            "node": "Agent: Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Writer": {
      "main": [
        [
          {
            "node": "Update Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Chapter": {
      "main": [
        [
          {
            "node": "Response Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Webhook": {
      "main": [
        [
          {
            "node": "Init Book (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Book (Optional)": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Concept Architect1": {
      "main": [
        [
          {
            "node": "Agent: Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc37d5f3-1ac1-42ec-8c04-51af0327df23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e886da68f5367daa0e3870b7be67336a858c521a1f653709b4406ff2f5e1505"
  },
  "id": "Ju8Vmm4FMX6CL5tR",
  "tags": []
}