workflow_v2.json
{
  "name": "AI Book Generator - Wizard Flow V2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-agent-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a6ddf0d0-dc20-4f45-89bc-3ff2a0da8545",
      "name": "Webhook Router",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -496,
        368
      ],
      "webhookId": "book-agent-webhook-v2",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "INTERVIEW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b00e2aaf-6824-4b1f-89e3-bfd98aba94d6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "OUTLINE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23432531-f580-464a-9e2c-b3bbf2ba6e4e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "WRITE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ff5055b8-df6c-460d-9324-0cac046f5df3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "EDIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1d66ccee-d86f-4069-9cb6-96160a7e34e4"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "904bbec6-bfd1-4fdc-9482-2a2e1865e9ac",
      "name": "Action Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -112,
        320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"model\": \"mistralai/mistral-7b-instruct:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un editor letterario di alto livello. Il tuo obiettivo è intervistare l'autore per estrarre i dettagli del libro. Poni UNA sola domanda alla volta.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"L'autore ha questa idea: {{ $node['Webhook Router'].json.body.userInput }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "e36210e0-37e5-40d0-b40c-1c5082fe3263",
      "name": "Agent: Interviewer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        304,
        32
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"bookId\": \"{{ $node['Init Book (Optional)'].json.id }}\",\n  \"aiResponse\": {{ JSON.stringify($node['Agent: Interviewer'].json.choices[0].message.content) }}\n}",
        "options": {}
      },
      "id": "d701e2d0-ebaa-45db-93f0-1c081bc8971b",
      "name": "Response Interview",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        528,
        32
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "options": {}
      },
      "id": "31700a32-cb1d-4adc-8dd3-8ea9af9e3009",
      "name": "Agent: Architect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        304,
        240
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"bookId\": \"{{ $node[\"Init Book (Optional)\"].json.id }}\",\n  \"aiResponse\": {{ $node[\"Agent: Interviewer\"].json.choices[0].message.content }}\n}",
        "options": {}
      },
      "id": "516bbbba-c1da-4b6d-85bf-b32792213c30",
      "name": "Response Outline",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        528,
        240
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM chapters WHERE id = $1::uuid",
        "options": {}
      },
      "id": "b86c31ba-233e-4058-b51e-8efad356558a",
      "name": "Get Chapter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        112,
        432
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {}
      },
      "id": "3563208a-5c67-46bf-8f8f-ef1e84943818",
      "name": "Get Book",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        304,
        432
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "87f2e656-fc21-4e29-b400-e6955eb83dd4",
      "name": "Agent: Writer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        512,
        432
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE chapters SET content = $1, status = 'COMPLETED' WHERE id = $2::uuid",
        "options": {}
      },
      "id": "47d54b7a-c84a-4451-a82b-87dae942884f",
      "name": "Update Chapter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        704,
        432
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"bookId\": \"{{ $node[\"Init Book (Optional)\"].json.id }}\",\n  \"aiResponse\": {{ $node[\"Agent: Interviewer\"].json.choices[0].message.content }}\n}",
        "options": {}
      },
      "id": "da4cf08c-0425-4e2b-a599-173f02a467fc",
      "name": "Response Write",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        912,
        432
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO debug_logs (source, event_type, payload, book_id) \nVALUES (\n  'n8n', \n  'webhook_received', \n  '{{ JSON.stringify($json.body) }}', \n  {{ $json.body.book_id ? \"'\" + $json.body.book_id + \"'::uuid\" : \"NULL\" }}\n);",
        "options": {}
      },
      "id": "f217553d-b506-4bba-94d8-e54c580772b9",
      "name": "Log Webhook",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -352,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO books (id, title, status, context_data) \nVALUES (\n  COALESCE($1, gen_random_uuid()), \n  $2, \n  'INTERVIEW', \n  $3::jsonb\n) \nON CONFLICT (id) DO NOTHING \nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $node[\"Webhook Router\"].json.body.book_id || null }}, {{ $node[\"Webhook Router\"].json.body.userInput || 'Nuovo Progetto' }}, {{ JSON.stringify($node[\"Webhook Router\"].json.body) }}"
        }
      },
      "id": "d764f3a5-d467-4c6a-8b33-9c35dcac2b4d",
      "name": "Init Book (Optional)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -224,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "disabled": true,
      "notes": "Creates book record if not exists. Useful for ensuring ID validity."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"bookId\": \"{{ $node[\"Init Book (Optional)\"].json.id }}\",\n  \"aiContent\": \"{{ $node[\"Agent: Interviewer\"].json.choices[0].message.content }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        144,
        640
      ],
      "id": "557fc561-c9b7-46f5-be70-bd79121c8c06",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Init Book (Optional)1\"].json.id }}"
        }
      },
      "id": "5e61f032-0dce-4fb7-b824-b4ca66bea139",
      "name": "Get Book Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1280,
        1984
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Init Book (Optional)1\"].json.id }}"
        }
      },
      "id": "3274fa98-728d-4259-bc04-38404860bb4a",
      "name": "Get Book Context Concept",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1280,
        2144
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"mistralai/mistral-7b-instruct:free\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Basandoti sulla chat, genera 4 'Concept Cards'. Context: Titolo \" + ($node['Get Book Context Concept'].json.title || \"Senza Titolo\") + \", Genere \" + ($node['Get Book Context Concept'].json.genre || \"Non definito\") + \". Output JSON format: { \\\"concepts\\\": [ { \\\"title\\\": \\\"...\\\", \\\"description\\\": \\\"...\\\", \\\"style\\\": \\\"...\\\" } ] }\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": ($node['Webhook Router1'].json.body.userInput || \"Genera concetti basati sulla nostra conversazione precedente.\")\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "b0c71675-e54b-474d-a900-2e0753f0eaa8",
      "name": "Agent: Concept Gen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1472,
        2144
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, '').replace(/```/g, '').trim()) }}",
        "options": {}
      },
      "id": "a4e1b491-8993-425a-849f-e35052181ade",
      "name": "Response Concept",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1696,
        2144
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-agent-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3ca4260b-3760-40b2-a730-56226992fc5e",
      "name": "Webhook Router1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        624,
        2288
      ],
      "webhookId": "book-agent-webhook-v2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router1\"].json.body.action }}",
                    "rightValue": "INTERVIEW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b00e2aaf-6824-4b1f-89e3-bfd98aba94d6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router1\"].json.body.action }}",
                    "rightValue": "GENERATE_CONCEPTS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router1\"].json.body.action }}",
                    "rightValue": "OUTLINE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23432531-f580-464a-9e2c-b3bbf2ba6e4e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router1\"].json.body.action }}",
                    "rightValue": "WRITE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ff5055b8-df6c-460d-9324-0cac046f5df3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "EDIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1d66ccee-d86f-4069-9cb6-96160a7e34e4"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "08a1384f-18fd-49b0-b0e5-45e90d86c084",
      "name": "Action Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1104,
        2288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"mistralai/mistral-7b-instruct:free\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un editor letterario. Il progetto è \" + $node['Get Book Context'].json.title + \", genere \" + $node['Get Book Context'].json.genre + \", target \" + $node['Get Book Context'].json.context_data.target_pages + \" pagine. Intervista l'utente in 1 sola domanda.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": $node['Webhook Router1'].json.body.userInput\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "b3baccb0-b118-444a-a6a8-66b8e0768ffc",
      "name": "Agent: Interviewer1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1472,
        1984
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"bookId\": \"{{ $node['Init Book (Optional)1'].json.id }}\",\n  \"aiResponse\": {{ JSON.stringify($node['Agent: Interviewer1'].json.choices[0].message.content) }}\n}",
        "options": {}
      },
      "id": "d3f4aadf-0682-42a8-a4eb-aeea90a00c03",
      "name": "Response Interview1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1696,
        1984
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{\n  \"model\": \"mistralai/mistral-7b-instruct:free\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei l'Architetto Letterario. Genera un indice (chapters) basato sui seguenti dettagli.\\n\\n\" + \n      \"CONTEXT:\\n\" + \n      \"- Titolo: \" + ($node[\"Get Book Context Concept Architect\"].json.title || \"Senza Titolo\") + \"\\n\" +\n      \"- Genere: \" + ($node[\"Get Book Context Concept Architect\"].json.genre || \"Non definito\") + \"\\n\" +\n      \"- Stile Scelto: \" + JSON.stringify($node[\"Webhook Router1\"].json.body.configuration || {}) + \"\\n\\n\" +\n      \"REQUISITI:\\n\" + \n      \"- Genera esattamente tra 10 e 15 capitoli.\\n\" + \n      \"- Output JSON strict: { \\\"chapters\\\": [ { \\\"title\\\": \\\"...\\\", \\\"summary\\\": \\\"...\\\" } ] }\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Genera l'indice per questo libro.\"\n    }\n  ]\n} \n}}",
        "options": {}
      },
      "id": "93a9bada-63c6-4fb6-ad1c-58a67f78b0be",
      "name": "Agent: Architect1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1472,
        2288
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, '').replace(/```/g, '').trim()) }}",
        "options": {}
      },
      "id": "6397485a-6849-4c6b-b3c4-dec78bb8f07d",
      "name": "Response Outline1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1696,
        2288
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM chapters WHERE id = $1::uuid",
        "options": {}
      },
      "id": "78d1dc9a-46f3-4340-b2ae-a5513bd35b4c",
      "name": "Get Chapter1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1280,
        2416
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {}
      },
      "id": "3cf4c590-e43d-4efa-bad1-09cd4a8a9919",
      "name": "Get Book1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1472,
        2416
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "31d58759-4a80-4741-968d-677199dabb7a",
      "name": "Agent: Writer1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1680,
        2416
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE chapters SET content = $1, status = 'COMPLETED' WHERE id = $2::uuid",
        "options": {}
      },
      "id": "ef51dd80-5e60-4b11-9762-3183028795a2",
      "name": "Update Chapter1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1872,
        2416
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"success\"}",
        "options": {}
      },
      "id": "1ac02b51-5fe9-42db-94f2-1c8b5b9e2b35",
      "name": "Response Write1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2080,
        2416
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "debug_logs",
          "mode": "list",
          "cachedResultName": "debug_logs"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "source",
              "value": "n8n"
            },
            {
              "column": "event_type",
              "value": "={{ $json.body.action }}"
            },
            {
              "column": "book_id",
              "value": "={{ $json.body.bookId }}"
            },
            {
              "column": "payload",
              "value": "={{ JSON.stringify($json.body) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f476a301-a0b9-4a50-a39e-6722fcafa363",
      "name": "Log Webhook1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        800,
        2224
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO books (id, title, status, context_data) \nVALUES (\n  COALESCE($1, gen_random_uuid()), \n  $2, \n  'INTERVIEW', \n  $3::jsonb\n) \nON CONFLICT (id) DO NOTHING \nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $node[\"Webhook Router1\"].json.body.book_id || null }}, {{ $node[\"Webhook Router1\"].json.body.userInput || 'Nuovo Progetto' }}, {{ JSON.stringify($node[\"Webhook Router1\"].json.body) }}"
        }
      },
      "id": "24fc3331-37cc-4274-a78c-b3ecf993b99f",
      "name": "Init Book (Optional)1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        944,
        2288
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "notes": "Creates book record if not exists. Useful for ensuring ID validity."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"bookId\": \"{{ $node[\"Init Book (Optional)1\"].json.id }}\",\n  \"aiContent\": \"{{ $node[\"Agent: Interviewer1\"].json.choices[0].message.content }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1312,
        2624
      ],
      "id": "36f62186-8294-4acf-86dc-03511296bb37",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Init Book (Optional)1\"].json.id }}"
        }
      },
      "id": "950da990-2d1c-4c16-824e-b0957e30fd5c",
      "name": "Get Book Context Concept Architect",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1280,
        2288
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Router": {
      "main": [
        [
          {
            "node": "Log Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Agent: Interviewer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent: Architect",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Chapter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Interviewer": {
      "main": [
        [
          {
            "node": "Response Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Architect": {
      "main": [
        [
          {
            "node": "Response Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chapter": {
      "main": [
        [
          {
            "node": "Get Book",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book": {
      "main": [
        [
          {
            "node": "Agent: Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Writer": {
      "main": [
        [
          {
            "node": "Update Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Chapter": {
      "main": [
        [
          {
            "node": "Response Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Webhook": {
      "main": [
        [
          {
            "node": "Init Book (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Book (Optional)": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Router1": {
      "main": [
        [
          {
            "node": "Log Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch1": {
      "main": [
        [
          {
            "node": "Get Book Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Concept",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Concept Architect",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Chapter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context": {
      "main": [
        [
          {
            "node": "Agent: Interviewer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Concept": {
      "main": [
        [
          {
            "node": "Agent: Concept Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Interviewer1": {
      "main": [
        [
          {
            "node": "Response Interview1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Concept Gen": {
      "main": [
        [
          {
            "node": "Response Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Architect1": {
      "main": [
        [
          {
            "node": "Response Outline1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chapter1": {
      "main": [
        [
          {
            "node": "Get Book1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book1": {
      "main": [
        [
          {
            "node": "Agent: Writer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Writer1": {
      "main": [
        [
          {
            "node": "Update Chapter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Chapter1": {
      "main": [
        [
          {
            "node": "Response Write1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Webhook1": {
      "main": [
        [
          {
            "node": "Init Book (Optional)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Book (Optional)1": {
      "main": [
        [
          {
            "node": "Action Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Concept Architect": {
      "main": [
        [
          {
            "node": "Agent: Architect1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5db7d01b-7ab3-4a61-89d6-be50818afa92",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e886da68f5367daa0e3870b7be67336a858c521a1f653709b4406ff2f5e1505"
  },
  "id": "Ju8Vmm4FMX6CL5tR",
  "tags": []
}