n8n/workflows/W4U_Generate_Cover_DALLE3.json
{
  "name": "AI Book Generator - Cover Generation Fixed",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ [$node[\"Init Book (Optional)\"].json.id] }}"
        }
      },
      "id": "70c6ca10-8f10-4267-88a1-25c7c16e6c86",
      "name": "Get Book Context1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -2112,
        -1168
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ [$node[\"Init Book (Optional)\"].json.id] }}"
        }
      },
      "id": "a510fcf8-4144-4a9b-ba87-28de67c0c2fb",
      "name": "Get Book Context Concept1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -2112,
        -976
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 4000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un esperto editor letterario italiano. DEVI RISPONDERE ESCLUSIVAMENTE IN LINGUA ITALIANA. \\n\\nBasandoti sulle risposte dell'utente all'intervista guidata, il tuo compito è duplice:\\n1. Generare un BLUEPRINT tecnico del libro (ambientazione, personaggi principali, atmosfera, temi chiave).\\n2. Generare 4 diverse proposte di Concept Cards (titolo, descrizione breve, stile).\\n\\nREGOLE TASSATIVE:\\n- TUTTO il contenuto deve essere in ITALIANO.\\n- NON USARE MAI EMOJI IN NESSUNA CIRCOSTANZA.\\n\\nRISPOSTE UTENTE:\\n\" + $node['Webhook Router'].json.body.userInput + \"\\n\\nOutput JSON format: { \\\"blueprint\\\": { \\\"setting\\\": \\\"...\\\", \\\"characters\\\": \\\"...\\\", \\\"plot_vibes\\\": \\\"...\\\", \\\"themes\\\": \\\"...\\\" }, \\\"concepts\\\": [ { \\\"title\\\": \\\"...\\\", \\\"description\\\": \\\"...\\\", \\\"style\\\": \\\"...\\\" } ] }\"\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "aec1590d-6d25-4c6b-ab1b-3924633b4e3f",
      "name": "Agent: Concept Gen1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1888,
        -976
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-agent-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "570d869f-d120-4b15-8225-59cceaef6510",
      "name": "Webhook Router",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3008,
        -592
      ],
      "webhookId": "book-agent-webhook-v2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "INTERVIEW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b00e2aaf-6824-4b1f-89e3-bfd98aba94d6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "GENERATE_CONCEPTS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a26f4e62-8511-4f34-856c-743b06996303"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "OUTLINE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23432531-f580-464a-9e2c-b3bbf2ba6e4e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "WRITE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ff5055b8-df6c-460d-9324-0cac046f5df3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "EDIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1d66ccee-d86f-4069-9cb6-96160a7e34e4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e3483bbb-96c1-40d4-a8b0-59cba25af8cf",
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "EXPORT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b080577b-70fd-4809-899c-b4fbe62ef8b7",
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "GENERATE_COVER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "02e6cd0d-3884-4202-b986-c32fefaa7b41",
      "name": "Action Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2336,
        -672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"meta-llama/llama-3.3-70b-instruct:free\",\n  \"max_tokens\": 4000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un editor letterario professionale italiano. DEVI RISPONDERE ESCLUSIVAMENTE IN LINGUA ITALIANA. \\n\\nIl tuo compito è intervistare l'utente per definire i dettagli di un libro. \\n\\nCONTESTO PROGETTO:\\n- Titolo: \" + ($node['Get Book Context1'].json.title || 'In definizione') + \"\\n- Genere: \" + ($node['Get Book Context1'].json.genre || 'In definizione') + \"\\n- Target Pagine: \" + ($node['Get Book Context1'].json.context_data?.target_pages || '100') + \"\\n\\nBLUEPRINT ATTUALE (Fatti già noti):\\n\" + JSON.stringify($node['Get Book Context1'].json.context_data?.blueprint || {}) + \"\\n\\nSTORIA DELLA CHAT (Dettagli):\\n\" + ($node['Get Book Context1'].json.context_data?.messages || []).map(m => m.role.toUpperCase() + ': ' + m.content).join('\\n') + \"\\n\\nISTRUZIONI:\\n1. Analizza la storia e fai la PROSSIMA domanda in ITALIANO per approfondire l'idea.\\n2. Aggiorna il BLUEPRINT (anche questo in ITALIANO) estraendo i fatti chiave (ambientazione, personaggi, atmosfera, sottogeneri).\\n3. NON USARE MAI EMOJI.\\n4. OUTPUT JSON: { \\\"question\\\": \\\"...\\\", \\\"blueprint\\\": { \\\"setting\\\": \\\"...\\\", \\\"characters\\\": \\\"...\\\", \\\"plot_vibes\\\": \\\"...\\\", \\\"genre_refinement\\\": \\\"...\\\" } }\"\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "03feacb3-8c6d-458c-98e9-c70b75560d68",
      "name": "Agent: Interviewer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1888,
        -1168
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"bookId\": $node[\"Init Book (Optional)\"].json.id,\n  \"aiResponse\": JSON.parse($node[\"Agent: Interviewer\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).question.replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, '')\n} }}",
        "options": {}
      },
      "id": "fc6149d9-0f6f-425f-a33b-23930eec9e2b",
      "name": "Response Interview",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1440,
        -1168
      ]
    },
    {
      "parameters": {
        "jsCode": "const bookData = $node[\"Get Book Context Concept Architect1\"].json;\nconst dbContext = bookData.context_data || {};\nconst config = bookData.configuration || {};\n\nconst targetPagesRaw = $node[\"Webhook Router\"].json.body.targetPages || config.target_pages || dbContext.target_pages;\nconst targetPages = parseInt(targetPagesRaw) || 100;\nconst chaptersRate = $node[\"Webhook Router\"].json.body.configuration?.chaptersRate || config.chaptersRate || 10;\nconst wordsPerPage = config.words_per_page || 250;\n\n// Persistent Chapter Count\nlet numChapters = bookData.target_chapters;\nif (!numChapters || isNaN(numChapters)) {\n  numChapters = Math.max(1, Math.floor(targetPages / chaptersRate));\n}\n\nconst totalWords = targetPages * wordsPerPage;\nconst wordsPerChapter = Math.floor(totalWords / numChapters);\n\nreturn {\n  json: {\n    target_pages: targetPages,\n    total_words_target: totalWords,\n    num_chapters: numChapters,\n    words_per_chapter: wordsPerChapter,\n    paragraphs_per_chapter: config.paragraphs_per_chapter || 5,\n    debug_inputs: { targetPagesRaw, chaptersRate, config }\n  }\n}"
      },
      "id": "f2ccb05b-e696-48e5-bb27-06ca6febfd2c",
      "name": "Calculator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        -592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{\n  \"model\": \"deepseek/deepseek-r1-0528:free\",\n  \"max_tokens\": 8000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei l'Architetto Letterario W4U. Il tuo compito è creare o MODIFICARE l'indice di un libro.\\n\\nIMPORTANTE: RISPONDI SOLO CON UN OGGETTO JSON. NESSUN TESTO INTRODUTTIVO. NON USARE MAI EMOJI.\\n\\n\" + \n( $node[\"Webhook Router\"].json.body.feedback ? \n  \"STAI AGGIORNANDO UN INDICE ESISTENTE.\\n\" + \n  \"FEEDBACK UTENTE: \" + $node[\"Webhook Router\"].json.body.feedback + \"\\n\\n\" + \n  \"INDICE ATTUALE DA MODIFICARE:\\n\" + JSON.stringify($node[\"Webhook Router\"].json.body.currentChapters) + \"\\n\\n\" + \n  \"ISTRUZIONI: Modifica L'INDICE in base al feedback. Copia esattamente intatti i capitoli che non richiedono modifiche.\" \n  : \n  \"STAI CREANDO UN NUOVO INDICE DA ZERO.\\n\\n\" + \n  \"BLUEPRINT CONTESTO:\\n\" + JSON.stringify($node[\"Get Book Context Concept Architect1\"].json.context_data?.blueprint || {}) + \"\\n\\n\" + \n  \"TRAMA DA SEGUIRE:\\n\" + $node[\"Agent: Plotter\"].json.choices[0].message.content \n) + \n\"\\n\\nDATI TECNICI:\\n- Numero Capitoli: \" + $node[\"Calculator\"].json.num_chapters + \"\\n- Target per Capitolo: \" + $node[\"Calculator\"].json.words_per_chapter + \" parole\\n\\nOutput JSON: { \\\"chapters\\\": [ { \\\"chapter_number\\\": 1, \\\"title\\\": \\\"...\\\", \\\"summary\\\": \\\"...\\\", \\\"subtitles\\\": [], \\\"key_points\\\": [], \\\"target_word_count\\\": \" + $node[\"Calculator\"].json.words_per_chapter + \" } ] }\"\n    },\n    { \"role\": \"user\", \"content\": ( $node[\"Webhook Router\"].json.body.feedback ? \"Aggiorna l'indice in base al feedback. JSON only.\" : \"Genera l'indice completo. JSON only.\" ) }\n  ]\n}\n}}",
        "options": {}
      },
      "id": "bdd70b0e-8713-429d-b87b-7a7a08b4ff7a",
      "name": "Agent: Architect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -992,
        -592
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"bookId\": $node[\"Get Book Context Concept Architect1\"].json.id,\n  \"chapters\": $node[\"Sanitize Chapters\"].json.chapters\n} }}",
        "options": {}
      },
      "id": "8a6c6864-d5f1-4d46-bbc7-4a630f3f65cb",
      "name": "Response Outline",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -544,
        -592
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM chapters WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.chapterId] }}"
        }
      },
      "id": "d8dd574e-0897-41e1-b13b-e926325eff21",
      "name": "Get Chapter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -2112,
        -784
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ [$node[\"Get Chapter\"].json.book_id] }}"
        }
      },
      "id": "a4805d9f-e5be-461e-a7b1-6574637e4910",
      "name": "Get Book",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1888,
        -784
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"tngtech/deepseek-r1t2-chimera:free\",\n  \"max_tokens\": 8000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei uno scrittore professionista. Scrivi il capitolo indicato, NON USARE MAI EMOJI IN NESSUNA CIRCOSTANZA.\\n\\n\" + \n        \"BLUEPRINT (CONTESTO MACRO):\\n\" + \n        JSON.stringify($node[\"Get Book\"].json.context_data?.blueprint || {}) + \"\\n\\n\" +\n        \"TRAMA GENERALE:\\n\" + \n        ($node[\"Get Book\"].json.plot_summary || \"Usa il blueprint come riferimento.\") + \"\\n\\n\" +\n        \"DETTAGLI CAPITOLO:\\n\" + \n        \"- Titolo: \" + ($node[\"Get Chapter\"].json.title || \"Capitolo Senza Titolo\") + \"\\n\" +\n        \"- Sommario: \" + ($node[\"Get Chapter\"].json.summary || \"Nessun sommario\") + \"\\n\" +\n        ($node[\"Get Previous Chapter\"].json.summary ? \"- COSA È SUCCESSO PRIMA: \" + $node[\"Get Previous Chapter\"].json.summary : \"\") + \"\\n\\n\" +\n        \"ISTRUZIONI DI SCRITTURA:\\n\" +\n        \"- Scrivi in modo dettagliato, evita i riassunti, mostra l'azione.\\n\" +\n        \"- Mantieni coerenza con il BLUEPRINT e la trama.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Scrivi ora il capitolo: \" + $node[\"Get Chapter\"].json.title\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "249df429-034d-4514-a25c-42f87289f58f",
      "name": "Agent: Writer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1440,
        -784
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"bookId\": \"{{ $node['Get Book'].json.id }}\",\n  \"status\": \"success\"\n}",
        "options": {}
      },
      "id": "44c6f938-d772-4ea9-aeb1-7f7ffdbb6556",
      "name": "Response Write",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -768,
        -784
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "debug_logs",
          "mode": "list",
          "cachedResultName": "debug_logs"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "source",
              "value": "n8n"
            },
            {
              "column": "event_type",
              "value": "={{ $json.body.action }}"
            },
            {
              "column": "book_id",
              "value": "={{ $json.body.bookId }}"
            },
            {
              "column": "payload",
              "value": "={{ JSON.stringify($json.body) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b00aa432-ea19-46d9-93b0-867a90409af1",
      "name": "Log Webhook",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -2784,
        -592
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO books (id, title, author, genre, status, context_data) \nVALUES (\n  $1::uuid, \n  $2, \n  $3, \n  $4, \n  'INTERVIEW', \n  jsonb_build_object(\n    'messages', CASE WHEN $5 IS NOT NULL AND $5 != '' THEN jsonb_build_array(jsonb_build_object('role', 'user', 'content', $5)) ELSE '[]'::jsonb END,\n    'target_pages', $6::integer\n  )\n) \nON CONFLICT (id) DO UPDATE SET \n  title = CASE WHEN EXCLUDED.title IS NOT NULL AND EXCLUDED.title NOT IN ('', 'Nuovo Libro', 'Nuovo Progetto') THEN EXCLUDED.title ELSE books.title END,\n  author = COALESCE(EXCLUDED.author, books.author),\n  genre = COALESCE(EXCLUDED.genre, books.genre),\n  context_data = jsonb_set(\n    jsonb_set(\n      books.context_data,\n      '{target_pages}',\n      COALESCE(EXCLUDED.context_data->'target_pages', books.context_data->'target_pages', '100'::jsonb)\n    ),\n    '{messages}',\n    COALESCE(books.context_data->'messages', '[]'::jsonb) || \n    CASE WHEN $5 IS NOT NULL AND $5 != '' THEN jsonb_build_array(jsonb_build_object('role', 'user', 'content', $5)) ELSE '[]'::jsonb END\n  )\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId || $node[\"Webhook Router\"].json.body.book_id, $node[\"Webhook Router\"].json.body.title || null, $node[\"Webhook Router\"].json.body.author || null, $node[\"Webhook Router\"].json.body.genre || null, $node[\"Webhook Router\"].json.body.userInput || null, $node[\"Webhook Router\"].json.body.targetPages || 100] }}"
        }
      },
      "id": "7fb994e8-87db-4100-8bb4-1a6589dcdd74",
      "name": "Init Book (Optional)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -2560,
        -592
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "notes": "Creates book record if not exists. Useful for ensuring ID validity."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Init Book (Optional)\"].json.id }}"
        }
      },
      "id": "c487a13a-1916-4fcd-8146-d14ca7dbe6cd",
      "name": "Get Book Context Concept Architect1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -2112,
        -592
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT summary FROM chapters WHERE book_id = $1::uuid AND chapter_number = (SELECT chapter_number - 1 FROM chapters WHERE id = $2::uuid) LIMIT 1",
        "options": {
          "queryReplacement": "={{ [$node[\"Get Book\"].json.id, $node[\"Get Chapter\"].json.id] }}"
        }
      },
      "id": "e3e7cbfa-b8ff-4521-8fd9-97c66437d0cd",
      "name": "Get Previous Chapter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1664,
        -784
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{\n  \"model\": \"tngtech/tng-r1t-chimera:free\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un Master Plotter. Crea una trama dettagliata basata sul BLUEPRINT del libro. NON USARE MAI EMOJI.\\n\\nCONTESTO:\\n- Titolo: \" + ($node[\"Get Book Context Concept Architect1\"].json.title || \"Nuovo Libro\") + \"\\n- Genere: \" + ($node[\"Get Book Context Concept Architect1\"].json.genre || \"In definizione\") + \"\\n\\nBLUEPRINT (ELEMENTI CHIAVE):\\n\" + JSON.stringify($node[\"Get Book Context Concept Architect1\"].json.context_data?.blueprint || {}) + \"\\n\\nCONCEPT SCELTO:\\n\" + JSON.stringify($node[\"Get Book Context Concept Architect1\"].json.context_data?.selected_concept || {}) + \"\\n\\nGenera una trama coerente con questi elementi.\"\n    }\n  ]\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1664,
        -592
      ],
      "id": "be8c2004-7215-40d1-a4be-22a5d00f388e",
      "name": "Agent: Plotter",
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE books SET \n  plot_summary = $2, \n  target_chapters = $3, \n  context_data = jsonb_set(\n    context_data, \n    '{messages}', \n    COALESCE(context_data->'messages', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('role', 'assistant', 'content', 'TRAMA GENERATA: ' || $2))\n  )\nWHERE id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ [$node[\"Get Book Context Concept Architect1\"].json.id, $node[\"Sanitize Plot\"].json.content, $node[\"Calculator\"].json.num_chapters] }}"
        }
      },
      "id": "bb9055ad-c32f-454f-91b7-f1d67fa690ff",
      "name": "Update Plot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1216,
        -592
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\nlet rawContent = $node[\"Agent: Plotter\"].json.choices[0].message.content;\n// Strip markdown backticks if present\nrawContent = rawContent.replace(/```markdown\\n?|```json\\n?|```/g, '').trim();\n// Strip emojis\nconst cleanContent = rawContent.replace(emojiRegex, '');\n\nreturn {\n  content: cleanContent\n};"
      },
      "id": "14b19229-3f8b-4063-8ced-14e47e942805",
      "name": "Sanitize Plot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -592
      ]
    },
    {
      "parameters": {
        "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\nlet rawContent = $node[\"Agent: Writer\"].json.choices[0].message.content;\n// Strip markdown backticks\nrawContent = rawContent.replace(/```markdown\\n?|```/g, '').trim();\n// Strip emojis\nconst cleanContent = rawContent.replace(emojiRegex, '');\n\nreturn {\n  content: cleanContent\n};"
      },
      "id": "89efd705-98e0-4f51-ad0e-533cba6c1753",
      "name": "Sanitize Writer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        -784
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE chapters SET content = $1, status = 'COMPLETED' WHERE id = $2::uuid",
        "options": {
          "queryReplacement": "={{ $node[\"Sanitize Writer\"].json.content }}, {{ $node[\"Get Chapter\"].json.id }}"
        }
      },
      "id": "ff554862-b6fc-4101-9463-bb1200c9078c",
      "name": "Update Chapter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -992,
        -784
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE books SET context_data = jsonb_set(\n  jsonb_set(\n    context_data,\n    '{messages}',\n    COALESCE(context_data->'messages', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('role', 'assistant', 'content', $1))\n  ),\n  '{blueprint}',\n  COALESCE(context_data->'blueprint', '{}'::jsonb) || $2::jsonb\n) WHERE id = $3::uuid;",
        "options": {
          "queryReplacement": "={{ [JSON.parse($node[\"Agent: Interviewer\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).question.replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, ''), JSON.stringify(JSON.parse($node[\"Agent: Interviewer\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).blueprint).replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, ''), $node[\"Get Book Context1\"].json.id] }}"
        }
      },
      "id": "26bc74db-214a-47cc-a165-6dd6163782aa",
      "name": "Log Assistant Reply",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1664,
        -1168
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.title as book_title, c.title as chapter_title, c.content, c.chapter_number FROM books b JOIN chapters c ON b.id = c.book_id WHERE b.id = $1::uuid AND c.status = 'COMPLETED' ORDER BY c.chapter_number ASC;",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2112,
        -400
      ],
      "id": "843cb9ec-24ca-41eb-9498-28d7db472161",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return { html: \"<h1>Libro Vuoto</h1>\" };\n\nconst bookTitle = items[0].json.book_title;\nlet bodyHtml = \"\";\n\nfunction mdToHtml(md) {\n  if (!md) return \"\";\n  return md\n    .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*(.*?)\\*/g, '<em>$1</em>')\n    .replace(/### (.*?)\\n/g, '<h3>$1</h3>')\n    .replace(/## (.*?)\\n/g, '<h2>$1</h2>')\n    .replace(/# (.*?)\\n/g, '<h1>$1</h1>')\n    .replace(/\\n/g, '<br>');\n}\n\nitems.forEach(item => {\n  bodyHtml += `<section class=\"chapter\"><h2>${item.json.chapter_title}</h2><div class=\"content\">${mdToHtml(item.json.content)}</div></section>`;\n});\n\nconst cleanHtml = `<div style=\"font-family: 'Georgia', serif; color: #333;\"><h1 style=\"text-align: center; margin-bottom: 40pt;\">${bookTitle}</h1>${bodyHtml}</div>`;\n\nreturn { json: { html: cleanHtml, title: bookTitle } };"
      },
      "id": "979a7952-8e12-4e72-aa03-be80103a57a2",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        -400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ [$node[\"Init Book (Optional)\"].json.id] }}"
        }
      },
      "id": "f2e2aa03-d0c1-4619-ab14-bdb3a3fedb9b",
      "name": "Get Book Context Editor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -2112,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"tngtech/deepseek-r1t-chimera:free\",\n  \"max_tokens\": 20000,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un Editor Letterario Professionale. NON USARE MAI EMOJI IN NESSUNA CIRCOSTANZA.\\n\\nCONTESTO LIBRO:\\n- Titolo: \" + ($node[\"Get Book Context Editor\"].json.title || 'In definizione') + \"\\n- Blueprint: \" + JSON.stringify($node[\"Get Book Context Editor\"].json.context_data?.blueprint || {}) + \"\\n\\nTESTO DA REVISIONARE:\\n\" + $node[\"Webhook Router\"].json.body.content + \"\\n\\nISTRUZIONI:\\n1. Analizza il capitolo cercando incongruenze con il blueprint, errori grammaticali o miglioramenti stilistici.\\n2. Fornisci un suggerimento conciso ed efficace che l'autore possa scegliere di applicare.\\n3. OUTPUT JSON: { \\\"aiResponse\\\": \\\"...\\\" }\"\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "0f3be649-9a9d-442c-bc6e-fd9795ae9f69",
      "name": "Agent: Editor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1888,
        -208
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"bookId\": $node[\"Get Book Context Editor\"].json.id,\n  \"aiResponse\": JSON.parse($node[\"Agent: Editor\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).aiResponse.replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, '')\n} }}",
        "options": {}
      },
      "id": "b03ca0aa-0d9a-4f54-a43e-110aa4408bec",
      "name": "Response Editor",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1440,
        -208
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "4e8161dd-69d4-42f3-a1af-86495129c476",
      "name": "Send File to Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1440,
        -400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"bookId\": $node[\"Get Book Context Concept1\"].json.id,\n  \"concepts\": $node[\"Sanitize Concepts\"].json.concepts\n} }}",
        "options": {}
      },
      "id": "0ca1a63b-400f-4741-9fec-577f4966ed23",
      "name": "Response Concept",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1216,
        -976
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE books \nSET context_data = jsonb_set(context_data, '{blueprint}', $1::jsonb)\nWHERE id = $2::uuid;",
        "options": {
          "queryReplacement": "={{ [JSON.stringify($node[\"Sanitize Concepts\"].json.blueprint), $node[\"Get Book Context Concept1\"].json.id] }}"
        }
      },
      "id": "c8170b52-3c84-4263-94b9-f06599b6f4d4",
      "name": "Update Blueprint",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1440,
        -976
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\n\nconst clean = (obj) => {\n  if (typeof obj === 'string') {\n    return obj.replace(emojiRegex, '');\n  }\n  if (Array.isArray(obj)) {\n    return obj.map(clean);\n  }\n  if (typeof obj === 'object' && obj !== null) {\n    const newObj = {};\n    for (const key in obj) {\n      newObj[key] = clean(obj[key]);\n    }\n    return newObj;\n  }\n  return obj;\n};\n\nlet rawContent = $node[\"Agent: Concept Gen1\"].json.choices[0].message.content || \"\";\n\n// 1. Remove <think> tags (DeepSeek/Reasoning models)\nrawContent = rawContent.replace(/<think>[\\s\\S]*?<\\/think>/g, '');\n\n// 2. Extract JSON using regex\nconst jsonMatch = rawContent.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) {\n  throw new Error(\"No JSON found in response: \" + rawContent.slice(0, 100));\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  throw new Error(\"Invalid JSON from AI: \" + jsonMatch[0].slice(0, 100));\n}\n\nreturn {\n  blueprint: clean(parsed.blueprint || {}),\n  concepts: clean(parsed.concepts || [])\n};"
      },
      "id": "f9cb8799-14a7-4032-a113-c090f4610693",
      "name": "Sanitize Concepts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        -976
      ]
    },
    {
      "parameters": {
        "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\n\nconst clean = (obj) => {\n  if (typeof obj === 'string') {\n    return obj.replace(emojiRegex, '');\n  }\n  if (Array.isArray(obj)) {\n    return obj.map(clean);\n  }\n  if (typeof obj === 'object' && obj !== null) {\n    const newObj = {};\n    for (const key in obj) {\n      newObj[key] = clean(obj[key]);\n    }\n    return newObj;\n  }\n  return obj;\n};\n\nlet rawContent = $node[\"Agent: Architect\"].json.choices[0].message.content || \"\";\n\n// 1. Remove <think> tags (DeepSeek/Reasoning models)\nrawContent = rawContent.replace(/<think>[\\s\\S]*?<\\/think>/g, '');\n\n// 2. Extract JSON using regex\nconst jsonMatch = rawContent.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) {\n  throw new Error(\"No JSON found in response: \" + rawContent.slice(0, 100));\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  throw new Error(\"Invalid JSON from AI: \" + jsonMatch[0].slice(0, 100));\n}\n\nreturn {\n  chapters: clean(parsed.chapters || [])\n};"
      },
      "id": "76c964a3-326f-471f-b79d-167a2241024d",
      "name": "Sanitize Chapters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -592
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, genre, plot_summary, context_data FROM books WHERE id = $1::uuid",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId] }}"
        }
      },
      "id": "392e55ee-99ac-4f79-8ad7-47685b5b312a",
      "name": "Get Book Context Cover",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2112,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Estrai i dati del libro\nconst book = $input.first().json;\nconst context = book.context_data || {};\nconst blueprint = context.blueprint || {};\nconst selectedConcept = context.selected_concept || {};\n\n// Helper per troncare il testo\nconst truncate = (str, n) => (str && str.length > n) ? str.substring(0, n-1) + '...' : str;\n\n// Costruisci un prompt dettagliato per la cover\nconst genreStyles = {\n  'fantasy': 'epic fantasy art, magical atmosphere, mystical elements',\n  'thriller': 'dark moody lighting, suspenseful composition, cinematic',\n  'romance': 'soft romantic lighting, dreamy atmosphere, elegant composition',\n  'sci-fi': 'futuristic, sci-fi concept art, technological elements',\n  'mystery': 'noir atmosphere, mysterious shadows, intriguing composition',\n  'horror': 'dark horror aesthetic, eerie atmosphere, unsettling mood'\n};\n\nconst baseStyle = genreStyles[book.genre?.toLowerCase()] || 'professional book cover art';\nconst rawSpecificStyle = selectedConcept.style || blueprint.plot_vibes || baseStyle;\nconst specificStyle = truncate(rawSpecificStyle, 200);\n\nconst rawThemes = blueprint.themes || 'Adventure and discovery';\nconst themes = truncate(rawThemes, 200);\n\nconst rawMood = blueprint.plot_vibes || 'Captivating and immersive';\nconst mood = truncate(rawMood, 200);\n\nconst targetAudience = context.target_audience || 'general readers';\n\n// Crea il prompt ottimizzato\nconst coverPrompt = `Professional book cover design for \"${book.title || 'Untitled Book'}\"\n\nStyle: ${baseStyle}. ${specificStyle}\nGenre: ${book.genre || 'Fiction'}\nThemes: ${themes}\nMood: ${mood}\n\nVisual elements:\n- High-quality, professional book cover aesthetic\n- Cinematic composition with strong focal point\n- Rich colors and atmospheric lighting\n- Commercial appeal for ${targetAudience}\n- No text or titles on the image\n- Modern publishing standards\n\nArt style: Digital illustration, professional book cover art, trending on ArtStation`;\n\nreturn {\n  json: {\n    bookId: book.id,\n    title: book.title,\n    prompt: coverPrompt.trim(),\n    promptLength: coverPrompt.length\n  }\n};\n"
      },
      "id": "ae130c1c-ee4c-44c5-a286-f21374184e44",
      "name": "Prepare Cover Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"tngtech/deepseek-r1t-chimera:free\",\n  \"max_tokens\": 500,\n  \"temperature\": 0.7,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert at creating DALL-E 3 prompts for book covers. Output ONLY a refined prompt, nothing else. No markdown, no explanations, just the prompt text.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Refine this book cover prompt for DALL-E 3:\\n\\n\" + $json.prompt + \"\\n\\nMake it more visual, specific, and optimized for image generation. Focus on composition, lighting, color palette, and artistic style. Keep it under 400 characters.\"\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "373a1707-a683-4318-b1f1-238c5375fb9d",
      "name": "Refine Prompt with LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1664,
        -16
      ],
      "credentials": {
        "openRouterApi": {
          "id": "h6wkT3vSqDXcn7gb",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices[0].message.content;\nconst bookData = $node[\"Prepare Cover Prompt\"].json;\n\nlet refinedPrompt = content\n  .replace(/```json\\s*/g, '')\n  .replace(/```\\s*/g, '')\n  .replace(/^[\\\"']|[\\\"']$/g, '')\n  .replace(/{\\\"refined_prompt\\\":\\s*\\\"/g, '')\n  .replace(/\\\"}/g, '')\n  .trim();\n\nif (!refinedPrompt || refinedPrompt.length < 50) {\n  refinedPrompt = bookData.prompt;\n}\n\n// Max length validation\nif (refinedPrompt.length > 3900) {\n  refinedPrompt = refinedPrompt.substring(0, 3900);\n}\n\nreturn {\n  json: {\n    refinedPrompt,\n    bookId: bookData.bookId\n  }\n};"
      },
      "id": "f69e77a3-1ca3-4da2-956a-d51c70dc19b8",
      "name": "Extract & Sanitize Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -16
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $node[\"Extract & Sanitize Prompt\"].json.refinedPrompt }}",
        "model": "dall-e-3",
        "responseFormat": "imageUrl",
        "options": {
          "quality": "hd",
          "size": "1024x1792",
          "style": "vivid"
        },
        "requestOptions": {
          "timeout": 60000
        }
      },
      "id": "9555417c-2514-4a8c-b6d1-b97ba0fdbf9f",
      "name": "Generate Cover (DALL-E 3)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -1216,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const json = item.json;\n  // Try different paths\n  const url = json.url || (json.data && json.data[0] && json.data[0].url);\n  \n  if (!url) {\n     return { json: { error: \"No URL found\", raw: json } };\n  }\n  \n  return { json: { url } };\n});"
      },
      "id": "e3739a8a-3a88-498b-a0cb-b801c92d8cf2",
      "name": "Normalize Cover URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        -16
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "60be3688-c235-4117-8f62-4421e786ceb3",
      "name": "Download Cover Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -768,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dylnxdjycakxxnlgqvsj.supabase.co/storage/v1/object/covers/{{ $node[\"Extract & Sanitize Prompt\"].json.bookId }}_cover.png",
        "sendBody": true,
        "contentType": "binary",
        "options": {}
      },
      "id": "8553a598-d9a4-4b66-95d1-0e24ebeaccca",
      "name": "Upload Cover to Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -544,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE books SET cover_url = $1, updated_at = NOW() WHERE id = $2::uuid RETURNING *",
        "options": {
          "queryReplacement": "={{ [`https://dylnxdjycakxxnlgqvsj.supabase.co/storage/v1/object/public/covers/${$node[\"Extract & Sanitize Prompt\"].json.bookId}_cover.png`, $node[\"Extract & Sanitize Prompt\"].json.bookId] }}"
        }
      },
      "id": "8b1b4ad4-b35e-4533-869e-d81ba4d29b88",
      "name": "Update Book Cover",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -320,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"bookId\": $node[\"Extract & Sanitize Prompt\"].json.bookId,\n  \"coverUrl\": `https://dylnxdjycakxxnlgqvsj.supabase.co/storage/v1/object/public/covers/${$node[\"Extract & Sanitize Prompt\"].json.bookId}_cover.png`,\n  \"prompt\": $node[\"Extract & Sanitize Prompt\"].json.refinedPrompt,\n  \"message\": \"Cover generata con successo\"\n} }}",
        "options": {}
      },
      "id": "3480ec28-4a94-48d8-aa28-59bdfec17473",
      "name": "Response Cover Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -96,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, metadata) VALUES ($1::uuid, $2, $3, $4, $5::integer, $6::integer, $7::integer, $8::jsonb)",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id, $node[\"Webhook Router\"].json.body.action, 'Agent: Concept Gen1', $json.model, $json.usage.prompt_tokens, $json.usage.completion_tokens, $json.usage.total_tokens, JSON.stringify($json.usage)] }}"
        }
      },
      "id": "882a1b1b-1b1b-4b1b-8b1b-1b1b1b1b1b11",
      "name": "Log AI Usage: Concept Gen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1776,
        -976
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, metadata) VALUES ($1::uuid, $2, $3, $4, $5::integer, $6::integer, $7::integer, $8::jsonb)",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id, $node[\"Webhook Router\"].json.body.action, 'Agent: Interviewer', $json.model, $json.usage.prompt_tokens, $json.usage.completion_tokens, $json.usage.total_tokens, JSON.stringify($json.usage)] }}"
        }
      },
      "id": "882a1b1b-1b1b-4b1b-8b1b-1b1b1b1b1b12",
      "name": "Log AI Usage: Interviewer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1776,
        -1168
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, metadata) VALUES ($1::uuid, $2, $3, $4, $5::integer, $6::integer, $7::integer, $8::jsonb)",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id, $node[\"Webhook Router\"].json.body.action, 'Agent: Architect', $json.model, $json.usage.prompt_tokens, $json.usage.completion_tokens, $json.usage.total_tokens, JSON.stringify($json.usage)] }}"
        }
      },
      "id": "882a1b1b-1b1b-4b1b-8b1b-1b1b1b1b1b13",
      "name": "Log AI Usage: Architect",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -880,
        -592
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, metadata) VALUES ($1::uuid, $2, $3, $4, $5::integer, $6::integer, $7::integer, $8::jsonb)",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id, $node[\"Webhook Router\"].json.body.action, 'Agent: Writer', $json.model, $json.usage.prompt_tokens, $json.usage.completion_tokens, $json.usage.total_tokens, JSON.stringify($json.usage)] }}"
        }
      },
      "id": "882a1b1b-1b1b-4b1b-8b1b-1b1b1b1b1b14",
      "name": "Log AI Usage: Writer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1328,
        -784
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, metadata) VALUES ($1::uuid, $2, $3, $4, $5::integer, $6::integer, $7::integer, $8::jsonb)",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id, $node[\"Webhook Router\"].json.body.action, 'Agent: Plotter', $json.model, $json.usage.prompt_tokens, $json.usage.completion_tokens, $json.usage.total_tokens, JSON.stringify($json.usage)] }}"
        }
      },
      "id": "882a1b1b-1b1b-4b1b-8b1b-1b1b1b1b1b15",
      "name": "Log AI Usage: Plotter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1552,
        -592
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, metadata) VALUES ($1::uuid, $2, $3, $4, $5::integer, $6::integer, $7::integer, $8::jsonb)",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id, $node[\"Webhook Router\"].json.body.action, 'Agent: Editor', $json.model, $json.usage.prompt_tokens, $json.usage.completion_tokens, $json.usage.total_tokens, JSON.stringify($json.usage)] }}"
        }
      },
      "id": "882a1b1b-1b1b-4b1b-8b1b-1b1b1b1b1b16",
      "name": "Log AI Usage: Editor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1728,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, metadata) VALUES ($1::uuid, $2, $3, $4, $5::integer, $6::integer, $7::integer, $8::jsonb)",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id, $node[\"Webhook Router\"].json.body.action, 'Refine Prompt with LLM', $json.model, $json.usage.prompt_tokens, $json.usage.completion_tokens, $json.usage.total_tokens, JSON.stringify($json.usage)] }}"
        }
      },
      "id": "882a1b1b-1b1b-4b1b-8b1b-1b1b1b1b1b17",
      "name": "Log AI Usage: Refine Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1552,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, estimated_cost_eur, metadata) VALUES ($1::uuid, $2, $3, $4, $5::integer, $6::integer, $7::integer, $8::numeric, $9::jsonb)",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id, $node[\"Webhook Router\"].json.body.action, 'Generate Cover (DALL-E 3)', 'dall-e-3', 0, 0, 0, 0.04, JSON.stringify({size: '1024x1792', quality: 'hd'})] }}"
        }
      },
      "id": "882a1b1b-1b1b-4b1b-8b1b-1b1b1b1b1b18",
      "name": "Log AI Usage: DALL-E 3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1104,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Update Book Cover": {
      "main": [
        [
          {
            "node": "Response Cover Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context1": {
      "main": [
        [
          {
            "node": "Agent: Interviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Concept1": {
      "main": [
        [
          {
            "node": "Agent: Concept Gen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Concept Gen1": {
      "main": [
        [
          {
            "node": "Log AI Usage: Concept Gen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Concept Gen": {
      "main": [
        [
          {
            "node": "Sanitize Concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Router": {
      "main": [
        [
          {
            "node": "Log Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Get Book Context1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Concept1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Concept Architect1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Chapter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Editor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Cover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Interviewer": {
      "main": [
        [
          {
            "node": "Log AI Usage: Interviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Interviewer": {
      "main": [
        [
          {
            "node": "Log Assistant Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "main": [
        [
          {
            "node": "Agent: Plotter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Architect": {
      "main": [
        [
          {
            "node": "Log AI Usage: Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Architect": {
      "main": [
        [
          {
            "node": "Sanitize Chapters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chapter": {
      "main": [
        [
          {
            "node": "Get Book",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book": {
      "main": [
        [
          {
            "node": "Get Previous Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Writer": {
      "main": [
        [
          {
            "node": "Log AI Usage: Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Writer": {
      "main": [
        [
          {
            "node": "Sanitize Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Webhook": {
      "main": [
        [
          {
            "node": "Init Book (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Book (Optional)": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Concept Architect1": {
      "main": [
        [
          {
            "node": "Calculator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Chapter": {
      "main": [
        [
          {
            "node": "Agent: Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Plotter": {
      "main": [
        [
          {
            "node": "Log AI Usage: Plotter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Plotter": {
      "main": [
        [
          {
            "node": "Sanitize Plot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Plot": {
      "main": [
        [
          {
            "node": "Agent: Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Plot": {
      "main": [
        [
          {
            "node": "Update Plot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Writer": {
      "main": [
        [
          {
            "node": "Update Chapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Chapter": {
      "main": [
        [
          {
            "node": "Response Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Assistant Reply": {
      "main": [
        [
          {
            "node": "Response Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send File to Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Editor": {
      "main": [
        [
          {
            "node": "Agent: Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Editor": {
      "main": [
        [
          {
            "node": "Log AI Usage: Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Editor": {
      "main": [
        [
          {
            "node": "Response Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Blueprint": {
      "main": [
        [
          {
            "node": "Response Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Concepts": {
      "main": [
        [
          {
            "node": "Update Blueprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Chapters": {
      "main": [
        [
          {
            "node": "Response Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refine Prompt with LLM": {
      "main": [
        [
          {
            "node": "Log AI Usage: Refine Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Refine Prompt": {
      "main": [
        [
          {
            "node": "Extract & Sanitize Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Sanitize Prompt": {
      "main": [
        [
          {
            "node": "Generate Cover (DALL-E 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Cover": {
      "main": [
        [
          {
            "node": "Prepare Cover Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cover Prompt": {
      "main": [
        [
          {
            "node": "Refine Prompt with LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover (DALL-E 3)": {
      "main": [
        [
          {
            "node": "Log AI Usage: DALL-E 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: DALL-E 3": {
      "main": [
        [
          {
            "node": "Normalize Cover URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Cover URL": {
      "main": [
        [
          {
            "node": "Download Cover Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Cover Image": {
      "main": [
        [
          {
            "node": "Upload Cover to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Cover to Storage": {
      "main": [
        [
          {
            "node": "Update Book Cover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "0e19340a-c53e-4474-a2fb-a0812c645456",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e886da68f5367daa0e3870b7be67336a858c521a1f653709b4406ff2f5e1505"
  },
  "id": "Ju8Vmm4FMX6CL5tR",
  "tags": []
}