n8n/workflows/w4u_workflow.json
{
  "name": "w4u_workflow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"error\": \"Unauthorized\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "e41eb853-1c41-4cd2-b195-3ec036521c0f",
      "name": "Auth Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1408,
        1088
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "auth-cond-001",
              "leftValue": "={{ $json.auth_error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7b104f01-8b91-4087-a11c-df999987c93c",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1632,
        992
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, estimated_cost_eur, metadata) \nVALUES ($1::uuid, $2, $3, 'dall-e-3', 0, 0, 0, 0.12, '{\"size\": \"1024x1792\", \"quality\": \"hd\"}'::jsonb)",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id, $node[\"Webhook Router\"].json.body.action || 'GENERATE_COVER', 'Generate Cover (DALL-E 3)'] }}"
        }
      },
      "id": "5f687fb1-ccd6-4227-acc0-928374a83a19",
      "name": "Log AI Usage: Generate Cover (DALL-E 3)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1056,
        1856
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, estimated_cost_eur, metadata) \nVALUES (\n  '{{ $node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id }}'::uuid,\n  '{{ $node[\"Webhook Router\"].json.body.action }}',\n  'Refine Prompt with LLM',\n  '{{ $node[\"Get Book Context Cover\"].json.primary_model || \"gpt-4o\" }}',\n  {{ $json.usage ? $json.usage.prompt_tokens : 0 }},\n  {{ $json.usage ? $json.usage.completion_tokens : 0 }},\n  {{ $json.usage ? $json.usage.total_tokens : 0 }},\n  {{ \n    (function() {\n      const model = $node[\"Get Book Context Cover\"].json.primary_model || \"gpt-4o\";\n      const isMini = model.includes(\"mini\");\n      const inPrice = isMini ? 0.00000015 : 0.0000025;\n      const outPrice = isMini ? 0.00000060 : 0.00001;\n      const promptTokens = $json.usage ? $json.usage.prompt_tokens : 0;\n      const completionTokens = $json.usage ? $json.usage.completion_tokens : 0;\n      return (promptTokens * inPrice + completionTokens * outPrice) * 1.05;\n    })()\n  }},\n  '{{ JSON.stringify($json.usage || {}) }}'::jsonb\n)",
        "options": {}
      },
      "id": "8264cb47-535f-4404-b6f2-7403de2fe8da",
      "name": "Log AI Usage: Refine Prompt with LLM",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        384,
        1952
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, estimated_cost_eur, metadata) \nVALUES (\n  '{{ $node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id }}'::uuid,\n  '{{ $node[\"Webhook Router\"].json.body.action }}',\n  'Agent: Editor',\n  '{{ $node[\"Get Book Context Editor\"].json.primary_model || \"gpt-4o\" }}',\n  {{ $json.usage ? $json.usage.prompt_tokens : 0 }},\n  {{ $json.usage ? $json.usage.completion_tokens : 0 }},\n  {{ $json.usage ? $json.usage.total_tokens : 0 }},\n  {{ \n    (function() {\n      const model = $node[\"Get Book Context Editor\"].json.primary_model || \"gpt-4o\";\n      const isMini = model.includes(\"mini\");\n      const inPrice = isMini ? 0.00000015 : 0.0000025;\n      const outPrice = isMini ? 0.00000060 : 0.00001;\n      const promptTokens = $json.usage ? $json.usage.prompt_tokens : 0;\n      const completionTokens = $json.usage ? $json.usage.completion_tokens : 0;\n      return (promptTokens * inPrice + completionTokens * outPrice) * 1.05;\n    })()\n  }},\n  '{{ JSON.stringify($json.usage || {}) }}'::jsonb\n)",
        "options": {}
      },
      "id": "53db0407-4441-4efa-a6a9-72667b4f598d",
      "name": "Log AI Usage: Editor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        160,
        1760
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, estimated_cost_eur, metadata) \nVALUES (\n  '{{ $node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id }}'::uuid,\n  '{{ $node[\"Webhook Router\"].json.body.action }}',\n  'Agent: Plotter',\n  '{{ $node[\"Get Book Context Concept Architect1\"].json.primary_model || \"gpt-4o\" }}',\n  {{ $json.usage ? $json.usage.prompt_tokens : 0 }},\n  {{ $json.usage ? $json.usage.completion_tokens : 0 }},\n  {{ $json.usage ? $json.usage.total_tokens : 0 }},\n  {{ \n    (function() {\n      const model = $node[\"Get Book Context Concept Architect1\"].json.primary_model || \"gpt-4o\";\n      const isMini = model.includes(\"mini\");\n      const inPrice = isMini ? 0.00000015 : 0.0000025;\n      const outPrice = isMini ? 0.00000060 : 0.00001;\n      const promptTokens = $json.usage ? $json.usage.prompt_tokens : 0;\n      const completionTokens = $json.usage ? $json.usage.completion_tokens : 0;\n      return (promptTokens * inPrice + completionTokens * outPrice) * 1.05;\n    })()\n  }},\n  '{{ JSON.stringify($json.usage || {}) }}'::jsonb\n)",
        "options": {}
      },
      "id": "d6225d83-f4a8-4c2c-92c1-5ec84d9ff596",
      "name": "Log AI Usage: Plotter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        384,
        992
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, estimated_cost_eur, metadata) \nVALUES (\n  '{{ $node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id }}'::uuid,\n  '{{ $node[\"Webhook Router\"].json.body.action }}',\n  'Agent: Writer',\n  '{{ $node[\"Get Book\"].json.primary_model || \"gpt-4o\" }}',\n  {{ $json.usage ? $json.usage.prompt_tokens : 0 }},\n  {{ $json.usage ? $json.usage.completion_tokens : 0 }},\n  {{ $json.usage ? $json.usage.total_tokens : 0 }},\n  {{ \n    (function() {\n      const model = $node[\"Get Book\"].json.primary_model || \"gpt-4o\";\n      const isMini = model.includes(\"mini\");\n      const inPrice = isMini ? 0.00000015 : 0.0000025;\n      const outPrice = isMini ? 0.00000060 : 0.00001;\n      const promptTokens = $json.usage ? $json.usage.prompt_tokens : 0;\n      const completionTokens = $json.usage ? $json.usage.completion_tokens : 0;\n      return (promptTokens * inPrice + completionTokens * outPrice) * 1.05;\n    })()\n  }},\n  '{{ JSON.stringify($json.usage || {}) }}'::jsonb\n)",
        "options": {}
      },
      "id": "6e7da924-245f-4965-a58c-25ea3b82cfeb",
      "name": "Log AI Usage: Writer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1280,
        1376
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, estimated_cost_eur, metadata) \nVALUES (\n  '{{ $node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id }}'::uuid,\n  '{{ $node[\"Webhook Router\"].json.body.action }}',\n  'Agent: Architect',\n  '{{ $node[\"Get Book Context Concept Architect1\"].json.primary_model || \"gpt-4o\" }}',\n  {{ $json.usage ? $json.usage.prompt_tokens : 0 }},\n  {{ $json.usage ? $json.usage.completion_tokens : 0 }},\n  {{ $json.usage ? $json.usage.total_tokens : 0 }},\n  {{ \n    (function() {\n      const model = $node[\"Get Book Context Concept Architect1\"].json.primary_model || \"gpt-4o\";\n      const isMini = model.includes(\"mini\");\n      const inPrice = isMini ? 0.00000015 : 0.0000025;\n      const outPrice = isMini ? 0.00000060 : 0.00001;\n      const promptTokens = $json.usage ? $json.usage.prompt_tokens : 0;\n      const completionTokens = $json.usage ? $json.usage.completion_tokens : 0;\n      return (promptTokens * inPrice + completionTokens * outPrice) * 1.05;\n    })()\n  }},\n  '{{ JSON.stringify($json.usage || {}) }}'::jsonb\n)",
        "options": {}
      },
      "id": "16dc6739-f10e-4718-af0d-e6822ddb6fb6",
      "name": "Log AI Usage: Architect",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1280,
        992
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, estimated_cost_eur, metadata) \nVALUES (\n  '{{ $node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id }}'::uuid,\n  '{{ $node[\"Webhook Router\"].json.body.action }}',\n  'Agent: Interviewer',\n  '{{ $node[\"Get Book Context1\"].json.primary_model || \"gpt-4o\" }}',\n  {{ $json.usage ? $json.usage.prompt_tokens : 0 }},\n  {{ $json.usage ? $json.usage.completion_tokens : 0 }},\n  {{ $json.usage ? $json.usage.total_tokens : 0 }},\n  {{ \n    (function() {\n      const model = $node[\"Get Book Context1\"].json.primary_model || \"gpt-4o\";\n      const isMini = model.includes(\"mini\");\n      const inPrice = isMini ? 0.00000015 : 0.0000025;\n      const outPrice = isMini ? 0.00000060 : 0.00001;\n      const promptTokens = $json.usage ? $json.usage.prompt_tokens : 0;\n      const completionTokens = $json.usage ? $json.usage.completion_tokens : 0;\n      return (promptTokens * inPrice + completionTokens * outPrice) * 1.05;\n    })()\n  }},\n  '{{ JSON.stringify($json.usage || {}) }}'::jsonb\n)",
        "options": {}
      },
      "id": "51a59afd-7e86-4ea4-8c6e-44989b777881",
      "name": "Log AI Usage: Interviewer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -288,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, estimated_cost_eur, metadata) \nVALUES (\n  '{{ $node[\"Webhook Router\"].json.body.bookId || $node[\"Init Book (Optional)\"].json.id }}'::uuid,\n  '{{ $node[\"Webhook Router\"].json.body.action }}',\n  'Agent: Concept Gen1',\n  '{{ $node[\"Get Book Context Concept1\"].json.primary_model || \"gpt-4o\" }}',\n  {{ $json.usage ? $json.usage.prompt_tokens : 0 }},\n  {{ $json.usage ? $json.usage.completion_tokens : 0 }},\n  {{ $json.usage ? $json.usage.total_tokens : 0 }},\n  {{ \n    (function() {\n      const model = $node[\"Get Book Context Concept1\"].json.primary_model || \"gpt-4o\";\n      const isMini = model.includes(\"mini\");\n      const inPrice = isMini ? 0.00000015 : 0.0000025;\n      const outPrice = isMini ? 0.00000060 : 0.00001;\n      const promptTokens = $json.usage ? $json.usage.prompt_tokens : 0;\n      const completionTokens = $json.usage ? $json.usage.completion_tokens : 0;\n      return (promptTokens * inPrice + completionTokens * outPrice) * 1.05;\n    })()\n  }},\n  '{{ JSON.stringify($json.usage || {}) }}'::jsonb\n)",
        "options": {}
      },
      "id": "9cf43c5a-7d86-4603-807d-a71e4fa638d8",
      "name": "Log AI Usage: Concept Gen1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -288,
        656
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "id": "de549fe8-24be-4752-a433-4c26c0ac07a6",
      "name": "Response Cover Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1728,
        2048
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const json = item.json;\n  // N8N OpenAI node (DALL-E) returns the URL in different paths depending on version/settings\n  let url = json.url;\n  \n  if (!url && json.data && Array.isArray(json.data) && json.data.length > 0) {\n    url = json.data[0].url;\n  }\n  \n  if (!url) {\n     // Pass the error explicitly to stop execution smoothly or let the HTTP Request fail differently\n     throw new Error('No Cover URL found in DALL-E response. Raw response: ' + JSON.stringify(json));\n  }\n  \n  return { json: { url: url } };\n});"
      },
      "id": "60ff5737-cb9a-4ae0-9196-f621a57733cd",
      "name": "Normalize Cover URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        2048
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"dall-e-3\", \"prompt\": $json.refinedPrompt, \"n\": 1, \"size\": \"1024x1792\", \"quality\": \"hd\", \"style\": \"vivid\" } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a6a19ac1-6537-46ce-9a9e-2bbed82b0e03",
      "name": "Generate Cover (DALL-E 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        832,
        1952
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet content = \"\";\n\nif (response && response.choices && response.choices.length > 0 && response.choices[0].message) {\n  content = response.choices[0].message.content;\n}\n\nconst bookData = $node[\"Prepare Cover Prompt\"].json;\nlet refinedPrompt = bookData.prompt;\n\nif (content) {\n  refinedPrompt = content\n    .replace(/```json\\s*/g, '')\n    .replace(/```\\s*/g, '')\n    .replace(/^[\\\"']|[\\\"']$/g, '')\n    .replace(/{\\\"refined_prompt\\\":\\s*\\\"/g, '')\n    .replace(/\\\"}/g, '')\n    .trim();\n}\n\nif (!refinedPrompt || refinedPrompt.length < 50) {\n  refinedPrompt = bookData.prompt;\n}\n\n// Max length validation\nif (refinedPrompt.length > 3900) {\n  refinedPrompt = refinedPrompt.substring(0, 3900);\n}\n\nreturn {\n  json: {\n    refinedPrompt,\n    bookId: bookData.bookId\n  }\n};"
      },
      "id": "eb852dd5-91d5-447d-a2cc-eec0caaf68c8",
      "name": "Extract & Sanitize Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1952
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $node[\"Get Book Context Cover\"].json.primary_model || \"gpt-4o\", \"max_tokens\": 500, \"temperature\": $node[\"Get Book Context Cover\"].json.temps.COVER_REFINEMENT || 0.7, \"messages\": [ { \"role\": \"system\", \"content\": $node[\"Get Book Context Cover\"].json.prompts.COVER_REFINEMENT || \"You are an expert at creating DALL-E 3 prompts for book covers.\" }, { \"role\": \"user\", \"content\": \"Refine this book cover prompt for DALL-E 3 while preserving the instructions to include the title and author name as text:\\n\\n\" + $json.prompt } ] } }}",
        "options": {}
      },
      "id": "41d162d0-0eed-448d-a87a-0efd13609e6c",
      "name": "Refine Prompt with LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        1952
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Estrai i dati del libro e i prompt dal database\nconst book = $input.first().json;\nconst prompts = book.prompts || {};\n\n// Costruisci il prompt per la cover partendo dalla base centralizzata\nlet coverPrompt = prompts.COVER_PREPARATION || \"Professional book cover illustration for {{themes}} in {{style}} style.\";\n\nconst context = book.context_data || {};\nconst blueprint = context.blueprint || {};\nconst selectedConcept = context.selected_concept || {};\n\nconst truncate = (str, n) => (str && str.length > n) ? str.substring(0, n-1) + '...' : str;\n\nconst rawSpecificStyle = selectedConcept.style || blueprint.plot_vibes_or_structure || blueprint.plot_vibes || \"professional flat poster illustration\";\nconst specificStyle = truncate(rawSpecificStyle, 200);\n\nconst rawThemes = blueprint.themes || 'General subject';\nconst themes = truncate(rawThemes, 200);\n\n// Iniezione dinamica nel prompt centralizzato\ncoverPrompt = coverPrompt\n    .replace('{{themes}}', themes)\n    .replace('{{style}}', specificStyle)\n    .replace('{{genre}}', book.genre || 'General');\n\nreturn {\n  json: {\n    bookId: book.id,\n    title: book.title,\n    author: book.author,\n    prompt: coverPrompt.trim(),\n    promptLength: coverPrompt.length\n  }\n};"
      },
      "id": "d6ae9f32-19d1-4182-8fed-172ac9f0f28e",
      "name": "Prepare Cover Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        1952
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.*, s.value as primary_model, jsonb_object_agg(p.name, p.prompt_text) as prompts, jsonb_object_agg(p.name, p.temperature) as temps FROM books b CROSS JOIN (SELECT value FROM ai_settings WHERE key = 'primary_model') s LEFT JOIN LATERAL (  SELECT DISTINCT ON (name) name, prompt_text, temperature   FROM ai_prompts   WHERE is_active = true AND (genre = b.genre OR genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END OR genre = 'GENERAL')   ORDER BY name, (genre = b.genre) DESC, (genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END) DESC, created_at DESC) p ON true WHERE b.id = $1::uuid GROUP BY b.id, s.value",
        "options": {
          "queryReplacement": "={{ $node[\"Webhook Router\"].json.body.bookId }}"
        }
      },
      "id": "2299bc26-e529-4193-bf28-8dcf8362c988",
      "name": "Get Book Context Cover",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -288,
        1952
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\n\nconst clean = (obj) => {\n  if (typeof obj === 'string') {\n    return obj.replace(emojiRegex, '');\n  }\n  if (Array.isArray(obj)) {\n    return obj.map(clean);\n  }\n  if (typeof obj === 'object' && obj !== null) {\n    const newObj = {};\n    for (const key in obj) {\n      newObj[key] = clean(obj[key]);\n    }\n    return newObj;\n  }\n  return obj;\n};\n\nlet rawContent = $node[\"Agent: Architect\"].json.choices[0].message.content || \"\";\n\n// 1. Remove <think> tags (DeepSeek/Reasoning models)\nrawContent = rawContent.replace(/<think>[\\s\\S]*?<\\/think>/g, '');\n\n// 2. Extract JSON using regex\nconst jsonMatch = rawContent.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) {\n  throw new Error(\"No JSON found in response: \" + rawContent.slice(0, 100));\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  throw new Error(\"Invalid JSON from AI: \" + jsonMatch[0].slice(0, 100));\n}\n\nreturn {\n  chapters: clean(parsed.chapters || [])\n};"
      },
      "id": "212d3fd7-6e06-40aa-a30b-710a295bd52b",
      "name": "Sanitize Chapters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\n\nconst clean = (obj) => {\n  if (typeof obj === 'string') {\n    return obj.replace(emojiRegex, '');\n  }\n  if (Array.isArray(obj)) {\n    return obj.map(clean);\n  }\n  if (typeof obj === 'object' && obj !== null) {\n    const newObj = {};\n    for (const key in obj) {\n      newObj[key] = clean(obj[key]);\n    }\n    return newObj;\n  }\n  return obj;\n};\n\nlet rawContent = $node[\"Agent: Concept Gen1\"].json.choices[0].message.content || \"\";\n\n// 1. Remove <think> tags (DeepSeek/Reasoning models)\nrawContent = rawContent.replace(/<think>[\\s\\S]*?<\\/think>/g, '');\n\n// 2. Extract JSON using regex\nconst jsonMatch = rawContent.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) {\n  throw new Error(\"No JSON found in response: \" + rawContent.slice(0, 100));\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  throw new Error(\"Invalid JSON from AI: \" + jsonMatch[0].slice(0, 100));\n}\n\nreturn {\n  blueprint: clean(parsed.blueprint || {}),\n  concepts: clean(parsed.concepts || [])\n};"
      },
      "id": "065d282d-6178-4416-bc99-5508bfc52739",
      "name": "Sanitize Concepts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        656
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE books \nSET context_data = jsonb_set(context_data, '{blueprint}', $1::jsonb)\nWHERE id = $2::uuid;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($node[\"Sanitize Concepts\"].json.blueprint) }},{{ $node[\"Get Book Context Concept1\"].json.id }}"
        }
      },
      "id": "4898a13d-f6b9-4c75-bce4-cc673d93984d",
      "name": "Update Blueprint",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        160,
        656
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"bookId\": $node[\"Get Book Context Concept1\"].json.id,\n  \"concepts\": $node[\"Sanitize Concepts\"].json.concepts\n} }}",
        "options": {}
      },
      "id": "552d939e-8f07-4470-90ac-c549467473b2",
      "name": "Response Concept",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        384,
        656
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "c7978575-f19b-41ec-851e-684788832b56",
      "name": "Send File to Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -288,
        1184
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"bookId\": $node[\"Get Book Context Editor\"].json.id,\n  \"aiResponse\": JSON.parse($node[\"Agent: Editor\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).aiResponse.replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, '')\n} }}",
        "options": {}
      },
      "id": "96d63b65-ab50-44a0-92cf-f6de16c2d3ba",
      "name": "Response Editor",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        384,
        1760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $node[\"Get Book Context Editor\"].json.primary_model || \"gpt-4o\", \"temperature\": $node[\"Get Book Context Editor\"].json.temps.EDITOR || 0.2, \"max_tokens\": 20000, \"response_format\": { \"type\": \"json_object\" }, \"messages\": [ { \"role\": \"system\", \"content\": ($node[\"Get Book Context Editor\"].json.prompts.EDITOR || \"Sei un Editor Letterario Professionale.\") + \"\\n\\nCONTESTO LIBRO:\\n- Titolo: \" + ($node[\"Get Book Context Editor\"].json.title || 'In definizione') + \"\\n- Blueprint: \" + JSON.stringify($node[\"Get Book Context Editor\"].json.context_data?.blueprint || {}) + \"\\n\\nTESTO DA REVISIONARE:\\n\" + $node[\"Webhook Router\"].json.body.content } ] } }}",
        "options": {}
      },
      "id": "91575db2-65a9-4dc6-8d1c-d527301440db",
      "name": "Agent: Editor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -64,
        1760
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.*, s.value as primary_model, jsonb_object_agg(p.name, p.prompt_text) as prompts, jsonb_object_agg(p.name, p.temperature) as temps FROM books b CROSS JOIN (SELECT value FROM ai_settings WHERE key = 'primary_model') s LEFT JOIN LATERAL (  SELECT DISTINCT ON (name) name, prompt_text, temperature   FROM ai_prompts   WHERE is_active = true AND (genre = b.genre OR genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END OR genre = 'GENERAL')   ORDER BY name, (genre = b.genre) DESC, (genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END) DESC, created_at DESC) p ON true WHERE b.id = $1::uuid GROUP BY b.id, s.value",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId] }}"
        }
      },
      "id": "4980c71d-0265-4e88-8a8d-d72d434728f9",
      "name": "Get Book Context Editor",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -288,
        1760
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return { html: \"<h1>Libro Vuoto</h1>\" };\n\nconst bookTitle = items[0].json.book_title;\nlet bodyHtml = \"\";\n\nfunction mdToHtml(md) {\n  if (!md) return \"\";\n  return md\n    .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/\\*(.*?)\\*/g, '<em>$1</em>')\n    .replace(/### (.*?)\\n/g, '<h3>$1</h3>')\n    .replace(/## (.*?)\\n/g, '<h2>$1</h2>')\n    .replace(/# (.*?)\\n/g, '<h1>$1</h1>')\n    .replace(/\\n/g, '<br>');\n}\n\nitems.forEach(item => {\n  bodyHtml += `<section class=\"chapter\"><h2>${item.json.chapter_title}</h2><div class=\"content\">${mdToHtml(item.json.content)}</div></section>`;\n});\n\nconst cleanHtml = `<div style=\"font-family: 'Georgia', serif; color: #333;\"><h1 style=\"text-align: center; margin-bottom: 40pt;\">${bookTitle}</h1>${bodyHtml}</div>`;\n\nreturn { json: { html: cleanHtml, title: bookTitle } };"
      },
      "id": "1f02074a-6ac0-4f99-a3c7-ea0d3970e01b",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        1016
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.title as book_title, c.title as chapter_title, c.content, c.chapter_number FROM books b JOIN chapters c ON b.id = c.book_id WHERE b.id = $1::uuid AND c.status = 'COMPLETED' ORDER BY c.chapter_number ASC;",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -736,
        1016
      ],
      "id": "90974f01-d32b-4779-a8a8-78fa004aa345",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE books SET context_data = jsonb_set(\n  jsonb_set(\n    context_data,\n    '{messages}',\n    COALESCE(context_data->'messages', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('role', 'assistant', 'content', $1))\n  ),\n  '{blueprint}',\n  COALESCE(context_data->'blueprint', '{}'::jsonb) || $2::jsonb\n) WHERE id = $3::uuid;",
        "options": {
          "queryReplacement": "={{ JSON.parse($node[\"Agent: Interviewer\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).question.replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, '') }},{{ JSON.stringify(JSON.parse($node[\"Agent: Interviewer\"].json.choices[0].message.content.replace(/```json\\n?|```/g, '').trim()).blueprint).replace(/[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g, '') }},{{ $node[\"Get Book Context1\"].json.id }}"
        }
      },
      "id": "567ed22f-98c0-4476-b76a-4a304213d91a",
      "name": "Log Assistant Reply",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -64,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE paragraphs SET content = $1, status = 'COMPLETED', actual_word_count = $3, updated_at = NOW() WHERE id = $2::uuid",
        "options": {
          "queryReplacement": "={{ [$node[\"Sanitize Writer\"].json.content, $node[\"Get Paragraph\"].json.id, $node[\"Sanitize Writer\"].json.word_count] }}"
        }
      },
      "id": "fa6d5f6e-f01a-4496-9c1f-71af66c5ae77",
      "name": "Update Paragraph",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1728,
        1376
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\nlet rawContent = $node[\"Agent: Writer\"].json.choices[0].message.content || \"\";\n// Strip markdown backticks\nrawContent = rawContent.replace(/```markdown\\n?|```/g, '').trim();\n// Strip emojis\nconst cleanContent = rawContent.replace(emojiRegex, '');\nconst wordCount = cleanContent.split(/\\s+/).filter(w => w.length > 0).length;\n\nif (wordCount < 10 || cleanContent.length < 50) {\n  throw new Error(`Generated content too short: ${wordCount} words. Check AI output for errors.`);\n}\n\nreturn {\n  content: cleanContent,\n  word_count: wordCount\n};"
      },
      "id": "546ca0e1-3b1d-4f8e-9aa2-1f5089e15ee2",
      "name": "Sanitize Writer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1376
      ]
    },
    {
      "parameters": {
        "jsCode": "const emojiRegex = /[\\uD83C-\\uDBFF\\uDC00-\\uDFFF\\u2600-\\u26FF\\u2700-\\u27BF]/g;\nlet rawContent = $node[\"Agent: Plotter\"].json.choices[0].message.content;\n// Strip markdown backticks if present\nrawContent = rawContent.replace(/```markdown\\n?|```json\\n?|```/g, '').trim();\n// Strip emojis\nconst cleanContent = rawContent.replace(emojiRegex, '');\n\nreturn {\n  content: cleanContent\n};"
      },
      "id": "8c2eda3e-729a-4ea0-b7f3-68aba765368d",
      "name": "Sanitize Plot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        992
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE books SET \n  plot_summary = $2, \n  target_chapters = $3, \n  context_data = jsonb_set(\n    context_data, \n    '{messages}', \n    COALESCE(context_data->'messages', '[]'::jsonb) || jsonb_build_array(jsonb_build_object('role', 'assistant', 'content', 'TRAMA GENERATA: ' || $2))\n  )\nWHERE id = $1::uuid;",
        "options": {
          "queryReplacement": "={{ $node[\"Get Book Context Concept Architect1\"].json.id }},{{ $node[\"Sanitize Plot\"].json.content }},{{ $node[\"Calculator\"].json.num_chapters }}"
        }
      },
      "id": "e5f519fa-b0a4-4f75-afc6-2e161696c412",
      "name": "Update Plot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        832,
        992
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $node[\"Get Book Context Concept Architect1\"].json.primary_model || \"gpt-4o\", \"temperature\": $node[\"Get Book Context Concept Architect1\"].json.temps.PLOT_ARCHITECT || 0.3, \"response_format\": { \"type\": \"json_object\" }, \"messages\": [ { \"role\": \"system\", \"content\": $node[\"Get Book Context Concept Architect1\"].json.prompts.PLOT_ARCHITECT || \"Prompt non trovato.\" }, { \"role\": \"user\", \"content\": \"BLUEPRINT & CONCEPT:\\n\" + JSON.stringify($node[\"Get Book Context Concept Architect1\"].json.context_data || {}) } ] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        992
      ],
      "id": "55d58a31-27b2-4565-ac9e-29ef110d86d7",
      "name": "Agent: Plotter",
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT string_agg(content, '\\n\\n' ORDER BY paragraph_number ASC) as combined_content FROM paragraphs WHERE chapter_id = $1::uuid AND paragraph_number < $2::integer AND status = 'COMPLETED'",
        "options": {
          "queryReplacement": "={{ $node[\"Get Paragraph\"].json.chapter_id }},{{ $node[\"Get Paragraph\"].json.paragraph_number }}"
        }
      },
      "id": "33052606-eaef-4e3b-8971-a09b6814a85a",
      "name": "Get Previous Paragraphs Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        160,
        1376
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.*, s.value as primary_model, jsonb_object_agg(p.name, p.prompt_text) as prompts, jsonb_object_agg(p.name, p.temperature) as temps FROM books b CROSS JOIN (SELECT value FROM ai_settings WHERE key = 'primary_model') s LEFT JOIN LATERAL (  SELECT DISTINCT ON (name) name, prompt_text, temperature   FROM ai_prompts   WHERE is_active = true AND (genre = b.genre OR genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END OR genre = 'GENERAL')   ORDER BY name, (genre = b.genre) DESC, (genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END) DESC, created_at DESC) p ON true WHERE b.id = $1::uuid GROUP BY b.id, s.value",
        "options": {
          "queryReplacement": "={{ $node[\"Webhook Router\"].json.body.bookId }}"
        }
      },
      "id": "041ba1d9-9af6-456d-aa04-bee8ce6b5044",
      "name": "Get Book Context Concept Architect1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -288,
        992
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO books (id, title, author, genre, status, context_data, target_pages) \nVALUES (\n  $1::uuid, \n  $2, \n  $3, \n  $4, \n  'INTERVIEW', \n  jsonb_build_object(\n    'messages', CASE WHEN $5 IS NOT NULL AND $5 != '' THEN jsonb_build_array(jsonb_build_object('role', 'user', 'content', $5)) ELSE '[]'::jsonb END,\n    'target_pages', to_jsonb(COALESCE($6::integer, (SELECT target_pages FROM books WHERE id = $1::uuid)))\n  ),\n  COALESCE($6::integer, (SELECT target_pages FROM books WHERE id = $1::uuid))\n) \nON CONFLICT (id) DO UPDATE SET \n  title = CASE WHEN EXCLUDED.title IS NOT NULL AND EXCLUDED.title NOT IN ('', 'Nuovo Libro', 'Nuovo Progetto') THEN EXCLUDED.title ELSE books.title END,\n  author = COALESCE(EXCLUDED.author, books.author),\n  genre = COALESCE(EXCLUDED.genre, books.genre),\n  target_pages = COALESCE(EXCLUDED.target_pages, books.target_pages),\n  context_data = jsonb_set(\n    jsonb_set(\n      books.context_data,\n      '{target_pages}',\n      COALESCE(EXCLUDED.context_data->'target_pages', books.context_data->'target_pages', to_jsonb(books.target_pages))\n    ),\n    '{messages}',\n    COALESCE(books.context_data->'messages', '[]'::jsonb) || \n    CASE WHEN $5 IS NOT NULL AND $5 != '' THEN jsonb_build_array(jsonb_build_object('role', 'user', 'content', $5)) ELSE '[]'::jsonb END\n  )\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $node[\"Webhook Router\"].json.body.bookId || $node[\"Webhook Router\"].json.body.book_id }},{{ $node[\"Webhook Router\"].json.body.title || null }},{{ $node[\"Webhook Router\"].json.body.author || null }},{{ $node[\"Webhook Router\"].json.body.genre || null }},{{ $node[\"Webhook Router\"].json.body.userInput || null }},{{ $node[\"Webhook Router\"].json.body.targetPages || null }}"
        }
      },
      "id": "3c3d51ab-4a11-401e-9ac0-c366a8672d03",
      "name": "Init Book (Optional)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1184,
        896
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "notes": "Creates book record if not exists. Useful for ensuring ID validity."
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "debug_logs",
          "mode": "list",
          "cachedResultName": "debug_logs"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "source",
              "value": "n8n"
            },
            {
              "column": "event_type",
              "value": "={{ $json.body.action }}"
            },
            {
              "column": "book_id",
              "value": "={{ $json.body.bookId }}"
            },
            {
              "column": "payload",
              "value": "={{ JSON.stringify($json.body) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "338a43b6-59df-4ce7-9350-8fa910f5fffa",
      "name": "Log Webhook",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1408,
        896
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"bookId\": \"{{ $node['Get Book'].json.id }}\",\n  \"status\": \"success\"\n}",
        "options": {}
      },
      "id": "6e288a06-c982-4cae-b7e7-ffe445f5d7fa",
      "name": "Response Write",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1856,
        -208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const book = $node[\"Get Book\"].json || {};\n  const paragraph = $node[\"Get Paragraph\"].json || {};\n  const prevCtx = ($node[\"Get Previous Paragraphs Context\"].json?.combined_content || \"\").slice(-6000);\n  const ragChunks = $(\"RAG: Query Draft Chunks\").all().map(i => i.json?.content || \"\").filter(Boolean).join(\"\\n\\n\").slice(0, 5000);\n\n  const wordsPerPage = Number(book?.configuration?.words_per_page || 250);\n  const targetWordCount = Number(paragraph?.target_word_count || wordsPerPage);\n  const minWords = Math.max(120, Math.floor(targetWordCount * 0.85));\n  const maxWords = Math.max(minWords + 30, Math.ceil(targetWordCount * 1.15));\n\n  const chapterTitle = paragraph.chapter_title || $node[\"Webhook Router\"].json.body.chapter?.title || \"Senza Titolo\";\n  const chapterSummary = paragraph.chapter_summary || $node[\"Webhook Router\"].json.body.chapter?.summary || \"\";\n  const paragraphTitle = paragraph.title || $node[\"Webhook Router\"].json.body.paragraphTitle || \"\";\n  const paragraphBrief = paragraph.description || \"\";\n\n  return {\n    model: book.primary_model || \"gpt-4o\",\n    temperature: book?.temps?.WRITER || 0.5,\n    messages: [\n      { role: \"system\", content: (book?.prompts?.WRITER || \"Scrivi contenuti coerenti, chiari e di alta qualita.\") },\n      { role: \"user\", content:\n`DATA:\nBLUEPRINT: ${JSON.stringify(book.context_data || {})}\nPLOT SUMMARY: ${book.plot_summary || \"\"}\n\nTITOLO LIBRO: ${book.title || \"\"}\nCAPITOLO: ${chapterTitle} - ${chapterSummary}\nPARAGRAFO: ${paragraphTitle}\nOBIETTIVO PARAGRAFO: ${paragraphBrief}\n\nCONTINUITA CAPITOLO (gia scritto):\n${prevCtx || \"(vuoto)\"}\n\nRAG CONTESTO:\n${ragChunks || \"(vuoto)\"}\n\nVINCOLI QUALITA:\n- Mantieni coerenza narrativa e logica con blueprint e testo precedente.\n- Non ripetere concetti gia espressi salvo raccordi necessari.\n- Testo naturale, concreto, senza filler o meta-commenti.\n- Lunghezza target circa ${targetWordCount} parole (range ${minWords}-${maxWords}).\n- Restituisci solo il testo finale del paragrafo, senza markdown code fence.` }\n    ]\n  };\n})() }}",
        "options": {}
      },
      "id": "3ac12e0e-e88d-404b-8e58-292173fcfc3e",
      "name": "Agent: Writer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1056,
        1376
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.*, s.value as primary_model, jsonb_object_agg(p.name, p.prompt_text) as prompts, jsonb_object_agg(p.name, p.temperature) as temps FROM books b CROSS JOIN (SELECT value FROM ai_settings WHERE key = 'primary_model') s LEFT JOIN LATERAL (  SELECT DISTINCT ON (name) name, prompt_text, temperature   FROM ai_prompts   WHERE is_active = true AND (genre = b.genre OR genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END OR genre = 'GENERAL')   ORDER BY name, (genre = b.genre) DESC, (genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END) DESC, created_at DESC) p ON true WHERE b.id = $1::uuid GROUP BY b.id, s.value",
        "options": {
          "queryReplacement": "={{ $node[\"Get Paragraph\"].json.book_id }}"
        }
      },
      "id": "c3e1bfa1-1d85-4b4a-9e89-92466d1e7335",
      "name": "Get Book",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -64,
        1376
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.*, c.title AS chapter_title, c.summary AS chapter_summary, c.book_id FROM paragraphs p JOIN chapters c ON p.chapter_id = c.id WHERE ( ($2 = 'WRITE_CHAPTER_FROM_PLAN' AND p.chapter_id = $1::uuid AND COALESCE(p.status,'PENDING') != 'COMPLETED') OR ($2 <> 'WRITE_CHAPTER_FROM_PLAN' AND p.id = $1::uuid) ) ORDER BY p.paragraph_number ASC LIMIT 1",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.chapterId || $node[\"Webhook Router\"].json.body.paragraphId, $node[\"Webhook Router\"].json.body.action] }}"
        }
      },
      "id": "242333c9-ff8a-4f20-a466-8f31ced43dbc",
      "name": "Get Paragraph",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -288,
        1376
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"completed\",\n  \"data\": {\n    \"bookId\": $node[\"Get Book Context Concept Architect1\"].json.id,\n    \"chapters\": $node[\"Sanitize Chapters\"].json.chapters\n  }\n} }}",
        "options": {}
      },
      "id": "3204e637-f734-4536-8b6b-814a8ec5a980",
      "name": "Response Outline",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1728,
        992
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $node[\"Get Book Context Concept Architect1\"].json.primary_model || \"gpt-4o\", \"temperature\": $node[\"Get Book Context Concept Architect1\"].json.temps.ARCHITECT || 0.3, \"response_format\": { \"type\": \"json_object\" }, \"messages\": [ { \"role\": \"system\", \"content\": $node[\"Get Book Context Concept Architect1\"].json.prompts.ARCHITECT || \"Prompt non trovato.\" }, { \"role\": \"user\", \"content\": \"DATA:\\nBLUEPRINT: \" + JSON.stringify($node[\"Get Book Context Concept Architect1\"].json.context_data || {}) + \"\\nPLOT: \" + ($node[\"Sanitize Plot\"].json.content || \"\") + \"\\nTARGETS: \" + JSON.stringify($node[\"Calculator\"].json || {}) + \"\\n\\nFEEDBACK/INPUT: \" + ($node[\"Webhook Router\"].json.body.feedback ? $node[\"Webhook Router\"].json.body.feedback : \"Genera indice da zero.\") } ] } }}",
        "options": {}
      },
      "id": "fe61ccdf-b50c-4346-9786-57c2157e1e00",
      "name": "Agent: Architect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1056,
        992
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bookData = $node[\"Get Book Context Concept Architect1\"].json;\nconst dbContext = bookData.context_data || {};\nconst config = bookData.configuration || {};\n\nconst targetPagesRaw = $node[\"Webhook Router\"].json.body.targetPages ?? config.target_pages ?? dbContext.target_pages ?? bookData.target_pages;\nconst parsedTargetPages = Number(targetPagesRaw);\nif (!Number.isFinite(parsedTargetPages) || parsedTargetPages <= 0) {\n  throw new Error(\"targetPages missing/invalid in OUTLINE payload/context\");\n}\nconst targetPages = Math.round(parsedTargetPages);\n\nconst chaptersRateRaw = $node[\"Webhook Router\"].json.body.configuration?.chaptersRate ?? config.chaptersRate ?? 10;\nconst chaptersRate = Number(chaptersRateRaw) > 0 ? Number(chaptersRateRaw) : 10;\nconst wordsPerPage = Number(config.words_per_page) > 0 ? Number(config.words_per_page) : 300;\n\nlet numChapters = Number(bookData.target_chapters);\nif (!Number.isFinite(numChapters) || numChapters <= 0) {\n  numChapters = Math.max(1, Math.floor(targetPages / chaptersRate));\n}\n\nconst totalWords = targetPages * wordsPerPage;\nconst wordsPerChapter = Math.floor(totalWords / numChapters);\n\nreturn {\n  json: {\n    target_pages: targetPages,\n    total_words_target: totalWords,\n    num_chapters: numChapters,\n    words_per_chapter: wordsPerChapter,\n    paragraphs_per_chapter: config.paragraphs_per_chapter || 5,\n    debug_inputs: { targetPagesRaw, chaptersRate, config }\n  }\n};"
      },
      "id": "a5867653-87bf-4302-8856-0422b011bdcf",
      "name": "Calculator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        992
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"bookId\": $node[\"Init Book (Optional)\"].json.id,\n  \"aiResponse\": (($node[\"Agent: Interviewer\"].json.choices?.[0]?.message?.content || \"\")\n    .replace(/```json\\\\n?|```/g, \"\")\n    .replace(/[\\\\uD83C-\\\\uDBFF\\\\uDC00-\\\\uDFFF\\\\u2600-\\\\u26FF\\\\u2700-\\\\u27BF]/g, \"\")\n    .trim())\n} }}",
        "options": {}
      },
      "id": "920cd0cc-f9ba-402f-88a3-52e9d047edd6",
      "name": "Response Interview",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        160,
        464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $node[\"Get Book Context1\"].json.primary_model || \"gpt-4o\", \"temperature\": $node[\"Get Book Context1\"].json.temps.INTERVIEWER || 0.3, \"response_format\": { \"type\": \"json_object\" }, \"messages\": [ { \"role\": \"system\", \"content\": $node[\"Get Book Context1\"].json.prompts.INTERVIEWER || \"Prompt non trovato.\" }, { \"role\": \"user\", \"content\": \"USER INPUT: \" + ($node[\"Webhook Router\"].json.body.userInput || \"Iniziamo.\") } ] } }}",
        "options": {}
      },
      "id": "5d74e661-1a38-426b-9881-fb82ad1ce85c",
      "name": "Agent: Interviewer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -512,
        464
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "INTERVIEW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b00e2aaf-6824-4b1f-89e3-bfd98aba94d6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "GENERATE_CONCEPTS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a26f4e62-8511-4f34-856c-743b06996303"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "OUTLINE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "23432531-f580-464a-9e2c-b3bbf2ba6e4e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "WRITE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ff5055b8-df6c-460d-9324-0cac046f5df3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "EDIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1d66ccee-d86f-4069-9cb6-96160a7e34e4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e3483bbb-96c1-40d4-a8b0-59cba25af8cf",
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "EXPORT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b080577b-70fd-4809-899c-b4fbe62ef8b7",
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "GENERATE_COVER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "write-paragraph-cond-001",
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "WRITE_PARAGRAPH",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "SCAFFOLD_CHAPTER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dcc951e2-99e3-4141-8280-ee87bea9891f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "INDEX_DRAFT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "index-draft-rule-001"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "WRITE_CHAPTER_FROM_PLAN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "write-chapter-from-plan-rule-001"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "EXPAND_CHAPTER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "expand-chapter-rule-001"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ec48a10-4119-4a7c-9d5d-1b553f17e370",
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "GENERATE_BACK_COVER_BLURB",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "afd695e0-9362-4637-a2a4-4539abb10c97",
      "name": "Action Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -960,
        736
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "book-agent-f5ryrr6ut656f",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d62fcb11-6c43-4268-8f8e-8886321cc458",
      "name": "Webhook Router",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1856,
        992
      ],
      "webhookId": "book-agent-webhook-v2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "72YOfDzDhT2VfwYf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $node[\"Get Book Context Concept1\"].json.primary_model || \"gpt-4o\", \"temperature\": $node[\"Get Book Context Concept1\"].json.temps.CONCEPT_GEN || 0.3, \"response_format\": { \"type\": \"json_object\" }, \"messages\": [ { \"role\": \"system\", \"content\": $node[\"Get Book Context Concept1\"].json.prompts.CONCEPT_GEN || \"Prompt non trovato.\" }, { \"role\": \"user\", \"content\": \"USER INPUT: \" + ($node[\"Webhook Router\"].json.body.userInput || \"\") } ] } }}",
        "options": {}
      },
      "id": "079338c7-3141-44df-8476-6208a4faa7f2",
      "name": "Agent: Concept Gen1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -512,
        656
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.*, s.value as primary_model, jsonb_object_agg(p.name, p.prompt_text) as prompts, jsonb_object_agg(p.name, p.temperature) as temps FROM books b CROSS JOIN (SELECT value FROM ai_settings WHERE key = 'primary_model') s LEFT JOIN LATERAL (  SELECT DISTINCT ON (name) name, prompt_text, temperature   FROM ai_prompts   WHERE is_active = true AND (genre = b.genre OR genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END OR genre = 'GENERAL')   ORDER BY name, (genre = b.genre) DESC, (genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END) DESC, created_at DESC) p ON true WHERE b.id = $1::uuid GROUP BY b.id, s.value",
        "options": {
          "queryReplacement": "={{ [$node[\"Init Book (Optional)\"].json.id] }}"
        }
      },
      "id": "09a9d73f-378d-4461-ba4c-0b51347754e5",
      "name": "Get Book Context Concept1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -736,
        656
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.*, s.value as primary_model, jsonb_object_agg(p.name, p.prompt_text) as prompts, jsonb_object_agg(p.name, p.temperature) as temps FROM books b CROSS JOIN (SELECT value FROM ai_settings WHERE key = 'primary_model') s LEFT JOIN LATERAL (  SELECT DISTINCT ON (name) name, prompt_text, temperature   FROM ai_prompts   WHERE is_active = true AND (genre = b.genre OR genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END OR genre = 'GENERAL')   ORDER BY name, (genre = b.genre) DESC, (genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END) DESC, created_at DESC) p ON true WHERE b.id = $1::uuid GROUP BY b.id, s.value",
        "options": {
          "queryReplacement": "={{ [$node[\"Init Book (Optional)\"].json.id] }}"
        }
      },
      "id": "3e5e951b-2fe2-421a-93c6-86c8d483ca0b",
      "name": "Get Book Context1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -736,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "d893e195-51da-4ec3-a16d-3bd293df35a6",
      "name": "Agent: Scaffolder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        832,
        1568
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reqId = $('Webhook Router').first().json?.body?.requestId;\nconst rawTargetCount = Number($('Webhook Router').first().json?.body?.targetParagraphCount);\nconst targetCount = Number.isFinite(rawTargetCount) && rawTargetCount > 0 ? Math.min(25, Math.max(1, Math.round(rawTargetCount))) : null;\nif (!reqId) {\n  throw new Error('Missing requestId in SCAFFOLD_CHAPTER payload');\n}\n\nconst extractParagraphs = (payload) => {\n  if (!payload) return [];\n  if (Array.isArray(payload)) return payload;\n  if (Array.isArray(payload.paragraphs)) return payload.paragraphs;\n  if (Array.isArray(payload.chapters)) return payload.chapters;\n  if (payload.data && Array.isArray(payload.data.paragraphs)) return payload.data.paragraphs;\n  if (payload.result && Array.isArray(payload.result.paragraphs)) return payload.result.paragraphs;\n  return [];\n};\n\nlet paras = [];\nlet parseError = null;\n\nconst direct = extractParagraphs($node['Agent: Scaffolder'].json);\nif (direct.length > 0) {\n  paras = direct;\n} else {\n  const maybeContent = $node['Agent: Scaffolder'].json?.choices?.[0]?.message?.content;\n  if (typeof maybeContent === 'string') {\n    try {\n      const parsed = JSON.parse(maybeContent.replace(/```json\\n?|```/g, '').trim());\n      paras = extractParagraphs(parsed);\n    } catch (e) {\n      parseError = e?.message || 'Invalid JSON from Scaffolder';\n    }\n  } else if (maybeContent && typeof maybeContent === 'object') {\n    paras = extractParagraphs(maybeContent);\n  }\n}\n\nparas = Array.isArray(paras)\n  ? paras.map((p, i) => ({\n      title: (p && typeof p.title === 'string' && p.title.trim()) ? p.title.trim() : 'Sottocapitolo ' + (i + 1),\n      description: (p && typeof p.description === 'string')\n        ? p.description\n        : ((p && typeof p.summary === 'string') ? p.summary : '')\n    }))\n  : [];\n\nif (targetCount && paras.length > targetCount) {\n  paras = paras.slice(0, targetCount);\n}\n\nconst hasParagraphs = paras.length > 0;\nconst hasEnoughParagraphs = targetCount ? paras.length >= targetCount : hasParagraphs;\nconst status = hasEnoughParagraphs ? 'completed' : 'failed';\nconst responseData = hasEnoughParagraphs ? { paragraphs: paras } : null;\nconst errorMessage = hasEnoughParagraphs\n  ? null\n  : (parseError || ('Scaffolder produced ' + paras.length + ' paragraphs, expected at least ' + (targetCount || 1)));\n\nconst escapedResponse = responseData ? JSON.stringify(responseData).replace(/'/g, \"''\") : null;\nconst escapedError = errorMessage ? String(errorMessage).replace(/'/g, \"''\") : null;\n\nconst query = hasEnoughParagraphs\n  ? \"UPDATE ai_requests SET status = 'completed', response_data = '\" + escapedResponse + \"'::jsonb, error_message = NULL, updated_at = NOW() WHERE id = '\" + reqId + \"'::uuid;\"\n  : \"UPDATE ai_requests SET status = 'failed', response_data = NULL, error_message = '\" + escapedError + \"', updated_at = NOW() WHERE id = '\" + reqId + \"'::uuid;\";\n\nreturn { json: { query, status, requestId: reqId, paragraphs_count: paras.length } };"
      },
      "id": "188e35c1-165a-4352-8b09-8109e4ebbcf3",
      "name": "Build Scaffold Log Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        1568
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "a61231ac-571b-4a05-a731-4bcecd0da990",
      "name": "Response Scaffold",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1504,
        1568
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"text-embedding-3-small\", \"input\": $json.input } }}",
        "options": {}
      },
      "id": "adef2317-6e04-4460-8539-0f131bb99769",
      "name": "RAG: Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        1376
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM match_draft_chunks($1::uuid, $2::vector(1536), 0.2, 3);",
        "options": {
          "queryReplacement": "={{ $('Webhook Router').first().json.body.bookId }},{{ \"[\" + $json.data[0].embedding.join(\",\") + \"]\" }}"
        }
      },
      "id": "20c3584e-ebd3-466e-b6e7-2ab117259f12",
      "name": "RAG: Query Draft Chunks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        832,
        1376
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Build a robust OpenAI payload for SCAFFOLD_CHAPTER with explicit JSON schema instructions.\nconst webhookBody = $('Webhook Router').first().json?.body || {};\nconst context = $('Get Book Context (Scaffolder)').first().json || {};\nconst primaryModel = context.primary_model || 'gpt-4o';\nconst prompts = context.prompts || {};\nconst temps = context.temps || {};\n\nconst chapterTitle = webhookBody.chapter?.title || 'Capitolo Sconosciuto';\nconst chapterSummary = webhookBody.chapter?.summary || '';\nconst feedback = webhookBody.feedback || 'Nessun feedback. Genera da zero.';\nconst rawTargetCount = Number(webhookBody.targetParagraphCount);\nconst targetCount = Number.isFinite(rawTargetCount) && rawTargetCount > 0 ? Math.min(25, Math.max(1, Math.round(rawTargetCount))) : 5;\n\n// Read targetWordCount passed from frontend (proportional to book target pages)\nconst rawTargetWordCount = Number(webhookBody.targetWordCount);\nconst targetWordCount = Number.isFinite(rawTargetWordCount) && rawTargetWordCount > 0 ? Math.round(rawTargetWordCount) : 300;\n\nconst ragChunks = $('RAG: Query Scaffold').all()\n  .map(item => (item?.json?.content ? String(item.json.content) : ''))\n  .filter(Boolean)\n  .join('  ');\n\nconst systemPrompt = prompts.SCAFFOLDER || \"Sei l'Architetto Letterario W4U.\";\n\nconst schemaInstruction = [\n  'Rispondi SOLO con JSON valido, senza markdown e senza testo extra.',\n  'Schema obbligatorio:',\n  '{\"paragraphs\":[{\"title\":\"string\",\"description\":\"string\"}]}',\n  'Genera ESATTAMENTE ' + targetCount + ' elementi in paragraphs.',\n  'Ogni paragrafo, quando scritto dall\\'AI Writer, dovrà essere circa ' + targetWordCount + ' parole. Descrivi il contenuto in modo sufficiente a guidare una scrittura densa e approfondita di ' + targetWordCount + ' parole.'\n].join('\\n');\n\nconst userContent = [\n  'DATA:',\n  'BLUEPRINT: ' + JSON.stringify(context.context_data || {}),\n  'PLOT SUMMARY: ' + (context.plot_summary || ''),\n  'CURRENT CHAPTER: ' + chapterTitle + ' - ' + chapterSummary,\n  'RAG CONTEXT: ' + ragChunks,\n  'FEEDBACK/INSTRUCTION: ' + feedback,\n  schemaInstruction\n].join('\\n\\n');\n\nconst openaiPayload = {\n  model: primaryModel,\n  max_tokens: 4000,\n  temperature: temps.SCAFFOLDER || 0.7,\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userContent }\n  ]\n};\n\nreturn { json: openaiPayload };"
      },
      "id": "cd112094-2d81-4b44-83eb-a132bb519411",
      "name": "Build Scaffolder Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1568
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Webhook Router\"].json.body.textContent || \"\";\nconst bookId = $node[\"Webhook Router\"].json.body.bookId;\nconst chunkSize = 1000;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += chunkSize) {\n  chunks.push({\n    textContent: text.substring(i, i + chunkSize),\n    bookId: bookId,\n    chunkIndex: Math.floor(i / chunkSize)\n  });\n}\n\nreturn chunks.map(c => ({ json: c }));"
      },
      "id": "53a466bc-58d0-4765-9d03-786c9279c75b",
      "name": "Chunk Draft Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        2144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"text-embedding-3-small\", \"input\": $json.textContent } }}",
        "options": {}
      },
      "id": "c59a607e-cff9-4f39-a8d4-06cac09128c5",
      "name": "Index: Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        2144
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO draft_chunks (book_id, content, embedding, metadata) \nVALUES ($1::uuid, $2, $3::vector(1536), $4::jsonb)\nON CONFLICT DO NOTHING;",
        "options": {
          "queryReplacement": "={{ $node[\"Chunk Draft Text\"].json.bookId }},{{ $node[\"Chunk Draft Text\"].json.textContent }},{{ \"[\" + $json.data[0].embedding.join(\",\") + \"]\" }},{{ JSON.stringify({ index: $node[\"Chunk Draft Text\"].json.chunkIndex }) }}"
        }
      },
      "id": "fcc74f90-2ab4-46b8-ab8e-4980277335d6",
      "name": "Upsert Draft Chunk",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        160,
        2144
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Indexing completed\"}",
        "options": {}
      },
      "id": "abeb3c4a-237d-4f5d-a90f-e89c72511515",
      "name": "Response Indexing Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        384,
        2144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"text-embedding-3-small\", \"input\": $json.input } }}",
        "options": {}
      },
      "id": "cc77c49b-ce50-4889-83a6-66a88dadf5f2",
      "name": "RAG: Gen Emb Scaffold",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        1568
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM match_draft_chunks($1::uuid, $2::vector(1536), 0.2, 3);",
        "options": {
          "queryReplacement": "={{ $node[\"Webhook Router\"].json.body.bookId }},{{ \"[\" + $json.data[0].embedding.join(\",\") + \"]\" }}"
        }
      },
      "id": "351c52d2-f806-43a5-855f-79fbb462bd15",
      "name": "RAG: Query Scaffold",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        384,
        1568
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const webhookBody = $('Webhook Router').first().json?.body || {};\nconst title = webhookBody.chapter?.title || \"\";\nconst summary = webhookBody.chapter?.summary || \"\";\nreturn {\n  json: {\n    model: \"text-embedding-3-small\",\n    input: `${title} ${summary}`.trim() || \"Empty Context\"\n  }\n};"
      },
      "id": "489bcdd7-605d-4624-bfc6-c187017b9dec",
      "name": "Build Emb Scaffold Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        1568
      ]
    },
    {
      "parameters": {
        "jsCode": "const paragraph = $('Get Paragraph').first().json || {};\nconst title = paragraph.title || \"\";\nconst description = paragraph.description || \"\";\nreturn {\n  json: {\n    model: \"text-embedding-3-small\",\n    input: `${title} ${description}`.trim() || \"Empty Context\"\n  }\n};"
      },
      "id": "edf93a90-afcd-4d21-95b0-7e7b98123c0b",
      "name": "Build RAG Query Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        1376
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"started\"}",
        "options": {}
      },
      "id": "c2bb79f1-0702-43d9-b5dd-545483ce6a12",
      "name": "Respond Started",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -736,
        1856
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cover-cond",
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "GENERATE_COVER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "writer-cond",
                    "leftValue": "={{ ['WRITE', 'WRITE_PARAGRAPH'].includes($node[\"Webhook Router\"].json.body.action) }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "outline-cond",
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "OUTLINE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "edit-cond",
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "EDIT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "scaffold-cond",
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "SCAFFOLD_CHAPTER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "index-cond",
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "INDEX_DRAFT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "write-chapter-plan-cond",
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "WRITE_CHAPTER_FROM_PLAN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "expand-chapter-cond",
                    "leftValue": "={{ $node[\"Webhook Router\"].json.body.action }}",
                    "rightValue": "EXPAND_CHAPTER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "903c1346-bc00-41a6-beaf-a952b357d7a0",
      "name": "Async Action Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -512,
        1760
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_requests SET status = 'completed', response_data = $1::jsonb, updated_at = NOW() WHERE id = $2::uuid",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ aiResponse: $node[\"Agent: Writer\"].json.choices[0].message.content }) }}, {{ $node[\"Webhook Router\"].json.body.requestId }}"
        }
      },
      "id": "d51250c3-625c-4294-9f1e-201b4c4f2b37",
      "name": "Update Request Status (Writer)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1856,
        16
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Webhook Router\"].json.body.serverUrl }}/api/upload-cover",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "bookId",
              "value": "={{ $node[\"Webhook Router\"].json.body.bookId }}"
            },
            {
              "name": "imageUrl",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "024de549-3090-4b61-ae0d-bcb749b66101",
      "name": "Upload to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        2048
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_requests SET status = 'completed', response_data = $1::jsonb, updated_at = NOW() WHERE id = $2::uuid",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ cover_url: $json.cover_url }) }}, {{ $node[\"Webhook Router\"].json.body.requestId }}"
        }
      },
      "id": "65008120-a2de-43ba-bc48-bf52d203bfcf",
      "name": "Update AI Request Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1504,
        2048
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_requests SET status = 'completed', response_data = $1::jsonb, updated_at = NOW() WHERE id = $2::uuid",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ aiResponse: $node[\"Agent: Architect\"].json.choices[0].message.content }) }}, {{ $node[\"Webhook Router\"].json.body.requestId }}"
        }
      },
      "id": "846f6098-71d2-4de2-a732-d3563a8227e5",
      "name": "Update AI Request Status (Outline)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1856,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.*, s.value as primary_model, jsonb_object_agg(p.name, p.prompt_text) as prompts, jsonb_object_agg(p.name, p.temperature) as temps FROM books b CROSS JOIN (SELECT value FROM ai_settings WHERE key = 'primary_model') s LEFT JOIN LATERAL (  SELECT DISTINCT ON (name) name, prompt_text, temperature   FROM ai_prompts   WHERE is_active = true AND (genre = b.genre OR genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END OR genre = 'GENERAL')   ORDER BY name, (genre = b.genre) DESC, (genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END) DESC, created_at DESC) p ON true WHERE b.id = $1::uuid GROUP BY b.id, s.value",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId] }}"
        }
      },
      "id": "bf0b10a1-4b9f-4bb9-9be2-fc22ab770256",
      "name": "Get Book Context (Scaffolder)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -288,
        1568
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_usage_logs (book_id, operation_type, node_name, model, prompt_tokens, completion_tokens, total_tokens, estimated_cost_eur, metadata) \nVALUES (\n  '{{ $node[\"Webhook Router\"].json.body.bookId }}'::uuid,\n  'SCAFFOLD_CHAPTER',\n  'Agent: Scaffolder',\n  '{{ $node[\"Get Book Context (Scaffolder)\"].json.primary_model || \"gpt-4o\" }}',\n  {{ $json.usage ? $json.usage.prompt_tokens : 0 }},\n  {{ $json.usage ? $json.usage.completion_tokens : 0 }},\n  {{ $json.usage ? $json.usage.total_tokens : 0 }},\n  {{ \n    (function() {\n      const model = $node[\"Get Book Context (Scaffolder)\"].json.primary_model || \"gpt-4o\";\n      const isMini = model.includes(\"mini\");\n      const inPrice = isMini ? 0.00000015 : 0.0000025;\n      const outPrice = isMini ? 0.00000060 : 0.00001;\n      const promptTokens = $json.usage ? $json.usage.prompt_tokens : 0;\n      const completionTokens = $json.usage ? $json.usage.completion_tokens : 0;\n      return (promptTokens * inPrice + completionTokens * outPrice) * 1.05;\n    })()\n  }},\n  '{{ JSON.stringify($json.usage || {}) }}'::jsonb\n)",
        "options": {}
      },
      "id": "62c563fd-248a-45b7-9854-f4ffae1df58f",
      "name": "Log AI Usage: Scaffolder",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1056,
        1568
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.*, s.value as primary_model, jsonb_object_agg(p.name, p.prompt_text) as prompts, jsonb_object_agg(p.name, p.temperature) as temps FROM books b CROSS JOIN (SELECT value FROM ai_settings WHERE key = 'primary_model') s LEFT JOIN LATERAL (  SELECT DISTINCT ON (name) name, prompt_text, temperature   FROM ai_prompts   WHERE is_active = true AND (genre = b.genre OR genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END OR genre = 'GENERAL')   ORDER BY name, (genre = b.genre) DESC, (genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END) DESC, created_at DESC) p ON true WHERE b.id = $1::uuid GROUP BY b.id, s.value",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId] }}"
        }
      },
      "id": "353c34a2-fd19-4dda-a218-562d8fcf89d1",
      "name": "Get Book Context Chapter Writer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -288,
        2384
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.*, c.title AS chapter_title, c.summary AS chapter_summary FROM paragraphs p JOIN chapters c ON p.chapter_id = c.id WHERE p.chapter_id = $1::uuid ORDER BY p.paragraph_number ASC",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.chapterId] }}"
        }
      },
      "id": "b68285b5-761e-48ac-b427-48b1fd211dbe",
      "name": "Get Chapter Paragraphs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -64,
        2384
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const paragraphs = $items(\"Get Chapter Paragraphs\").map(i => i.json);\nconst context = $node[\"Get Book Context Chapter Writer\"].json || {};\nconst webhook = $node[\"Webhook Router\"].json.body || {};\n\nif (!Array.isArray(paragraphs) || paragraphs.length === 0) {\n  throw new Error('No scaffold paragraphs found for chapter writer');\n}\n\n// FILTER PARAGRAPHS BASED ON RANGE (SPLIT CHAPTER LOGIC)\nconst range = webhook.paragraphRange;\nlet targetParagraphs = paragraphs;\nif (Array.isArray(range) && range.length === 2) {\n  targetParagraphs = paragraphs.filter(p => p.paragraph_number >= range[0] && p.paragraph_number <= range[1]);\n  if (targetParagraphs.length === 0) {\n     throw new Error(`No paragraphs found in range ${range[0]}-${range[1]}`);\n  }\n}\n\nconst model = context.primary_model || 'gpt-4o';\nconst temperature = context.temps.CHAPTER_WRITER || 0.5;\nconst systemPrompt = context.prompts.CHAPTER_WRITER || 'Sei un autore professionale. Scrivi testi coerenti, specifici e narrativamente solidi.';\nconst chapter = targetParagraphs[0] || {};\nconst chapterTitle = chapter.chapter_title || webhook.chapterTitle || 'Capitolo senza titolo';\nconst chapterSummary = chapter.chapter_summary || webhook.chapterSummary || '';\nconst targetWordCount = Number(webhook.targetWordCount);\nconst safeTargetWordCount = Number.isFinite(targetWordCount) && targetWordCount > 0 ? Math.round(targetWordCount) : Math.max(1200, targetParagraphs.length * 250);\nconst minWordCount = Math.max(800, Math.floor(safeTargetWordCount * 0.9));\nconst outlineStr = targetParagraphs.map((p) => `- ${p.paragraph_number}. ${p.title}\\n  Obiettivo: ${p.description || '(non specificato)'}`).join('\\n');\nconst continuity = (context.context_data?.messages || []).slice(-12).map((m) => `${m.role}: ${m.content}`).join('\\n');\n\nconst userPrompt = [\n  `TITOLO LIBRO: ${context.title || ''}`,\n  `PLOT SUMMARY: ${context.plot_summary || ''}`,\n  `BLUEPRINT: ${JSON.stringify(context.context_data || {})}`,\n  `CAPITOLO: ${chapterTitle}`,\n  `SINTESI CAPITOLO: ${chapterSummary}`,\n  '',\n  `TRACCIA DEI SOTTOCAPITOLI DA COPRIRE IN QUESTA PARTE (${webhook.partNumber || 1}/${webhook.totalParts || 1}):`,\n  outlineStr,\n  '',\n  'CONTINUITA DALLA FASE PRECEDENTE:',\n  continuity || '(non disponibile)',\n  '',\n  `VINCOLO LUNGHEZZA: scrivi l'intero capitolo con almeno ${minWordCount} parole e obiettivo ${safeTargetWordCount} parole complessive.`,\n  'REGOLE:',\n  '- Copri tutti i sottocapitoli nell ordine dato, senza saltarne nessuno.',\n  '- Mantieni coerenza narrativa, evita ripetizioni e filler.',\n  '- Ogni contenuto deve essere testo finale, non scalette o note metatestuali.',\n  '- Restituisci SOLO JSON valido con questa forma:',\n  '{\"paragraphs\":[{\"paragraph_number\":1,\"content\":\"...\"}]}',\n  '- L array paragraphs deve contenere esattamente un elemento per ogni sottocapitolo previsto.',\n  '- Usa gli stessi paragraph_number della traccia.'\n].join('\\n');\n\nreturn [{\n  json: {\n    model,\n    temperature,\n    systemPrompt,\n    userPrompt,\n    expectedParagraphs: targetParagraphs.length,\n    targetWordCount: safeTargetWordCount\n  }\n}];"
      },
      "id": "a6230568-4068-42f0-95b4-c8bf80493de0",
      "name": "Prepare Writer Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        2384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": $node[\"Prepare Writer Payload\"].json.model, \"temperature\": $node[\"Prepare Writer Payload\"].json.temperature, \"response_format\": { \"type\": \"json_object\" }, \"messages\": [ { \"role\": \"system\", \"content\": $node[\"Prepare Writer Payload\"].json.systemPrompt }, { \"role\": \"user\", \"content\": $node[\"Prepare Writer Payload\"].json.userPrompt } ] } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "cc0a32f2-6fdb-460a-b0d5-c057d4e17b0a",
      "name": "Agent: Chapter Writer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        384,
        2384
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const expectedParagraphs = Number($node['Prepare Writer Payload'].json.expectedParagraphs || 0);\nlet rawContent = $items('Agent: Chapter Writer')[0].json.choices[0].message.content;\nrawContent = rawContent.replace(/```json\\n?|```/g, '').replace(/<think>[\\\\s\\\\S]*?<\\/think>/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (e) {\n  throw new Error('Invalid JSON from chapter writer: ' + rawContent);\n}\n\nconst paragraphs = Array.isArray(parsed?.paragraphs) ? parsed.paragraphs : [];\nif (!Array.isArray(paragraphs) || paragraphs.length === 0) {\n  throw new Error('Chapter writer returned no paragraphs');\n}\n\nconst normalized = paragraphs\n  .map((paragraph) => ({\n    paragraph_number: Number(paragraph?.paragraph_number),\n    content: typeof paragraph?.content === 'string' ? paragraph.content.replace(/```markdown\\n?|```/g, '').trim() : ''\n  }))\n  .filter((paragraph) => Number.isFinite(paragraph.paragraph_number) && paragraph.paragraph_number > 0 && paragraph.content.length > 0)\n  .sort((a, b) => a.paragraph_number - b.paragraph_number);\n\nif (expectedParagraphs > 0 && normalized.length !== expectedParagraphs) {\n  throw new Error(`Chapter writer returned ${normalized.length} paragraphs, expected ${expectedParagraphs}`);\n}\n\nconst uniqueNumbers = new Set(normalized.map((paragraph) => paragraph.paragraph_number));\nif (uniqueNumbers.size !== normalized.length) {\n  throw new Error('Chapter writer returned duplicate paragraph_number values');\n}\n\nreturn [{ json: { paragraphs: normalized } }];"
      },
      "id": "fe838dd2-8652-4b6e-82d2-383f6ec27d5f",
      "name": "Sanitize Chapter JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        2384
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE paragraphs p SET content = j.content, status = 'COMPLETED', actual_word_count = array_length(regexp_split_to_array(j.content, '\\\\s+'), 1) FROM jsonb_to_recordset($1::jsonb) AS j(paragraph_number int, content text) WHERE p.chapter_id = $2::uuid AND p.paragraph_number = j.paragraph_number",
        "options": {
          "queryReplacement": "={{ [JSON.stringify($json.paragraphs || []), $node[\"Webhook Router\"].json.body.chapterId] }}"
        }
      },
      "id": "fb46d8b4-74cf-47b2-8b3d-8c50c2bbb471",
      "name": "Update Chapter Paragraphs Bulk",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        832,
        2384
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE chapters c SET content = chapter_data.compiled_content, actual_word_count = chapter_data.actual_word_count, status = 'COMPLETED', updated_at = NOW() FROM ( SELECT p.chapter_id, string_agg(COALESCE(p.content, ''), E'\\n\\n' ORDER BY p.paragraph_number ASC) AS compiled_content, COALESCE(SUM(COALESCE(p.actual_word_count, array_length(regexp_split_to_array(COALESCE(p.content, ''), '\\\\s+'), 1))), 0) AS actual_word_count FROM paragraphs p WHERE p.chapter_id = $1::uuid GROUP BY p.chapter_id ) AS chapter_data WHERE c.id = chapter_data.chapter_id",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.chapterId] }}"
        }
      },
      "id": "e6c53807-6249-4193-96d5-ec94658b3271",
      "name": "Mark Chapter Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1056,
        2384
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"completed\", \"data\": { \"chapterId\": $node[\"Webhook Router\"].json.body.chapterId, \"paragraphs\": $node[\"Sanitize Chapter JSON\"].json.paragraphs, \"targetWordCount\": $node[\"Prepare Writer Payload\"].json.targetWordCount } } }}",
        "options": {}
      },
      "id": "6c93d6f0-af73-4a15-99d2-3c076cfff055",
      "name": "Response Chapter Writer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1280,
        2384
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.*, s.value as primary_model, jsonb_object_agg(p.name, p.prompt_text) as prompts, jsonb_object_agg(p.name, p.temperature) as temps FROM books b CROSS JOIN (SELECT value FROM ai_settings WHERE key = 'primary_model') s LEFT JOIN LATERAL (  SELECT DISTINCT ON (name) name, prompt_text, temperature   FROM ai_prompts   WHERE is_active = true AND (genre = b.genre OR genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END OR genre = 'GENERAL')   ORDER BY name, (genre = b.genre) DESC, (genre = CASE WHEN b.genre IN ('Saggistica Scientifica o Storica', 'Tecnologia e AI', 'Business & Self-Help', 'Hobby e Passioni', 'Salute, Dieta e Benessere', 'Finanza Personale e Investimenti', 'Biografie e Memorie') THEN 'Non-Fiction' ELSE 'Fiction' END) DESC, created_at DESC) p ON true WHERE b.id = $1::uuid GROUP BY b.id, s.value",
        "options": {
          "queryReplacement": "={{ [$node[\"Webhook Router\"].json.body.bookId] }}"
        }
      },
      "id": "be0eba65-fbc8-4de3-98dc-f48f9f63ad9d",
      "name": "Get Book Context Expander",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -288,
        2576
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const book = $node[\"Get Book Context Expander\"].json || {};\n  const body = $node[\"Webhook Router\"].json.body || {};\n  const fullText = body.fullText || \"\";\n  const deficit = Number(body.deficit || 300);\n  const targetWordCount = Number(body.targetWordCount || 1500);\n\n  const expanderPrompt = book.prompts?.EXPANDER || \"Sei un editor professionista. Espandi il testo fornito aggiungendo dettagli, esempi e approfondimenti senza alterare la struttura. Restituisci il testo completo espanso.\";\n\n  return {\n    model: book.primary_model || \"gpt-4o\",\n    temperature: book.temps?.EXPANDER || 0.4,\n    max_tokens: 4096,\n    messages: [\n      { role: \"system\", content: expanderPrompt + \"\\n\\nIMPORTANTE: Mantieni rigorosamente la divisione in paragrafi usando il doppio a capo (\\n\\n) tra un paragrafo e l'altro. Non unire i paragrafi esistenti.\" },\n      { role: \"user\", content:\n`TESTO DA ESPANDERE:\\n${fullText}\\n\\nISTRUZIONI:\\n- Il testo attuale è troppo corto rispetto all'obiettivo.\\n- Devi aggiungere circa ${deficit} parole distribuite uniformemente tra i paragrafi esistenti.\\n- Target totale: almeno ${targetWordCount} parole.\\n- NON rimuovere contenuto esistente.\\n- NON alterare la struttura dei paragrafi (mantieni i titoli e la sequenza).\\n- Arricchisci con dettagli, esempi, approfondimenti.\\n- Usa il doppio invio (\\n\\n) per separare i paragrafi.\\n- Restituisci SOLO il testo espanso completo, senza commenti o markup.` }\n    ]\n  };\n})() }}",
        "options": {
          "timeout": 480000
        }
      },
      "id": "42a52470-aa8f-4f79-bdf8-9c6894d7c4b2",
      "name": "Agent: Expander",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -64,
        2576
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ai_requests SET status = 'completed', response_data = $1::jsonb, updated_at = NOW() WHERE id = $2::uuid",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ expandedText: $node[\"Agent: Expander\"].json.choices[0].message.content }) }}, {{ $node[\"Webhook Router\"].json.body.requestId }}"
        }
      },
      "id": "7596bc7a-4d80-45f6-b218-0561c734d897",
      "name": "Update Request Status (Expander)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        160,
        2576
      ],
      "credentials": {
        "postgres": {
          "id": "0AsoTCNHEls3AaYu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sei un copywriter editoriale esperto. Scrivi una quarta di copertina (blurb) accattivante ed editoriale di circa 100-150 parole per il libro. Assicurati che il tono sia persuasivo, senza svelare il finale, e studiato per invogliare il lettore ad acquistare il libro. Rispondi SOLO con il blurb finito.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Titolo: {{ $('Webhook Router').item.json.body.title }}\\nAutore: {{ $('Webhook Router').item.json.body.author }}\\nSinossi/Trama: {{ $('Webhook Router').item.json.body.synopsis }}\"\n    }\n  ],\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "2d42b5c3-9b7e-4076-a70e-544fcf18a429",
      "name": "Agent: Back Cover Blurb",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1024,
        1440
      ],
      "credentials": {
        "openAiApi": {
          "id": "lIvnrEKrZKxdIRLJ",
          "name": "OpenAi account 5"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"blurb\": $json.choices[0].message.content } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -992,
        1744
      ],
      "id": "c34247f9-1e7c-49f1-b512-5a8697c7c919",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Auth Check": {
      "main": [
        [
          {
            "node": "Auth Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Refine Prompt with LLM": {
      "main": [
        [
          {
            "node": "Extract & Sanitize Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Editor": {
      "main": [
        [
          {
            "node": "Response Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Plotter": {
      "main": [
        [
          {
            "node": "Sanitize Plot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Writer": {
      "main": [
        [
          {
            "node": "Sanitize Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Architect": {
      "main": [
        [
          {
            "node": "Sanitize Chapters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Interviewer": {
      "main": [
        [
          {
            "node": "Log Assistant Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Concept Gen1": {
      "main": [
        [
          {
            "node": "Sanitize Concepts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Cover URL": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Sanitize Prompt": {
      "main": [
        [
          {
            "node": "Generate Cover (DALL-E 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refine Prompt with LLM": {
      "main": [
        [
          {
            "node": "Log AI Usage: Refine Prompt with LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cover Prompt": {
      "main": [
        [
          {
            "node": "Refine Prompt with LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Cover": {
      "main": [
        [
          {
            "node": "Prepare Cover Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Chapters": {
      "main": [
        [
          {
            "node": "Response Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Concepts": {
      "main": [
        [
          {
            "node": "Update Blueprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Blueprint": {
      "main": [
        [
          {
            "node": "Response Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Editor": {
      "main": [
        [
          {
            "node": "Log AI Usage: Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Editor": {
      "main": [
        [
          {
            "node": "Agent: Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send File to Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Assistant Reply": {
      "main": [
        [
          {
            "node": "Response Interview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Writer": {
      "main": [
        [
          {
            "node": "Update Paragraph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Plot": {
      "main": [
        [
          {
            "node": "Update Plot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Plot": {
      "main": [
        [
          {
            "node": "Agent: Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Plotter": {
      "main": [
        [
          {
            "node": "Log AI Usage: Plotter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Concept Architect1": {
      "main": [
        [
          {
            "node": "Calculator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Book (Optional)": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Webhook": {
      "main": [
        [
          {
            "node": "Init Book (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Writer": {
      "main": [
        [
          {
            "node": "Log AI Usage: Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book": {
      "main": [
        [
          {
            "node": "Get Previous Paragraphs Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Architect": {
      "main": [
        [
          {
            "node": "Log AI Usage: Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "main": [
        [
          {
            "node": "Agent: Plotter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Interviewer": {
      "main": [
        [
          {
            "node": "Log AI Usage: Interviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Get Book Context1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Concept1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Concept Architect1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Chapter Writer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent: Back Cover Blurb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Router": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Concept Gen1": {
      "main": [
        [
          {
            "node": "Log AI Usage: Concept Gen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Concept1": {
      "main": [
        [
          {
            "node": "Agent: Concept Gen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context1": {
      "main": [
        [
          {
            "node": "Agent: Interviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Paragraph": {
      "main": [
        [
          {
            "node": "Get Book",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Paragraphs Context": {
      "main": [
        [
          {
            "node": "Build RAG Query Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Scaffolder": {
      "main": [
        [
          {
            "node": "Log AI Usage: Scaffolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage: Scaffolder": {
      "main": [
        [
          {
            "node": "Build Scaffold Log Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scaffold Log Query": {
      "main": [
        [
          {
            "node": "Response Scaffold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cover (DALL-E 3)": {
      "main": [
        [
          {
            "node": "Normalize Cover URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log AI Usage: Generate Cover (DALL-E 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG: Generate Embedding": {
      "main": [
        [
          {
            "node": "RAG: Query Draft Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG: Query Draft Chunks": {
      "main": [
        [
          {
            "node": "Agent: Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scaffolder Payload": {
      "main": [
        [
          {
            "node": "Agent: Scaffolder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Draft Text": {
      "main": [
        [
          {
            "node": "Index: Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Index: Generate Embedding": {
      "main": [
        [
          {
            "node": "Upsert Draft Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Draft Chunk": {
      "main": [
        [
          {
            "node": "Response Indexing Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG: Gen Emb Scaffold": {
      "main": [
        [
          {
            "node": "RAG: Query Scaffold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG: Query Scaffold": {
      "main": [
        [
          {
            "node": "Build Scaffolder Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Emb Scaffold Payload": {
      "main": [
        [
          {
            "node": "RAG: Gen Emb Scaffold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build RAG Query Payload": {
      "main": [
        [
          {
            "node": "RAG: Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Started": {
      "main": [
        [
          {
            "node": "Async Action Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Async Action Router": {
      "main": [
        [
          {
            "node": "Get Book Context Cover",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Paragraph",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Concept Architect1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Editor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context (Scaffolder)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chunk Draft Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Chapter Writer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Book Context Expander",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context (Scaffolder)": {
      "main": [
        [
          {
            "node": "Build Emb Scaffold Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [
          {
            "node": "Update AI Request Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update AI Request Status": {
      "main": [
        [
          {
            "node": "Response Cover Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Chapter Writer": {
      "main": [
        [
          {
            "node": "Get Chapter Paragraphs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chapter Paragraphs": {
      "main": [
        [
          {
            "node": "Prepare Writer Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Chapter Writer": {
      "main": [
        [
          {
            "node": "Sanitize Chapter JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Chapter JSON": {
      "main": [
        [
          {
            "node": "Update Chapter Paragraphs Bulk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Chapter Paragraphs Bulk": {
      "main": [
        [
          {
            "node": "Mark Chapter Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Writer Payload": {
      "main": [
        [
          {
            "node": "Agent: Chapter Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Chapter Completed": {
      "main": [
        [
          {
            "node": "Response Chapter Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Context Expander": {
      "main": [
        [
          {
            "node": "Agent: Expander",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Expander": {
      "main": [
        [
          {
            "node": "Update Request Status (Expander)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Back Cover Blurb": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ee8ba8f2-582c-40f1-ade7-1a68ae0d918b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e886da68f5367daa0e3870b7be67336a858c521a1f653709b4406ff2f5e1505"
  },
  "id": "Ju8Vmm4FMX6CL5tR",
  "tags": []
}